{% extends 'project/dashboard_base.html'%}
<!--{% load index %}-->

{% block content %}

{% for error in errors %}
<font color="red">{{ error }}</font>
{% endfor %}
<ol class="breadcrumb breadcrumb-quirk">
        <li><a href=""><i class="fa fa-home mr5"></i> IVR phone numbers</a></li>

      </ol>
<div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">List of Phone Numbers</h4>
          <p>List of phone numbers for IVR</p>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped nomargin">
              <thead>
                <tr>
                  <th class="text-center">
                    <label class="ckbox ckbox-primary">
                      <input type="checkbox"><span></span>
                    </label>
                  </th>
                  <th>Phone Numbers</th>

                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for contacts in ivr_list %}
                <tr>
                  <td class="text-center">
                    <label class="ckbox ckbox-primary">
                      <input type="checkbox"><span></span>
                    </label>
                  </td>
                  <td>{{contacts.phone_number}}</td>
                  <td>
                    <ul class="table-options">
                      <li><a href=""><i class="fa fa-pencil fa-1x"></i></a></li>
                      <!--<li><a href="basic-tables.html"><i class="fa fa-trash"></i></a></li>-->
                    </ul>
                  </td>
                </tr>
               {% endfor %}
              </tbody>
            </table>
          </div><!-- table-responsive -->
        </div>
      </div><!-- panel -->

      {% endblock %}
