{% extends "landingPage/base.html" %}

{% load staticfiles %}

{% block title %}
About
{% endblock title %}


{% block content %}
<div class="row h-third-row">
  <div class="m1170 p-relative h250">
    <div class="col-sm-12 h-page-name wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
      About TransGov
      <div class="h-current-page">
        <a href="{% url 'homePage'%}" ><span class="f-orange">Home</span></a> <span class="f-slash">/</span> About
      </div>
    </div>
  </div>
</div>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="m1170">
        <div class="about-1 text-center color333 top40 font14 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
          Recognizing the vital role of information in local development,
          TransGov is leveraging on Ghana's Open Data Initiative (GODI) to
          enable citizens to monitor and comment on the implementation and
          progress of developmental projects in their local communities and
          nationwide.
        </div>
        <div class="about-1-content top40">
          <div class="col-sm-6 about-1-pict top20 wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s">
            <img src="{% static "images/about-1-pict.jpg"%}"  alt="wd" >
          </div>

          <div class="col-sm-6 about-1-content-txt top20 wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
            <h5 class="f-left width100"><b class="color333 uppercase"></b>What TransGov Does</b></h5>
            <div class="top30 font13 color777">
              Our aim is to give citizens and duty bearers alike, access to
              timely and accurate data to help advance accountability, public
              involvement and data-driven decision-making in local governance.
              This we believe is key to creating an accountable and effective government,
              starting from the local assemblies.
              <br />
              <br />
              Our field research indicates that many citizens are not aware of the
              actual state of development projects in their localities. The lack of
              readily available and accessible information has led to general public apathy.
              Our platform was created out of the need to increase citizen engagement,
              enhance information disclosure and dissemination and create avenues for citizens
              to engage with their local leaders in their communities.
              <br />
              <br />
              We believe that our technology, which includes a web platform, a mobile application,
              voice response technology (IVR) and SMS, can help Ghanaian citizens to increase the
              level of influence they have on policies or programs that affect their well-being.
              <br />
              <br />
            </div>

          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <!--<div class="row bgf7 top30">-->
      <!--<div class="m1170">-->
        <!--<div class="col-sm-12">-->
          <!--<div class="about-title extrabold uppercase color333 top60">-->
            <!--<span class="bgf7 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">team</span>-->
          <!--</div>-->
          <!--<div class="font14 color777 text-center top10 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">-->
            <!--The awesome team behind TransGov.-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="members-acc">-->
          <!--<div class="col-sm-3 top60 f-left">-->
            <!--<div class="member-prof wow zoomIn" data-wow-delay="0.7s" data-wow-duration="1.5s">-->
              <!--<div class="memb-photo memb-photo1">-->
                <!--<img src="{% static "images/team/jerry.jpg" %}" alt="wd" >-->
                <!--<div class="memb-photo-hover memb-photo-hover1">-->
                  <!--<div class="memb-photo-links">-->
                    <!--<a target="_blank" href="11-about.html#">-->
                      <!--<div class="img-icons"><i class="fa fa-linkedin">&nbsp;</i></div>-->
                    <!--</a>-->
                    <!--<a target="_blank" href="11-about.html#">-->
                      <!--<div class="img-icons"><i class="fa fa-twitter">&nbsp;</i></div>-->
                    <!--</a>-->
                    <!--<a target="_blank" href="mailto:jerry@transgovgh.org">-->
                      <!--<div class="img-icons"><i class="fa fa-envelope-o">&nbsp;</i></div>-->
                    <!--</a>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="memb-txt">-->
                <!--<b class="font14 color333 uppercase">Jerry King</b><br />-->
                <!--<span class="font12 uppercase blue semibold">Chief Executive Officer</span>-->
                <!--<div class="font12 color777 top10"><i class="fa fa-phone"></i> <b>+233 24 307 7587</b></div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-sm-3 top60 f-left">-->
            <!--<div class="member-prof wow zoomIn" data-wow-delay="0.7s" data-wow-duration="1.5s">-->
              <!--<div class="memb-photo memb-photo2">-->
                <!--<img src="{% static "images/team/prince.jpg" %}" alt="wd" >-->
                <!--<div class="memb-photo-hover memb-photo-hover2">-->
                  <!--<div class="memb-photo-links">-->
                    <!--<a target="_blank" href="11-about.html#">-->
                      <!--<div class="img-icons"><i class="fa fa-linkedin">&nbsp;</i></div>-->
                    <!--</a>-->
                    <!--<a target="_blank" href="11-about.html#">-->
                      <!--<div class="img-icons"><i class="fa fa-twitter">&nbsp;</i></div>-->
                    <!--</a>-->
                    <!--<a target="_blank" href="mailto:prince@transgovgh.org">-->
                      <!--<div class="img-icons"><i class="fa fa-envelope-o">&nbsp;</i></div>-->
                    <!--</a>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="memb-txt">-->
                <!--<b class="font14 color333 uppercase">Prince Anim</b><br />-->
                <!--<span class="font12 uppercase blue semibold">Director of Social Impact/Finance</span>-->
                <!--<div class="font12 color777 top10"><i class="fa fa-phone"></i> <b>+233 24 632 5632</b></div>-->
              <!--</div>-->

            <!--</div>-->

          <!--</div>-->
          <!--<div class="col-sm-3 top60 f-left">-->
            <!--<div class="member-prof wow zoomIn" data-wow-delay="0.7s" data-wow-duration="1.5s">-->
              <!--<div class="memb-photo memb-photo3">-->
                <!--<img src="{% static 'images/team/kennedy1.jpg' %}" alt="wd" >-->
                <!--<div class="memb-photo-hover memb-photo-hover3">-->
                  <!--<div class="memb-photo-links">-->
                    <!--<a target="_blank" href="https://gh.linkedin.com/in/kennedy-anyinatoe-5491237a-->
                    <!--">-->
                    <!--<div class="img-icons"><i class="fa fa-linkedin">&nbsp;</i></div>-->
                  <!--</a>-->
                  <!--<a target="_blank" href="https://twitter.com/kennitwit">-->
                    <!--<div class="img-icons"><i class="fa fa-twitter">&nbsp;</i></div>-->
                  <!--</a>-->
                  <!--<a target="_blank" href="mailto:kennedy@transgovgh.org">-->
                    <!--<div class="img-icons"><i class="fa fa-envelope-o">&nbsp;</i></div>-->
                  <!--</a>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="memb-txt">-->
              <!--<b class="font14 color333 uppercase">Kennedy Anyinatoe</b><br />-->
              <!--<span class="font12 uppercase blue semibold">Chief Technology Officer</span>-->
              <!--<div class="font12 color777 top10"><i class="fa fa-phone"></i> <b>+233 24 642 4340</b></div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-3 top60 f-left">-->
          <!--<div class="member-prof wow zoomIn" data-wow-delay="0.7s" data-wow-duration="1.5s">-->
            <!--<div class="memb-photo memb-photo4">-->
              <!--<img src="{% static "images/team/kwame.jpg" %}" alt="wd" >-->
              <!--<div class="memb-photo-hover memb-photo-hover4">-->
                <!--<div class="memb-photo-links">-->
                  <!--<a target="_blank" href="11-about.html#">-->
                    <!--<div class="img-icons"><i class="fa fa-linkedin">&nbsp;</i></div>-->
                  <!--</a>-->
                  <!--<a target="_blank" href="11-about.html#">-->
                    <!--<div class="img-icons"><i class="fa fa-twitter">&nbsp;</i></div>-->
                  <!--</a>-->
                  <!--<a target="_blank" href="mailto:kwame@transgovgh.org">-->
                    <!--<div class="img-icons"><i class="fa fa-envelope-o">&nbsp;</i></div>-->
                  <!--</a>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="memb-txt">-->
              <!--<b class="font14 color333 uppercase">Kwame Yeboah</b><br />-->
              <!--<span class="font12 uppercase blue semibold">Director Of Operations</span>-->
              <!--<div class="font12 color777 top10"><i class="fa fa-phone"></i> <b>+233 26 109 6308</b></div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="clearfix"></div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <div class="row about-nav" data-wow-delay="0.7s" data-wow-duration="1.5s">
    <div class="">
      <div class="row navigation-row margin0">
        <div class="col-sm-8 about-nav-left">
          <ul class="list-styles colorfff f-right right20">
            <li><i class="fa icon-ok-circle">&nbsp;</i> Innovation</li>
            <li><i class="fa icon-ok-circle">&nbsp;</i> Open data</li>
            <li><i class="fa icon-ok-circle">&nbsp;</i> Data simplification </li>
            <li><i class="fa icon-ok-circle">&nbsp;</i> Project monitoring</li>
          </ul><div class="clearfix"></div>
        </div>
        <div class="col-sm-4 about-nav-right top-10">
          <div class="nav-right-cont uppercase colorfff">
            <a><h6><b><i class="font13 fa fa-angle-double-right"></i> Contact TransGov <i class="font13 fa fa-angle-double-left"></i></b></h6></a>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="row">
    <div class="m1170">
      <div class="col-md-12">
        <!--<div class="about-title extrabold uppercase color333 top60">-->
          <!--<span class="bgfff" data-wow-delay="0.7s" data-wow-duration="1.5s">what others say</span>-->
        <!--</div>-->

        <!--<div id="myCarousel" class="carousel slide blog-reviews" data-interval="3000">-->
          <!--<ol class="carousel-indicators blog-reviews-pagination bottom-80">-->
            <!--<li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
            <!--<li data-target="#myCarousel" data-slide-to="1"></li>-->
            <!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
          <!--</ol>-->
          <!--<div class="carousel-inner">-->
            <!--<div class="active item">-->
              <!--<div class="col-sm-6 p-left0 top40">-->
                <!--<div class="memb " data-wow-delay="0.7s" data-wow-duration="1.5s">-->
                  <!--<div class="member1 b-radius5">-->
                    <!--<div class="member-photo">-->
                      <!--<img src="{% static 'images/advocates/dorothy.jpg' %}" alt="wd" width="110px" height="110px" >-->
                    <!--</div>-->
                    <!--<div class="memb-main-content">-->
                      <!--<div class="font13 color777">-->
                        <!--Eiusmod tempor incidiunt labore velit emagna aliq enima-->
                        <!--veniam quis nostraud exercition laboris lorem ipsum dolor-->
                        <!--sit amet duia ella consectetur.-->
                      <!--</div>-->
                      <!--<div class="font14 color333 f-left top20 width100 text-left">-->
                        <!--<b>Dorothy Gordon</b>-->
                      <!--</div>-->
                      <!--<div class="raitings f-left">-->
                        <!--<div class="font11 blue uppercase semibold">Council Member-->
                          <!--<ul class="list-styles raitings-stars p-left20 inl-flex">-->
                            <!--<li>-->
                              <!--<i class="fa fa-star">&nbsp;</i>-->
                              <!--<i class="fa fa-star">&nbsp;</i>-->
                              <!--<i class="fa fa-star">&nbsp;</i>-->
                              <!--<i class="fa fa-star">&nbsp;</i>-->
                              <!--<i class="fa fa-star-o">&nbsp;</i>-->
                            <!--</li>-->
                          <!--</ul>-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--<i class="fa fa-quote-left fa-3x pull-right blockquote1"></i>-->
                      <!--<div class="clearfix"></div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col-sm-6 top40 p-left0">-->
                <!--<div class="memb " data-wow-delay="0.7s" data-wow-duration="1.5s">-->
                  <!--<div class="member2 b-radius5">-->



                    <!--<div class="member-photo">-->
                      <!--<img src="{% static 'images/memb-photo2.png' %}" alt="wd" width="110px" height="110px">-->
                    <!--</div>-->
                    <!--<div class="memb-main-content">-->
                      <!--<div class="font13 color777">-->
                        <!--Eiusmod tempor incidiunt labore velit emagna aliq enima-->
                        <!--veniam quis nostraud exercition laboris lorem ipsum dolor-->
                        <!--sit amet duia ella consectetur.-->
                      <!--</div>-->
                      <!--<div class="font14 color333 f-left top20 width100 text-left">-->
                        <!--<b>Christ Smith</b>-->
                      <!--</div>-->
                      <!--<div class="raitings f-left">-->
                        <!--<div class="font11 blue uppercase semibold">Media Advertising <ul class="list-styles raitings-stars p-left20 inl-flex">-->
                          <!--<li>-->
                            <!--<i class="fa fa-star">&nbsp;</i>-->
                            <!--<i class="fa fa-star">&nbsp;</i>-->
                            <!--<i class="fa fa-star">&nbsp;</i>-->
                            <!--<i class="fa fa-star">&nbsp;</i>-->
                            <!--<i class="fa fa-star-o">&nbsp;</i>-->
                          <!--</li>-->
                        <!--</ul></div>-->

                      <!--</div>-->
                      <!--<i class="fa fa-quote-left fa-3x pull-right blockquote1"></i>-->
                      <!--<div class="clearfix"></div>-->
                    <!--</div>-->



                  <!--</div>-->
                <!--</div>-->
              <!--</div><div class="clearfix"></div>-->
            <!--</div>-->
            <!--<div class="item">-->
              <!--<div class="col-sm-6 p-left0 top40">-->
                <!--<div class="memb " data-wow-delay="0.7s" data-wow-duration="1.5s">-->
                  <!--<div class="member1 b-radius5">-->
                    <!--<div class="member-photo">-->
                      <!--<img src="{% static 'images/advocates/dorothy.jpg' %}" alt="wd" width="110px" height="110px">-->
                    <!--</div>-->
                    <!--<div class="memb-main-content">-->
                      <!--<div class="font13 color777">-->
                        <!--Eiusmod tempor incidiunt labore velit emagna aliq enima-->
                        <!--veniam quis nostraud exercition laboris lorem ipsum dolor-->
                        <!--sit amet duia ella consectetur.-->
                      <!--</div>-->
                      <!--<div class="font14 color333 f-left top20 width100 text-left">-->
                        <!--<b>Christ Smith</b>-->
                      <!--</div>-->
                      <!--<div class="raitings f-left">-->
                        <!--<div class="font11 blue uppercase semibold">Media Advertising-->
                          <!--<ul class="list-styles raitings-stars p-left20 inl-flex">-->
                            <!--<li>-->
                              <!--<i class="fa fa-star">&nbsp;</i>-->
                              <!--<i class="fa fa-star">&nbsp;</i>-->
                              <!--<i class="fa fa-star">&nbsp;</i>-->
                              <!--<i class="fa fa-star">&nbsp;</i>-->
                              <!--<i class="fa fa-star-o"></i>-->
                            <!--</li>-->
                          <!--</ul>-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--<i class="fa fa-quote-left fa-3x pull-right blockquote1"></i>-->
                      <!--<div class="clearfix"></div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col-sm-6 top40 p-left0">-->
                <!--<div class="memb " data-wow-delay="0.7s" data-wow-duration="1.5s">-->
                  <!--<div class="member2 b-radius5">-->



                    <!--<div class="member-photo">-->
                      <!--<img src="{% static 'images/advocates/dorothy.jpg' %}" alt="wd" width="110px" height="110px">-->
                    <!--</div>-->
                    <!--<div class="memb-main-content">-->
                      <!--<div class="font13 color777">-->
                        <!--Eiusmod tempor incidiunt labore velit emagna aliq enima-->
                        <!--veniam quis nostraud exercition laboris lorem ipsum dolor-->
                        <!--sit amet duia ella consectetur.-->
                      <!--</div>-->
                      <!--<div class="font14 color333 f-left top20 width100 text-left">-->
                        <!--<b>Christ Smith</b>-->
                      <!--</div>-->
                      <!--<div class="raitings f-left">-->
                        <!--<div class="font11 blue uppercase semibold">Media Advertising <ul class="list-styles raitings-stars p-left20 inl-flex">-->
                          <!--<li>-->
                            <!--<i class="fa fa-star">&nbsp;</i>-->
                            <!--<i class="fa fa-star">&nbsp;</i>-->
                            <!--<i class="fa fa-star">&nbsp;</i>-->
                            <!--<i class="fa fa-star">&nbsp;</i>-->
                            <!--<i class="fa fa-star-o"></i>-->
                          <!--</li>-->
                        <!--</ul></div>-->

                      <!--</div>-->
                      <!--<i class="fa fa-quote-left fa-3x pull-right blockquote1"></i>-->
                      <!--<div class="clearfix"></div>-->
                    <!--</div>-->



                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="item">-->
              <!--<div class="col-sm-6 p-left0 top40">-->
                <!--<div class="memb " data-wow-delay="0.7s" data-wow-duration="1.5s">-->
                  <!--<div class="member1 b-radius5">-->
                    <!--<div class="member-photo">-->
                      <!--<img src="{% static 'images/advocates/dorothy.jpg' %}" alt="wd" width="110px" height="110px" >-->
                    <!--</div>-->
                    <!--<div class="memb-main-content">-->
                      <!--<div class="font13 color777">-->
                        <!--Eiusmod tempor incidiunt labore velit emagna aliq enima-->
                        <!--veniam quis nostraud exercition laboris lorem ipsum dolor-->
                        <!--sit amet duia ella consectetur.-->
                      <!--</div>-->
                      <!--<div class="font14 color333 f-left top20 width100 text-left">-->
                        <!--<b>Christ Smith</b>-->
                      <!--</div>-->
                      <!--<div class="raitings f-left">-->
                        <!--<div class="font11 blue uppercase semibold">Media Advertising-->
                          <!--<ul class="list-styles raitings-stars p-left20 inl-flex">-->
                            <!--<li><i class="fa fa-star">&nbsp;</i>-->
                              <!--<i class="fa fa-star">&nbsp;</i>-->
                              <!--<i class="fa fa-star">&nbsp;</i>-->
                              <!--<i class="fa fa-star">&nbsp;</i>-->
                              <!--<i class="fa fa-star-o"></i></li>-->
                            <!--</ul>-->
                          <!--</div>-->
                        <!--</div>-->
                        <!--<i class="fa fa-quote-left fa-3x pull-right blockquote1"></i>-->
                        <!--<div class="clearfix"></div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-6 top40 p-left0">-->
                  <!--<div class="memb " data-wow-delay="0.7s" data-wow-duration="1.5s">-->
                    <!--<div class="member2 b-radius5">-->



                      <!--<div class="member-photo">-->
                        <!--<img src="{% static 'images/advocates/dorothy.jpg' %}" alt="wd" width="110px" height="110px" >-->
                      <!--</div>-->
                      <!--<div class="memb-main-content">-->
                        <!--<div class="font13 color777">-->
                          <!--Eiusmod tempor incidiunt labore velit emagna aliq enima-->
                          <!--veniam quis nostraud exercition laboris lorem ipsum dolor-->
                          <!--sit amet duia ella consectetur.-->
                        <!--</div>-->
                        <!--<div class="font14 color333 f-left top20 width100 text-left">-->
                          <!--<b>Christ Smith</b>-->
                        <!--</div>-->
                        <!--<div class="raitings f-left">-->
                          <!--<div class="font11 blue uppercase semibold">Media Advertising-->
                            <!--<ul class="list-styles raitings-stars p-left20 inl-flex">-->
                              <!--<li><i class="fa fa-star">&nbsp;</i>-->
                                <!--<i class="fa fa-star">&nbsp;</i>-->
                                <!--<i class="fa fa-star">&nbsp;</i>-->
                                <!--<i class="fa fa-star">&nbsp;</i>-->
                                <!--<i class="fa fa-star-o"></i></li>-->
                              <!--</ul>-->
                            <!--</div>-->

                          <!--</div>-->
                          <!--<i class="fa fa-quote-left fa-3x pull-right blockquote1"></i>-->
                          <!--<div class="clearfix"></div>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

            <div class="clearfix"></div>

            {% include 'landingPage/partial_views/partners.html' %}


          </div>
        </div>
      </div>
    </div><div class="clearfix"></div>
  </section>

  {% endblock content %}
