{% load staticfiles %}
{% load google_analytics %}


<html>
<head>
    {% load mixpanel %}
  <meta charset="utf-8">
  <meta name="description" content="fostering open governance with developmetal projects in Ghana">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %} {% endblock title %} | TransGov </title>
  <!-- <link rel="icon" type="image/x-icon" href="{% static 'images/tg-favicon.ico' %}" /> -->
  <link rel="icon" type="image/x-icon" href="{% static 'images/tg-favicon.ico' %}" />



  <link href="{% static 'css/master.css' %}" rel="stylesheet">
  <link href="{% static 'css/remodal.css' %}" rel="stylesheet">
  <link href="{% static 'css/remodal-default-theme.css' %}" rel="stylesheet">
  <!--<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:100,200,300,400,600" rel="stylesheet" type="text/css">-->
  <link rel="stylesheet" href="{% static 'publicview/publicview.css' %}">
  <!-- SWITCHER -->
  <link rel="stylesheet" id="switcher-css" type="text/css" href="{% static 'assets/switcher/css/switcher.css' %}" media="all" />
  <link rel="alternate stylesheet" type="text/css" href="{% static 'assets/switcher/css/color1.css' %}" title="color1" media="all" data-default-color="true" />


        <!--[if lt IE 9]>
          <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
          <![endif]-->
     {% google_analytics %}
<!-- ######## GOOGLE ANALYTICS JS ########## -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83748632-1', 'auto');
  ga('send', 'pageview');

</script>
<!-- ######## END OF GOOGLE ANALYTICS JS ####### -->
{% mixpanel %}
<!-- ###### JS FOR SPOT.IM ###################-->
<script type="text/javascript">!function(t,e,n){function a(t){var a=e.createElement("script");a.type="text/javascript",a.async=!1,a.src=("https:"===e.location.protocol?"https":"http")+":"+n,(t||e.body||e.head).appendChild(a)}function o(){var t=e.getElementsByTagName("script"),n=t[t.length-1];return n.parentNode} var p=o();t.spotId="sp_1Yz5ecei",t.parentElement=p,a(p)}(window.SPOTIM={},document,"//www.spot.im/launcher/bundle.js");
</script>
<!--  ########## END OF JS FOR SPOT.IM ##########################-->
  </head>
    <body>
          <header>
            <div class="container-fluid">

              <div id="header" class="row h-second-row">
                <div class="m1170">
                  <div class="col-sm-4 col-xs-10 h-logo">
                    <div class="logotype">
                      <a href="/"><img src="{% static 'images/navbar-logo.png' %}" alt="TRANSGOVGH"></a>

                    </div><div class="clearfix"></div>
                  </div>
                  <div class="col-sm-8 col-xs-2 h-menu padding0">
                    <nav>
                      <i class="fa fa-bars mobileMenuNav mobileMenuSwitcher onlyMobileMenu"></i>
                      <div class="nav-container container-fluid padding0">
                        <i class="fa fa-times close-menu mobileMenuSwitcher onlyMobileMenu"></i>
                        <ul class="nav navbar-nav navbar-main navbar-right">
                          <li><a href="{% url 'homePage' %}">Home</a></li>

                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                          <li><a href="{% url 'aboutTransgov' %}">About TransGov</a></li>
                          <li><a href="{% url 'partners' %}">Partners</a></li>
                        </ul>
                        </li>

                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                          <li><a href="{% url 'publicViewProjects' %}">Project monitoring</a></li>
                          <li><a href="#">Fault reporting <span class="coming-soon" style="font-size: 9px;">(coming soon)</span> </a></li>
                          <li><a href="#">Open data project <span class="coming-soon" style="font-size: 9px;">(coming soon)</span> </a></li>
                        </ul>
                        </li>

                          <li><a href="{% url 'public_news_list' %}">News</a></li>
                          <!-- <li><a href=" view">Projects</a></li> -->
                          <li><a href="{% url 'publicListOfEvents' %}">Events</a></li>
                          <li><a href="{% url 'contact' %}">Contact</a></li>
                          {% if not user.is_authenticated %}
                          <li><a href="{% url 'account_login' %}">Login</a></li>
                          {% endif %}

                          {% if user.is_authenticated %}
                          <li><a href="{% url 'transgovDashboard'%}">Dashboard</a></li>
                          {% endif %}
                            {% if user.is_authenticated %}
                          <li><a href="{% url 'account_logout' %}">Signout</a></li>
                          {% endif %}
                          <!--<li><a href="/login">Login</a></li>-->
                          <!--<li><a href="/register">Register</a></li>-->
                        </ul>
                      </div>
                    </nav>
                  </div>
                </div>
              </div>

              {% block headerContent %}

              {% endblock headerContent %}

            </header>


            <!-- yield -->

            {% block content %} {% endblock content %}


            <footer style="margin-top:4%">
              <div class="container-fluid">

                <div class="row f-second-row footer">
                  <div class="m1170">
                    <div class="col-sm-4 f-1td top40" data-wow-delay="0.7s" data-wow-duration="1.5s">
                      <h5 class="uppercase colorfff footer-title"><b class="footer-title">About Transgov</b></h5>
                      <div class="footer-logo top30"><a class="footerLogo" href="/about-transgov"><div class=""><img src="{% static 'images/round-logo2.png' %}" alt="transgov logo"  style="background: white; padding: 1%; border-radius: 50%"></div><div class="no-wrap"></div></a></div>
                      <div class="footer-td1-txt coloraaa top30 p-right20" style="padding-left:20%;">
                       TransGov is an innovation that seeks to promote social accountability
                       through fostering citizens participation in local governance.
                       One of the biggest challenges with Ghana's decentralisation process
                       is low levels of participation and involvement of citizens in
                       policies and programmes that directly affect their well-being.
                       TransGov is bridging this gap by enabling citizen participation
                       through the use of various technologies aimed to cater to different
                       socio-economic backgrounds.
                     </div>
                     <a href="/about-transgov"><div class="button1-1 b-radius3 right30 button-blue top20">Read More</div></a>
                     <div class="clearfix"></div>
                   </div>

                   <div class="col-sm-4 f-2td top40" data-wow-delay="0.7s" data-wow-duration="1.5s">
                    <h5 class="uppercase colorfff"><b class="footer-title">main categories</b></h5>
                    <ul class="list-styles left-40 top30 f-left coloraaa footer-list p-right20">
                      <li><a href="#"><i class="fa icon-chevron-right">&nbsp;</i>Road Projects</a></li>
                      <li><a href="#"><i class="fa icon-chevron-right">&nbsp;</i>Health</a></li>
                      <li><a href="#"><i class="fa icon-chevron-right">&nbsp;</i>Education</a></li>
                    </ul>
                    <ul class="list-styles left-40 top30 f-left">
                      <li><a href="#"><i class="fa icon-chevron-right">&nbsp;</i>ICT Infrastructure</a></li>
                      <li><a href="#"><i class="fa icon-chevron-right">&nbsp;</i>Education</a></li>
                      <li><a href="#"><i class="fa icon-chevron-right">&nbsp;</i>Agric</a></li>

                    </ul>
                    <div class="clearfix"></div>
                  </div>

                  <div class="col-sm-4 f-3td top40" data-wow-delay="0.7s" data-wow-duration="1.5s">
                    <h5 class="uppercase colorfff"><b class="footer-title">GET IN TOUCH</b></h5>
                    <div class="top30 p-right20 coloraaa">
                      <b class="uppercase colorfff">Transgov Ghana</b>
                      <br />
                      19, Banana street, East Legon Accra
                      <br />

                      <br /><br />
                      <table class="colorfff">
                        <tr><td>call us</td><td class="p-left10 colorfff">+233 24 307 7587</td></tr>
                        <tr><td></td><td class="p-left10 colorfff">+233 24 632 5632</td></tr>
                        <tr><td></td><td class="p-left10 colorfff">+233 26 109 6308</td></tr>
                        <tr><td></td><td class="p-left10 colorfff">+233 24 642 4340</td></tr>
                        <tr><td>E-mail</td><td class="p-left10 ">contact@transgovgh.org</td></tr>
                        <!-- <tr><td></td><td class="p-left10 ">contact@transgovgh.org</td></tr> -->
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row f-third-row footer2">
                <div class="m1170">
                  <div class="footer-relative">
                    <div class="col-sm-6 left-footer2 " data-wow-delay="0.7s" data-wow-duration="1.5s">
                      &copy; 2018 TransGov Ghana - All Rights Reserved. <a href="#">Privacy Policy </a>
                    </div>
                    <div class="col-sm-6 right-footer2" data-wow-delay="0.7s" data-wow-duration="1.5s">
                      <a href="https://www.facebook.com/transgovgh/">
                        <div class="img-icons-2"><i class="fa fa-facebook">&nbsp;</i></div>
                      </a>
                      <a href="https://www.instagram.com/transgovgh/">
                        <div class="img-icons-2"><i class="fa fa-instagram">&nbsp;</i></div>
                      </a>
                      <a href="https://twitter.com/transgovgh">
                        <div class="img-icons-2"><i class="fa fa-twitter">&nbsp;</i></div>
                      </a>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>
          </footer>

          <!--Main-->
          <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
          <script src="{% static 'js/bootstrap.min.js' %}"></script>
          <script src="{% static 'js/modernizr.custom.js' %}"></script>
          <script src="{% static 'js/classie.js' %}"></script>
          <!--Switcher-->
          <script src="{% static 'assets/switcher/js/switcher.js' %}"></script>
          <!--Chosen-->
          <script src="{% static 'assets/chosen/chosen.jquery.min.js' %}"></script>
          <!--Bootstrap Slider-->
          <script src="{% static 'js/bootstrap-slider.js' %}"></script>
          <!--Bootstrap datepicker-->
          <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
          <!--Bootstrap datepicker-->
          <script src="{% static 'assets/slider-pro/js/jquery.sliderPro.min.js' %}"></script>

          <!--Theme-->
          <script src="{% static 'js/jquery.placeholder.min.js' %}"></script>
          <script src="{% static 'js/jquery.smooth-scroll.js' %}"></script>
          <script src="{% static 'js/wow.min.js' %}"></script>
          <script src="{% static 'js/theme.js' %}"></script>
          <script src="{% static 'js/subscribe_button.js' %}"></script>
          <script src="{% static 'js/remodal.js' %}"></script>


          <!-- ================================================== -->
          <!-- =============== START JQUERY SCRIPTS FOR PUBLIC VIEW================ -->
          <!-- ================================================== -->
          <script src="{% static 'publicview/publicview_jquery.js' %}"></script>
          <script src="{% static 'publicview/publicview_bootstrap.min.js' %}"></script>
          <script src="{% static 'js/ajax_code.js' %}"></script>


        <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/57cef2833bec6867d93ca7fe/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
        </body>
        <!--<script src="assets/js/placeholder.js"></script>-->
        <script>
         jQuery(function() {
          jQuery('input, textarea').placeholder();
        });
       </script>
       </html>
