{% extends 'landingPage/base.html' %}
{% load staticfiles %}
<html>
{% block title %}
Contact Us
{% endblock title %}
{% block content %}
<body>
		<!-- Loader -->
		<div id="page-preloader"><span class="spinner"></span></div>
		<!-- Loader end -->

		<header>
			<div class="container-fluid">
				<div class="row h-third-row">
					<div class="m1170 p-relative h250">
						<div class="col-sm-12 h-page-name p-absolute wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
							Contact Us
							<div class="h-current-page">
								<a href="{% url 'homePage' %}" ><span class="f-orange">Home</span></a> <span class="f-slash">/</span> Contact us
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<section>
			<div class="container-fluid">
				<div class="row row-gmaps">
					<div class="col-sm-12 padding0">
						<div id="map_canvas" class="cont-gmaps"></div>
					</div>
				</div>
				<div class="row margin0">

					<div class="m1170">

						<div class="main-content-contucts">
							<div class="col-sm-5 top40 p-right20">
								<h5 class="color333 wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s"><span class="extrabold uppercase bgfff p-right20">get in touch</span></h5>
								<div class=" font13 top30 color777 wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s">Please contact us if you need any help and we will get back to
									you as soon as possible.
								</div>
								<table class="tbl-contact-txt top20">
									<tr class=" wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s">
										<td class="td1">ADDRESS</td>
										<td class="td2"><div><b>TransGov Ghana.</b></div>
											<div>19 Banana Street, Ambassadorial Enclave,
                                                East Legon, Accra, Ghana.</div></td>
									</tr>
									<!--<tr class=" wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s">-->
										<!--<td class="td1">Telephone</td>-->
										<!--<td class="td2"> /  (233) 000 000 </td>-->
									<!--</tr>-->
									<tr class=" wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s">
										<td class="td1">EMAIL</td>
										<td class="td2">contact@transgovgh.org</td>
									</tr>
									<tr class=" wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s">
										<td class="td1">we are SOCIAL</td>
										<td class="td2">
											<a href="https://www.facebook.com/transgovgh"><i class="fa fa-facebook left0"></i></a>
											<a href="https://twitter.com/transgovgh"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-linkedin"></i></a>
										</td>
									</tr>
								</table>
							</div>
							<div class="col-sm-7 top40">
								<h5 class="color333 wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s"><span class="extrabold uppercase bgfff p-right20">send message</span></h5>
								<div id="success"></div>
								<form novalidate id="contactForm" class="el-form-1 f-left width100">
									<div class="col-sm-6 top20 wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
										<input id="user-name" class="form-1-style2 border1 borderf7 b-radius3" required="required" placeholder="Full Name *" />
									</div>
									<div class="col-sm-6 top20 wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
										<input id="user-email" class="form-1-style2 border1 borderf7 b-radius3" required="required" placeholder="Email Address *" />
									</div>
									<div class="col-sm-12 top20 wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
										<input id="user-website" class="form-1-style2 border1 borderf7 b-radius3" placeholder="Website" />
									</div>
									<div class="col-sm-12 top20 wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
										<input id="user-subject" class="form-1-style2 border1 borderf7 b-radius3" placeholder="Subject" />
									</div>
									<div class="col-sm-12 top20 wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
										<textarea id="user-message" class="form-1-style2 border1 borderf7 b-radius3" placeholder="Comment *" required="required"></textarea>
										<input type="submit" value="SUBMIT" class="submit-btn button1-1 b-radius3 right30 button-orange top20">
									</div>
								</form>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>
 		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyBjecI-6imH_4J_BNjUZtnSc-ggoFLh8yI"></script>

	<script type="text/javascript">
          function initialize() {
            var map = new google.maps.Map(document.getElementById("map_canvas"));
            var bounds = new google.maps.LatLngBounds();
            function addMarker(lat, lng, title) {
              var position = new google.maps.LatLng(lat, lng);
              var marker = new google.maps.Marker({
                position: position,
                map: map,
                title: title
              });
              bounds.extend(position);
            }

            addMarker(5.6452041,-0.15077399999995578);

            map.fitBounds(bounds);
          }
          google.maps.event.addDomListener(window, 'load', initialize);
        </script>

	</body>
{% endblock%}
