{% extends 'landingPage/base.html' %}


{% load staticfiles %}

{% block title %}
Home
{% endblock title %}

{% block content %}


<style>

    @media screen and (min-width: 900px) {
        .sp-image {
           margin-top: 0px !important;
       }
       .sp-desc-container {
           margin-top: 20%;
       }
   }
   @media screen and (max-width: 736px) {
    .find-btn {
       margin-top: 6%;
   }
}
.sp-desc-container .sp-layer {
    margin-top: -22%;
}
.how-it-works{
  margin-top: 15%;
}
.seeProjects {
    width: 40%;
    margin-left: 27%;
}
.row-pricing-details {
    margin-bottom:10%;
}
.law-digest-slider{
    color: #000000;
    margin-left: -6%; 

}
.download-button{
    margin-left: -6%;
    width: 14%;
     background-color: #eba100;

}
.download-button:hover{
text-decoration:  none;
}
.download-on-playstore{
    margin-left: -4%;
}
</style>
   <div class="row header-slider">
          <div class="main-slider">
            <div class="slider-pro full-width-slider" id="main-slider" data-width="100%" data-height="650" data-fade="true" data-buttons="false" data-wait-for-layers="true" data-thumbnail-pointer="false" data-touch-swipe="false" data-autoplay="true" data-auto-scale-layers="true" data-visible-size="100%" data-force-size="fullWidth" data-autoplay-delay="5000" >
              <div class="sp-slides">

                <!-- Slide 1 Try for law digest -->
                <div class="sp-slide">
                  <img class="sp-image" src="{% static "images/backgrounds/law_digest_slider_image.png" %}"  data-src="{% static "images/backgrounds/law_digest_slider_image.png" %}" data-retina="{% static "images/backgrounds/law_digest_slider_image.png" %}" alt="Image"/>
                  <div class="sp-desc-container">
                    <div class="sp-layer font42 semibold law-digest-slider col-md-3" data-vertical="10%" data-show-transition="up" data-hide-transition="up" data-show-delay="600" data-hide-delay="400">Know the Laws of Ghana <br>in a more simple and <br>engaging way.</div>

                    <div class="sp-layer font28" data-vertical="40%" data-show-transition="up" data-hide-transition="up" data-show-delay="1000" data-hide-delay="600"> <a href="https://play.google.com/store/apps/details?id=org.transgovgh.app"><img class="download-on-playstore" width="150px" src="{% static "images/backgrounds/download-on-playstore.png" %}"></a> </div>

                   <!--  <div class="sp-layer font28 " data-vertical="55%" data-show-transition="up" data-hide-transition="up" data-show-delay="1000" data-hide-delay="600"> <a href="https://play.google.com/store/apps/details?id=org.transgovgh.app" class="button1-1 b-radius3 button-orange top20 uppercase margin0auto download-button"> Download Now</a></div> -->
                  </div>
                </div>


                <!-- Slide 2 Fault reporting -->
                <div class="sp-slide">
                  <img class="sp-image" src="{% static "images/backgrounds/leakage-in-Madina-law-digest-5.jpg" %}"  data-src="{% static "images/backgrounds/leakage-in-Madina-law-digest-5.jpg" %}" data-retina="{% static "images/backgrounds/leakage-in-Madina-law-digest-5.jpg" %}" alt="Image"/>
                  <div class="sp-desc-container">
                    <div class="sp-layer font42 semibold law-digest-slider col-md-3" data-vertical="10%" data-show-transition="up" data-hide-transition="up" data-show-delay="600" data-hide-delay="400">Report faults in your <br> community.</div>

                    <div class="sp-layer font28" data-vertical="40%" data-show-transition="up" data-hide-transition="up" data-show-delay="1000" data-hide-delay="600"> <a href="https://play.google.com/store/apps/details?id=org.transgovgh.app"><img class="download-on-playstore" width="150px" src="{% static "images/backgrounds/download-on-playstore.png" %}"></a> </div>

                   <!--  <div class="sp-layer font28 " data-vertical="55%" data-show-transition="up" data-hide-transition="up" data-show-delay="1000" data-hide-delay="600"> <a href="https://play.google.com/store/apps/details?id=org.transgovgh.app" class="button1-1 b-radius3 button-orange top20 uppercase margin0auto download-button"> Download Now</a></div> -->
                  </div>
                </div>

                <!-- Slide 3 -->
                <div class="sp-slide">
                  <img class="sp-image" src="{% static "images/backgrounds/slider-two.jpg" %}" data-src="{% static "images/backgrounds/slider-two.jpg" %}" data-retina="{% static "images/backgrounds/slider-two.jpg" %}" alt="Image"/>
                  <div class="sp-desc-container">
                    <div class="sp-layer font42 semibold uppercase text-center" data-vertical="30%" data-show-transition="left" data-hide-transition="left" data-show-delay="600" data-hide-delay="400">Discover projects in your community</div>
                    <div class="sp-layer font28 light text-center" data-vertical="45%" data-show-transition="left" data-hide-transition="left" data-show-delay="800" data-hide-delay="600">Track and monitor the progress of projects in your local community.</div>
                  </div>
                </div>

                <!-- Slide 4 -->
                <div class="sp-slide">
                  <img class="sp-image" src="{% static "images/backgrounds/slider-three.jpg" %}"  data-src="{% static "images/backgrounds/slider-three.jpg" %}" data-retina="{% static "images/backgrounds/slider-three.jpg" %}" alt="Image"/>
                  <div class="sp-desc-container">
                    <div class="sp-layer font42 semibold uppercase text-center" data-vertical="30%" data-show-transition="right" data-hide-transition="right" data-show-delay="600" data-hide-delay="400">Empowering Ghanaians</div>
                    <div class="sp-layer font28 light text-center" data-vertical="45%" data-show-transition="right" data-hide-transition="right" data-show-delay="800" data-hide-delay="600">Your contribution will foster better governance leading to better service delivery and empowerment.</div>
                  </div>
                </div>
              </div>
            </div>
             <!-- SEARCH FORM -->
          </div>
        </div>


<!-- </section> -->
<div class="row p-relative home-1-reserv-row2" data-wow-delay="0.7s" data-wow-duration="1.5s">
    <div class="m1170 pl-15 pr-15 p-relative home-1-reserv">
     <a href="/listings">
       <!-- <div class="btn btn-success seeProjects">See Projects</div> -->
       </a>
   </div>
</div>

 <div class="row row-pricing-details" style="margin-top: -170;">
    <div class="m1170">
        <div class="col-sm-12 how-it-works">
            <div class="about-title extrabold uppercase top60">
                <span class="bgfff wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">How TransGov platform works</span>
            </div>
            <div class="color777 top20 font14 text-center wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
                Find & explore sub metro projects near your area and see what's happening.
            </div>

            <div class="">
                <div class="valign-table-cell height100 text-center">
                    <div class="col-sm-4 top30 wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s">
                        <img src="{% static 'images/we-help-1.png' %}" alt="wd">
                        <div class="font15 extrabold uppercase color333 help-title">View Projects</div>
                        <div class="font13 color777 top10 help-desc">Go through projects being undertaken in your local community and be up-to-date on their progress.
                        </div>
                    </div>
                    <div class="col-sm-4 top30 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
                        <img src="{% static 'images/we-help-2.png' %}" alt="wd">
                        <div class="font15 extrabold uppercase color333 help-title">Contribute to projects</div>
                        <div class="font13 color777 top10 help-desc">Do you have an insight to share on a project? Contribute by airing your views to help your local authority.
                        </div>
                    </div>
                    <div class="col-sm-4 top30 wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
                        <img src="{% static 'images/we-help-3.png' %}" alt="wd">
                        <div class="font15 extrabold uppercase color333 help-title">Get answers to your burning questions.</div>
                        <div class="font13 color777 top10 help-desc">Engage with local assembly members and get answers to all your burning questions on TransGov.
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

   <div class="row row-we-help">
        <div class="m1170 valign-table height100">
            <div class="valign-table-cell height100 text-center">
                <div class="font22 orange uppercase wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s"><b> We simplify data in governance and public sector. </b></div>
                <div class="font14 colorfff text-center wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">Discover all the projects in your community.</div>
            </div>
        </div>
    </div>



<div class="container-fluid home2">

    <div class="row featured-collection">
        <!-- CODE FOR ADVOCATES-->
        <!--<div class="m1170 height100">-->
            <!--<div class="col-sm-12">-->
                <!--<div class="about-title extrabold uppercase color333 width100">-->
                    <!--<span class="bgfff wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">TransGov Advocates</span>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="font14 color777 text-center wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">........</div>-->
            <!--<div class="featured-coll-body top40 colorfff uppercase">-->

                <!--&lt;!&ndash; what others say about transgov&ndash;&gt;-->
                <!--<div class="recommendations">-->
<!--<div class="[ container text-center ]">-->
	<!--<div class="[ row ]">-->
		<!--<div class="[ col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 ]" role="tabpanel">-->
            <!--<div class="[ col-xs-4 col-sm-12 ]">-->
                <!--&lt;!&ndash; Nav tabs &ndash;&gt;-->
                <!--<ul class="[ nav nav-justified ]" id="nav-tabs" role="tablist">-->
                    <!--<li role="presentation" class="active">-->
                        <!--<a href="#dustin" aria-controls="dustin" role="tab" data-toggle="tab">-->
                            <!--<img class="img-circle" src="{%static 'images/advocates/dorothy.jpg'%}" />-->
                            <!--<span class="quote"><i class="fa fa-quote-left"></i></span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li role="presentation" class="">-->
                        <!--<a href="#daksh" aria-controls="daksh" role="tab" data-toggle="tab">-->
                            <!--<img class="img-circle" src="{%static 'images/advocates/mr-eric-akumiah2.jpg'%}" />-->
                            <!--<span class="quote"><i class="fa fa-quote-left"></i></span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li role="presentation" class="">-->
                        <!--<a href="#anna" aria-controls="anna" role="tab" data-toggle="tab">-->
                            <!--<img class="img-circle" src="{%static 'images/advocates/ahiabenu.jpg'%}" />-->
                            <!--<span class="quote"><i class="fa fa-quote-left"></i></span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li role="presentation" class="">-->
                        <!--<a href="#wafer" aria-controls="wafer" role="tab" data-toggle="tab">-->
                            <!--<img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/waferbaby/128.jpg" />-->
                            <!--<span class="quote"><i class="fa fa-quote-left"></i></span>-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div class="[ col-xs-8 col-sm-12 ]">-->
                <!--&lt;!&ndash; Tab panes &ndash;&gt;-->
                <!--<div class="tab-content" id="tabs-collapse">-->
                    <!--<div role="tabpanel" class="tab-pane fade in active" id="dustin">-->
                        <!--<div class="tab-inner">-->
                            <!--<p class="lead">Etiam tincidunt enim et pretium efficitur. Donec auctor leo sollicitudin eros iaculis sollicitudin.</p>-->
                            <!--<hr>-->
                            <!--<p><strong class="text-uppercase advocates-name">Dorothy Gordon</strong></p>-->
                            <!--<p><em class="text-capitalize advocates-position"> Council Member</em> at <a href="http://www.fossfa.net/">FOSS For Africa Organization</a></p>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div role="tabpanel" class="tab-pane fade" id="daksh">-->
                        <!--<div class="tab-inner">-->
                            <!--<p class="lead">Suspendisse dictum gravida est, nec consequat tortor venenatis a. Suspendisse vitae venenatis sapien.</p>-->
                            <!--<hr>-->
                            <!--<p><strong class="text-uppercase advocates-name">Erick Akumiah</strong></p>-->
                            <!--<p><em class="text-capitalize advocates-position">Director of Operations</em> at <a href="http://www.nita.gov.gh/">NITA</a></p>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div role="tabpanel" class="tab-pane fade" id="anna">-->
                        <!--<div class="tab-inner">-->
                            <!--<p class="lead">Nullam suscipit ante ac arcu placerat, nec sagittis quam volutpat. Vestibulum aliquam facilisis velit ut ultrices.</p>-->
                            <!--<hr>-->
                            <!--<p><strong class="text-uppercase advocates-name">Kwame Ahiabenu II</strong></p>-->
                            <!--<p><em class="text-capitalize advocates-position"> Fellow</em> at <a href="http://www.ned.org/">National Endowment for Democracy</a></p>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div role="tabpanel" class="tab-pane fade" id="wafer">-->
                        <!--<div class="tab-inner">-->
                            <!--<p class="lead"> Fusce erat libero, fermentum quis sollicitudin id, venenatis nec felis. Morbi sollicitudin gravida finibus.</p>-->
                            <!--<hr>-->
                            <!--<p><strong class="text-uppercase advocates-name">Wafer Baby</strong></p>-->
                            <!--<p><em class="text-capitalize advocates-position"> Web designer</em> at <a href="#">Microsoft</a></p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
	<!--</div>-->
<!--</div>-->
                    <!--</div>-->
                <!--<div class="clearfix"></div>-->
            <!--</div>-->

        <!--</div>-->

        <!-- ##########END OF CODE FOR ADVOCATES ################-->
    </div>



    <div class="row play-market top80">
        <div class="m1170 valign-table height100 txt-shadow">
            <div class="col-sm-6 colorfff valign-table-cell">
                <div class="font22 semibold uppercase lh-15-em wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">Discover and track projects, faster & easier !!!</div>
                <div class="font22 uppercase orange lh-15-em wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s"><b>Now available on Android !</b></div>

                <div class="store-btns wordwrap">
                    <!-- <a href="#"><div class="app-store f-left b-radius10 top20 right20 wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s"><img  class="apps" src="{% static 'images/astore-btn.png' %}" alt="wd"></div></a> -->
                    <a href="http://bit.ly/transgovgh" target="_blank"><div class="google-store f-left b-radius10 top20 wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s"><img  class="apps" src="{% static 'images/gplay-btn.png' %}" alt="wd"></div></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-sm-6 dsp-none">
            </div>
        </div>
    </div>
</div>

    <div class="clearfix"></div>

    {% include 'landingPage/partial_views/partners.html' %}
</div>
</section>

{% endblock%}
