{% extends 'landingPage/base.html' %}
{% load staticfiles %}

<html>
{% block title %}
Partners
{% endblock title %}
{% block content %}
<style>
.memb-main-content {
  margin-left: 40%;
}
.memb .member1, .memb .member2 {
    /*width: 112%;*/
}
.partner-info-content-area {
    position: relative;
    width: 130%;
    overflow: hidden;
}
</style>

  <body>
    <header>
      <div class="row h-third-row">
        <div class="m1170 p-relative h250">
          <div class="col-sm-12 h-page-name wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
            Our Partners
            <div class="h-current-page">
              <a href="{% url 'homePage' %}" ><span class="f-orange">Home</span></a> <span class="f-slash">/</span><a href="{% url 'partners' %}" ><span class="f-orange">Partners</span></a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section><h2 class="hidden">WD</h2>
        <div class="row new-details">
          <div class="m1170">
            <div class="col-sm-9 top80">


              <div class="row">
                  <div class="m1170">
                      <div class="col-sm-12">
                         <!--  <div class="about-title extrabold uppercase color333 top60">
                              <span class="bgfff" data-wow-delay="0.7s" data-wow-duration="1.5s">Our Partners</span>
                          </div> -->

                          <div id="myCarousel" class="carousel slide blog-reviews" data-interval="3000">
                              <div class="carousel-inner partner-info-content-area ">
                                  <div class="active item">
                                      <div class="col-md-9 p-left0 top40">
                                          <div class="memb " data-wow-delay="0.7s" data-wow-duration="1.5s">
                                              <div class="member1 b-radius5">
                                                  <div class="member-photo">
                                                      <img src="{% static 'images/partners/mavc.png' %}" alt="wd" >
                                                  </div>
                                                  <div class="memb-main-content">
                                                      <div class="font13 color777">
                                                        Developments in technology and innovation mean that government
                                                        and citizens can interact like never before.

                                                        Globally, citizens have fast-increasing access to tools that enable
                                                        them to monitor government performance and express their views
                                                        on government performance in real time.

                                                        Making All Voices Count is about seizing this moment to promote
                                                        transparency, fight corruption, empower citizens, and harness
                                                        the power of new technologies to make government more effective
                                                        and accountable.
                                                      </div>
                                                      <div class="font14 color333 f-left top20 width100 text-left">
                                                          <b>website</b>
                                                      </div>
                                                      <div class="raitings f-left">
                                                            <a href="https://www.makingallvoicescount.org">www.makingallvoicescount.org</a>
                                                          </div>
                                                      </div>
                                                      <i class="fa fa-quote-left fa-3x pull-right blockquote1"></i>
                                                      <div class="clearfix"></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>




                                      <div class="col-md-9 top40 p-left0">
                                          <div class="memb " data-wow-delay="0.7s" data-wow-duration="1.5s">
                                              <div class="member1 b-radius5">
                                                  <div class="member-photo">
                                                      <img src="{% static 'images/partners/hivos.png' %}" alt="wd" >
                                                  </div>
                                                  <div class="memb-main-content">
                                                      <div class="font13 color777">
                                                        Hivos is an international organisation that seeks new solutions
                                                        to persistent global issues. With smart projects in the right
                                                        places, we oppose discrimination, inequality, abuse of power
                                                        and the unsustainable use of our planet’s resources.
                                                        Counterbalance alone, however, is not enough. Our primary focus
                                                        is achieving structural change. This is why we cooperate with innovative
                                                        businesses, citizens and their organisations. We share a dream with them
                                                        of sustainable economies and inclusive societies.
                                                      </div>
                                                      <div class="font14 color333 f-left top20 width100 text-left">
                                                          <b>Website</b>
                                                      </div>
                                                      <div class="raitings f-left">
                                                            <a href="https://www.hivos.org">www.hivos.org</a>
                                                              </div>

                                                      </div>
                                                      <i class="fa fa-quote-left fa-3x pull-right blockquote1"></i>
                                                      <div class="clearfix"></div>
                                                  </div>



                                              </div>
                                          </div>

                                      </div>



                                      <div class="col-md-9 top40 p-left0">
                                          <div class="memb " data-wow-delay="0.7s" data-wow-duration="1.5s">
                                              <div class="member1 b-radius5">
                                                  <div class="member-photo">
                                                      <img src="{% static 'images/partners/partner-ushahidi.jpg' %}" alt="wd" >
                                                  </div>
                                                  <div class="memb-main-content">
                                                      <div class="font13 color777">
                                                        Ushahidi, which translates to “testimony” in Swahili, was developed
                                                        to map reports of violence in Kenya after the post-election violence
                                                        in 2008. Since then, thousands have used their crowdsourcing tools
                                                        to raise their voice. They're a technology leader in Africa,
                                                        headquartered in Nairobi, with a global team.
                                                      </div>
                                                      <div class="font14 color333 f-left top20 width100 text-left">
                                                          <b>Website</b>
                                                      </div>
                                                      <div class="raitings f-left">
                                                            <a href="https://www.ushahidi.com">www.ushahidi.com</a>

                                                              </div>

                                                      </div>
                                                      <i class="fa fa-quote-left fa-3x pull-right blockquote1"></i>
                                                      <div class="clearfix"></div>
                                                  </div>



                                              </div>
                                          </div>

                                      </div>


                                      <div class="col-md-9 top40 p-left0">
                                          <div class="memb " data-wow-delay="0.7s" data-wow-duration="1.5s">
                                              <div class="member1 b-radius5">
                                                  <div class="member-photo">
                                                      <img src="{% static 'images/partners/godi_home.png' %}" alt="wd" >
                                                  </div>
                                                  <div class="memb-main-content">
                                                      <div class="font13 color777">
                                                        With more than 1,400 datasets published and 17 goverment
                                                        departments participating as of mid 2015, the GODI continues
                                                        to publish datasets with the aim of empowering citizens, government
                                                        and civil society to better evaluate policy outcomes and continually
                                                        improve the quality of public service delivery.
                                                      </div>
                                                      <div class="font14 color333 f-left top20 width100 text-left">
                                                          <b>Website</b>
                                                      </div>
                                                      <div class="raitings f-left">
                                                            <a href="http://www.data.gov.gh/">www.data.gov.gh</a>

                                                              </div>

                                                      </div>
                                                      <i class="fa fa-quote-left fa-3x pull-right blockquote1"></i>
                                                      <div class="clearfix"></div>
                                                  </div>



                                              </div>
                                          </div>

                                      </div>

                                        <div class="col-md-9 top40 p-left0">
                                          <div class="memb " data-wow-delay="0.7s" data-wow-duration="1.5s">
                                              <div class="member1 b-radius5">
                                                  <div class="member-photo">
                                                      <img src="{% static 'images/partners/ama.jpg' %}" alt="wd" >
                                                  </div>
                                                  <div class="memb-main-content">
                                                      <div class="font13 color777">
                                                          Accra Metropolitan Assembly (AMA) is the political and
                                                          administrative authority for the city of Accra. The Accra
                                                          Metropolitan Assembly has a general assembly which is
                                                          constituted by about 102 members: two-thirds are elected
                                                          representatives and one-third are government appointees.
                                                          The Assembly has ten sub-metropolitan district councils
                                                          which are subordinate to the general assembly. They perform
                                                          functions assigned to them by the instrument that sets up the
                                                          Assembly or delegated to them by the general assembly.
                                                      </div>
                                                      <div class="font14 color333 f-left top20 width100 text-left">
                                                          <b>Website</b>
                                                      </div>
                                                      <div class="raitings f-left">
                                                            <a href="http://ama.gov.gh/ama/">www.ama.gov.gh</a>

                                                              </div>

                                                      </div>
                                                      <i class="fa fa-quote-left fa-3x pull-right blockquote1"></i>
                                                      <div class="clearfix"></div>
                                                  </div>



                                              </div>
                                          </div>


                                           <div class="col-md-9 top40 p-left0">
                                          <div class="memb " data-wow-delay="0.7s" data-wow-duration="1.5s">
                                              <div class="member1 b-radius5">
                                                  <div class="member-photo">
                                                      <img src="{% static 'images/partners/odi.png' %}" width="250px" alt="wd" >
                                                  </div>
                                                  <div class="memb-main-content">
                                                      <div class="font13 color777">
                                                          We bring together commercial and non-commercial organisations and governments around specific sectors to address today’s global challenges.
                                                          <br>
                                                          Driven by needs, and focused on timely challenges, we help people identify and address how the web of data will impact their businesses and their sectors. Together, we will build a strong data infrastructure that delivers open innovation at web-scale.
                                                      </div>
                                                      <div class="font14 color333 f-left top20 width100 text-left">
                                                          <b>Website</b>
                                                      </div>
                                                      <div class="raitings f-left">
                                                            <a href="https://theodi.org/">www.theodi.org</a>

                                                              </div>

                                                      </div>
                                                      <i class="fa fa-quote-left fa-3x pull-right blockquote1"></i>
                                                      <div class="clearfix"></div>
                                                  </div>



                                              </div>
                                          </div>


                                      <div class="clearfix"></div>
                                  </div>


                              </div>
                          </div>

                          <div class="clearfix"></div>



                      </div>
                  </div>
              </div>


              <div class="clearfix"></div>
            </div>

            <div class="col-sm-3 top80">
              <nav>

                <div class="clearfix"></div>
              </nav>




            </div>

          </div>
        </div>
      <div class="clearfix"></div>
    </section>
    {% endblock %}

  </body>
</html>
