{% extends 'landingPage/base.html' %}
{% load staticfiles %}

<html>
{% block title %}
Privacy policy
{% endblock title %}
{% block content %}
<style>
.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.notice-sm {
    padding: 10px;
    font-size: 80%;
}
.notice-lg {
    padding: 35px;
    font-size: large;
}
.notice-success {
    border-color: #80D651;
}
.notice-success>strong {
    color: #80D651;
}
.notice-info {
    border-color: #45ABCD;
}
.notice-info>strong {
    color: #45ABCD;
}
.notice-warning {
    border-color: #FEAF20;
}
.notice-warning>strong {
    color: #FEAF20;
}
.notice-danger {
    border-color: #d73814;
}
.notice-danger>strong {
    color: #d73814;
}
</style>

  <body>
    <header>
      <div class="row h-third-row">
        <div class="m1170 p-relative h250">
          <div class="col-sm-12 h-page-name wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
            Privacy Policy

            <div class="h-current-page">
              <a href="{% url 'homePage' %}" ><span class="f-orange">Home</span></a> <span class="f-slash">/</span><a href="{% url 'partners' %}" ><span class="f-orange">Privacy policy</span></a>
            </div>
          </div>
        </div>
      </div>
    </header>


<div class="container">
<h3>TransGov privacy policy</h3>
    <div class="notice notice-success">
        <strong>Privacy policy</strong>

        <br>
         TransGov is an app that collects, analyzes, archives and disseminates user-friendly data on development projects and service delivery in Ghana. On TransGov, Ghanaian citizens can get information on past, and ongoing development projects being implemented by the Ghana Government in their local communities. Citizens can also make their concerns known to their local authorities through the app.
      </div>

    <div class="notice notice-danger">
        <strong>Our Mission</strong>
        <br>
         TransGov seeks to engage citizens and amplify their voices. Once a multitude of citizens concerns are raised about a specific issue concerning development projects, we will forward it to the relevant public agencies to either respond appropriately or fix the problems.

    </div>
    <div class="notice notice-info">
        <strong>Vision</strong>
       <br>
       Our vision is to make it easy for citizens to connect seamlessly with their local leaders to become part of the decision making processes in the development of their communities.


    </div>
    <div class="notice notice-warning">
        <strong>Information Collection</strong>
        <br>
         In the course of using the app, you may provide us with personally identifiable information. This refers to information about you that can be used to contact or identify you, and information on your use of and activities at the app that may be connected with you (Personal Information). Personal Information that we collect may include, but is not limited to, your name and email address, IP address, device's Advertising Identifier, device push token, precise location, network information, language, timezone, product preferences, and privacy preferences.

    </div>
    <div class="notice notice-success">
        <strong>Safety and Security</strong>
        <br>
        We do our best to keep TransGov safe, but we cannot guarantee it. We need your help to keep TransGov safe, which includes the following commitments by you:

        You will not post unauthorized commercial communications (such as spam) on TransGov.
        You will not engage in unlawful multi-level marketing, such as a pyramid scheme, on TransGov.
        You will not upload viruses or other malicious code.
        You will not solicit login information or access an account belonging to someone else.

    </div>
    <div class="notice notice-info">
        <strong>Content and Information</strong>
      <br>
        You own all of the content and information you post on TransGov, and the information that you post can be shared by other users and public agencies. This information can be reshared by other parties who see this information.

    </div>
    <div class="notice notice-warning">
        <strong>Privacy</strong>
      <br>
       Your privacy is very important to us. We desire all our users to respect the rights of other people with regards to the use of TransGov.
        TransGov respects the intellectual property rights of others and is committed to helping third parties protect their rights. Our Statement of Rights and Responsibilities prohibits users from posting content that violates another party's intellectual property rights.


        TransGov reserves the rights to deactivate a user's account without prior notice if a user is suspected of or is indulging in any activity which is illegal or violates the right or other users or the policy of TransGov.
    </div>
</div>

    {% endblock %}

  </body>
</html>
