{% extends 'landingPage/base.html' %}
{% load staticfiles %}
{% block title %}
Search Results
{% endblock title %}

{% block content %}
<html>
<head>
        <script src="{% static 'dashboard-resources/js/custom_js.js' %}"></script>
</head>
<body>
<!-- ========== SEARCH RESULTS SECTION ========== -->
<section class="sectionPadding"  style="padding-top:4.5rem;">
  <div class="blogContent">
   <div class="container">
    <div class="row">
     <div class="col-sm-12">
      <div class="featuresTitle fadeInUp">
       <h3>Search Results</h3>
          <a href="{% url 'homePage'%}" class="pull-left">Back to Home | </a>
          <a href="{% url 'publicViewProjects'%}" class="pull-left">Projects</a>
       <p>Project Search Results<br>
        </p>
      </div><!-- end features title -->
    </div><!-- end col-sm-12 -->
 <!-- alert messages -->
{% if messages %}
    {% for message in messages %}
  <div id="flash_msg" class="modal fade col-md-offset-3" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="width:250px;height:3%;">
            <div class="modal-body text-center " style="color: #fff; background-color: {{color}};">
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
                </li>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
    {% for results in search_results.object_list %}
    <div class="col-sm-4">
      <div class="blogPost ">
      <a href="{% url 'projectDetails' pk=results.pk %}">
       <div class="image" id="image">
           {% if results.project_image %}
        <img src="{{ results.project_image.url }}" alt="project image" height="250px"/>
           {% else %}
        <img src="{% static 'images/project_image.png'%}" alt="project image" height="250px"/>
            {% endif %}
        <div class="imgHover"></div>
      </div>
          </a>
      <div class="blogContent">
        <h3><a href="{% url 'projectDetails' pk=results.pk %}">{{results.project_name | truncatechars:25}}</a></h3>
        <ul class="clearfix" >
         <li><a href=""><i class="fa fa-money"></i>{{results.amount_allocated}}</a></li>
         <li><a href=""><i class="fa fa-calendar-o"></i>{{results.start_date}}</a></li>
         <li><a href=""><i class="fa fa-book"></i>{{results.completeness}} %</a></li>
       </ul>
       <p>{{results.project_description | truncatechars:50}}
       </p>

   </div><!--end blogContent -->
 </div><!--end blogPost -->
</div><!-- end col-sm-4 -->
{% endfor %}

</div><!-- end row -->
</div><!-- end container -->
</div><!-- end blogContent -->
    <div class="container">
  <div class="col-md-offset-5">
      <ul class="pagination">
          {% if search_results.has_previous %}
              <li><a href="?page={{ search_results.previous_page_number }}">«</a></li>
          {% endif %}
          {% for pg in search_results.paginator.page_range %}
              {% if search_results.number == pg %}
                  <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
              {% else %}
                  <li><a href="?page={{ pg }}">{{ pg }}</a></li>
              {% endif %}
          {% endfor %}
          {% if search_results.has_next %}
              <li><a href="?page={{ search_results.next_page_number }}">»</a></li>
          {% endif %}
      </ul>
    </div>
  </div>
    <p align="center">
      <a href="{% url 'publicViewProjects' %}" class="btn btn-success btn-lg btn_return_to_projects" >Return to Projects</a>
    </p>
</section>
{% endblock %}
</body>
</html>
<!-- ========== END SEARCH RESULTS SECTION ========== -->




