{% load staticfiles %}

{% block content %}
<html lang="en">
<head>
  <link rel="stylesheet" href="{% static 'dashboard-resources/css/quirk.css' %}">
</head>

<body>

<section>
  <div class="notfoundpanel">
    <h1>404!</h1>
    <h3>The page you are looking for has not been found!</h3>
    <h4>The page you are looking for might have been removed, had its name changed,<br>or unavailable.</h4>

        <span class="input-group-btn">
          <a href="{% url 'homePage' %}" class="btn btn-success" type="button"><i class="glyphicon glyphicon-home"></i> Back to home</a>
        </span>

    <hr class="darken">
    <ul class="list-inline">
      <li><a href="{% url 'homePage' %}">Home</a></li>
      <li><a href="{% url 'aboutTransgov' %}">About</a></li>
      <li><a href="https://www.transgovgh.org/privacy_policy" target="blank">Privacy Policy</a></li>
      <li><a href="{% url 'contact' %}">Contact Us</a></li>
      <li class="pull-right">TransGov &copy; 2017. All Rights Reserved.</li>
    </ul>

  </div><!-- notfoundpanel -->
</section>
</body>
</html>
{% endblock %}
