{% extends 'transgovAdmin/base.html'%}
{% block content %}
{% load split %}
{% load staticfiles %}

<style>

	div#map {
    width: 100%; height: 50%;
  }
</style>

<div style="margin-top:10%" class="col-sm-12 portlets ui-sortable">
  {% for error in errors %}
  <font color="red">{{ error }}</font>
  {% endfor %}
  <form method="POST" class="project" enctype="multipart/form-data">
   {% csrf_token %}
   <div class="widget">
     <div class="widget-header transparent">

     </div>
     <div class="widget-content padding">
      <div id="basic-form">
        <img src="{%static 'projectImages/' %}/{{id}}" width="100%" height="50%"/>
        <p><label for="id_name">name:</label> <input class="form-control" id="id_name" name="name" value="{{projects.name}}" type="text"> <span class="helptext">What is the project name </span></p>
        <p><label for="id_description">Description:</label> <textarea class="form-control" cols="40" id="id_description" name="description" value="{{projects.description}}" rows="10">{{projects.description}}</textarea></p>
        <p><label for="id_amount_allocated">Amount allocated:</label> <input class="form-control" id="id_amount_allocated" value="{{projects.amount_allocated}}" name="amount_allocated" step="any" type="number"></p>
        <p><label for="id_Estimated_Budget_GOG">Estimated budget gog:</label> <input class="form-control" id="id_Estimated_Budget_GOG" name="Estimated_Budget_GOG" value="{{projects.Estimated_Budget_GOG}}" step="any" type="number"></p>
        <p><label for="id_Estimated_Budget_IGF">Estimated budget igf:</label> <input class="form-control" id="id_Estimated_Budget_IGF" name="Estimated_Budget_IGF" value="{{projects.Estimated_Budget_IGF}}" step="any" type="number"></p>
        <p><label for="id_Estimated_Budget_Donor">Estimated budget donor:</label> <input class="form-control" id="id_Estimated_Budget_Donor" name="Estimated_Budget_Donor" value="{{projects.Estimated_Budget_Donor}}" step="any" type="number"></p>
        <p><label for="id_Actual_Budget_Spend">Actual budget spend:</label> <input class="form-control" id="id_Actual_Budget_Spend" name="Actual_Budget_Spend" value="{{projects.Actual_Budget_Spend}}" step="any" type="number"></p>
        <p><label for="id_project_contact_person">Project contact person:</label> <input class="form-control" id="id_project_contact_person" name="project_contact_person" value="{{projects.project_contact_person}}" type="text"></p>
        <p><label for="id_Contractor">Contractor:</label> <input class="form-control" id="id_Contractor" value="{{projects.Contractor}}" name="Contractor" type="text"></p>
        <p><label for="id_status" >Status:</label> <select class="form-control"  id="id_status" name="status">
          <option value="0"{% if projects.status_id == 0 %} selected="selected" {% endif %}>(Nothing)</option>
          <option value="1" {% if projects.status_id == 1 %} selected="selected" {% endif %} >ONGOING</option>
          <option value="2" {% if projects.status_id == 2 %} selected="selected" {% endif %} >COMPLETED</option>
          <option value="3" {% if projects.status_id == 3 %} selected="selected" {% endif %} >HALTED</option>
          <option value="4" {% if projects.status_id == 4 %} selected="selected" {% endif %} >DELAYED</option>
          <option value="5" {% if projects.status_id == 5 %} selected="selected" {% endif %} >CANCELLED</option>
        </select></p>
        <p><label for="id_Lead_implementation_Agency">Lead implementation agency:</label> <input class="form-control" id="id_Lead_implementation_Agency"  value="Lead_implementation_Agency" name="Lead_implementation_Agency" type="text"></p>
        <p><label for="id_company">Company:</label> <input class="form-control" id="id_company" name="company" value="{{projects.company}}" type="text"></p>
        <p><label for="id_Collaborating_Implementation_Agencies">Collaborating implementation agencies:</label> <input class="form-control" id="id_Collaborating_Implementation_Agencies" name="Collaborating_Implementation_Agencies"  value="{{projects.Collaborating_Implementation_Agencies}}" type="text"></p>
        <p><label for="id_start_date_month">Start date:</label><div class="row">
          <div class="col-lg-4">
            <select class="form-control" id="id_start_date_month" name="start_date_month">
              <option value="1" {% if date.start_date.1 == 1 %} selected="selected" {% endif %}>January</option>
              <option value="2" {% if date.start_date.1 == 2 %} selected="selected" {% endif %}>February</option>
              <option value="3" {% if date.start_date.1 == 3 %} selected="selected" {% endif %}>March</option>
              <option value="4" {% if date.start_date.1 == 4 %} selected="selected" {% endif %}>April</option>
              <option value="5" {% if date.start_date.1 == 5 %} selected="selected" {% endif %}>May</option>
              <option value="6" {% if date.start_date.1 == 6 %} selected="selected" {% endif %}>June</option>
              <option value="7" {% if date.start_date.1 == 7 %} selected="selected" {% endif %}>July</option>
              <option value="8" {% if date.start_date.1 == 8 %} selected="selected" {% endif %}>August</option>
              <option value="9" {% if date.start_date.1 == 9 %} selected="selected" {% endif %}>September</option>
              <option value="10" {% if date.start_date.1 == 10 %} selected="selected" {% endif %}>October</option>
              <option value="11" {% if date.start_date.1 == 11 %} selected="selected" {% endif %}>November</option>
              <option value="12" {% if date.start_date.1 == 12 %} selected="selected" {% endif %}>December</option>
            </select>
          </div>
          <div class="col-lg-4">
            <select class="form-control" id="id_start_date_day" name="start_date_day">
             {% for x in days %}
             <<option value="{{x}}" {% if date.start_date.0 == x %} selected="selected" {% endif %}>{{x}}</option>
             {% endfor %}
           </select>
         </div>
         <div class="col-lg-4">
          <select class="form-control" id="id_start_date_year" name="start_date_year">
            {% for x in yearInit %}
            <option value="{{x}}"  {% if date.start_date.2 ==  x %} selected="selected" {% endif %}>{{x}}</option>
            {% endfor %}</select>

          </select></p>
        </div>
        <label for="id_start_date_month">Start date:</label>
        <div class="col-lg-4">
          <p><select class="form-control" id="id_end_date_month" name="end_date_month">
            <option value="1" {% if date.end_date.1 == 1 %} selected="selected" {% endif %}>January</option>
            <option value="2" {% if date.end_date.1 == 2 %} selected="selected" {% endif %}>February</option>
            <option value="3" {% if date.end_date.1 == 3 %} selected="selected" {% endif %}>March</option>
            <option value="4" {% if date.end_date.1 == 4 %} selected="selected" {% endif %}>April</option>
            <option value="5" {% if date.end_date.1 == 5 %} selected="selected" {% endif %}>May</option>
            <option value="6" {% if date.end_date.1 == 6 %} selected="selected" {% endif %}>June</option>
            <option value="7" {% if date.end_date.1 == 7 %} selected="selected" {% endif %}>July</option>
            <option value="8" {% if date.end_date.1 == 8 %} selected="selected" {% endif %}>August</option>
            <option value="9" {% if date.end_date.1 == 9 %} selected="selected" {% endif %}>September</option>
            <option value="10" {% if date.end_date.1 == 10 %} selected="selected" {% endif %}>October</option>
            <option value="11" {% if date.end_date.1 == 11 %} selected="selected" {% endif %}>November</option>
            <option value="12" {% if date.end_date.1 == 12 %} selected="selected" {% endif %}>December</option>
          </select>
        </div>

        <div class="col-lg-4">
          <select class="form-control" id="id_end_date_day" name="end_date_day">
            {% for x in days %}
            <option value="{{x}}" {% if date.end_date.0 == x %} selected="selected" {% endif %}>{{x}}</option>
            {% endfor %}</select>
          </div>
          <div class="col-lg-4">
            <select class="form-control" id="id_end_date_year" name="end_date_year">

              {% for x in yearEnd %}
              <option value="{{x}}"  {% if date.end_date.2 ==  x %} selected="selected" {% endif %}>{{x}}</option>
              {% endfor %}</select>
            </select></p>
          </div>
        </div>
      </div>
      <p><label for="id_completeness">Completeness:</label>  </p>
      <p>
        <select class="form-control" id="id_completeness" name="completeness">
          <option value="10" {% if projects.completeness ==  "10" %} selected="selected" {% endif %}>10%</option>
          <option value="20" {% if projects.completeness ==  "20" %} selected="selected" {% endif %}>20%</option>
          <option value="30" {% if projects.completeness ==  "30" %} selected="selected" {% endif %} >30%</option>
          <option value="40" {% if projects.completeness ==  "40" %} selected="selected" {% endif %}>40%</option>
          <option value="50" {% if projects.completeness ==  "50" %} selected="selected" {% endif %} >50%</option>
          <option value="60" {% if projects.completeness ==  "60" %} selected="selected" {% endif %} >60%</option>
          <option value="70" {% if projects.completeness ==  "70" %} selected="selected" {% endif %} >70%</option>
          <option value="80" {% if projects.completeness ==  "80" %} selected="selected" {% endif %} >80%</option>
          <option value="90" {% if projects.completeness ==  "90" %} selected="selected" {% endif %} >90%</option>
          <option value="100" {% if projects.completeness == "100" %} selected="selected" {% endif %} >100%</option>
        </select>
      </p>
      <p><input class="form-control" id="id_location" type="hidden" name="location" value="{{projects.location}}" type="text"></p>
      <head>
        <style type="text/css">
          #map{ width:700px; height: 500px; }
        </style>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
        <title>Save Marker Example</title>
      </head>
      <body>
        <h3>Select a Project location!</h3>
        <p>Click on a location on the map to select it. Drag the marker to change location.</p>

        <!--map div-->
        <div id="map" ></div>

        <!--our form-->
        <input  name="lat" id="lat"  type="hidden" readonly="yes"><br>
        <input name="lng" type="hidden" id="lng" readonly="yes">

        <script type="text/javascript" src="map.js"></script>
      </body>
      <p><label for="id_project_img">Project img:</label> <input id="id_project_img" name="project_img" type="file"></p>
      <p><label for="id_Project_files">Project files:</label> <input  value="{{projects.Project_files}}" id="id_Project_files" name="Project_files" type="file"></p>
      <p><label for="id_project_links">Project links:</label> <input class="form-control" value="{{projects.project_links}}" id="id_project_links" name="project_links" type="text"></p>

      <br> <button type="submit" class="btn btn-default">Update</button>

    </div>
  </div>
</form>
</div>
<script>
  function initMap(){var e=new google.maps.LatLng({{projects.location|split:0}},{{projects.location|split:1}}),a={center:e,zoom:7};map=new google.maps.Map(document.getElementById("map"),a),google.maps.event.addListener(map,"click",function(e){var a=e.latLng;marker===!1?(marker=new google.maps.Marker({position:a,map:map,draggable:!0}),google.maps.event.addListener(marker,"dragend",function(e){markerLocation()})):marker.setPosition(a),markerLocation()})}function markerLocation(){var e=marker.getPosition();document.getElementById("lat").value=e.lat(),document.getElementById("lng").value=e.lng()}var map,marker=!1;google.maps.event.addDomListener(window,"load",initMap);
</script>

{% endblock %}

