<!--{% extends "public_project_view_base.html" %}-->
<!--initial page-->
<!--<br>-->
<!--<h2>{{ context.id }}</h2>-->
<!--{% block content %}-->
<!--{% for project in projects%}-->
    <!--{{project.title}} <br>-->
    <!--{{project.author}}<br>-->
    <!--{% endfor %}-->
    <!--<form method="post">-->
        <!--{% csrf_token%}-->
        <!--{{ form.as_p }}-->
       <!--<input type="submit" value="submit" />-->
    <!--</form>-->
<!--{% endblock %}-->
