{% extends 'transgovOfficial/base.html' %}
<!--{% load index %}-->

{% block content %}

{% for error in errors %}
<font color="red">{{ error }}</font>
{% endfor %}
<form style="margin-top:18%" class="form-horizontal" role="form">

									<div id="datatables-1_wrapper" ><div class="row"><div class="col-xs-6"><div class="dataTables_length" id="datatables-1_length"></div></div><div class="col-xs-6"><div id="datatables-1_filter" class="dataTables_filter"></div></div></div><table id="datatables-1" class="table table-striped table-bordered dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="datatables-1_info" style="width: 100%;">
									        <thead>
									          <tr><th rowspan="1" colspan="1">Project Title</th><th rowspan="1" colspan="1">Description</th><th rowspan="1" colspan="1">Author</th><th rowspan="1" colspan="1">Start Date</th><th rowspan="1" colspan="1">End Date</th><th rowspan="1" colspan="1">Status</th><th>Options</th></tr>
									        </thead>

									        <tfoot>
                           <tr><th rowspan="1" colspan="1">Project Title</th><th rowspan="1" colspan="1">Description</th><th rowspan="1" colspan="1">Author</th><th rowspan="1" colspan="1">Start Date</th><th rowspan="1" colspan="1">End Date</th><th rowspan="1" colspan="1">Status</th><th>Options</th></tr>
									        </tfoot>

									        <tbody>
                                            {% for projects in project_list %}

									       <tr role="row" class="even">
									                <td class="sorting_1">{{projects.project_name}}</td>
									                <td>{{projects.project_description}}</td>
									                <td>{{projects.amount_allocated}}</td>
									                <td>{{projects.project_location}}</td>
									                <td><a href="#" type="button" class="btn btn-info"><i class="fa fa-edit"></i>Edit</a>&nbsp;<a onclick="destroy({{project.id}})" type="button" class="btn btn-danger"><i class="fa fa-trash"></i>Delete</a></td>
									            </tr>
                                            {% endfor %}
                                            </tbody>
									    </table><div class="row"><div class="col-xs-6"></div><div class="col-xs-6"></div></div></div>
									</form>
<script>
   function destroy(id){
        if (confirm('Are you sure you want to delete this project ')) {
           window.location = id+'/delete';
        } else {
            // Do nothing!
        }

    }

</script>
{% endblock %}
