{% extends 'transgovOfficial/base.html'%}
{% block content %}
<style>

	div#map {
    width: 100%; height: 50%;
  }
</style>

<div style="margin-top:10%" class="col-sm-12 portlets ui-sortable">
  {% for error in errors %}
  <font color="red">{{ error }}</font>
  {% endfor %}
  <form method="POST" class="project">

    <div class="widget">
     <div class="widget-header transparent">

     </div>
     <div class="widget-content padding">
      <div id="basic-form">
        {% csrf_token %}
        <p><label for="id_name">name:</label> <input class="form-control" id="id_name" name="name" type="text"> <span class="helptext">What is the project name </span></p>
        <p><label for="id_description">Description:</label> <textarea class="form-control" cols="40" id="id_description" name="description" rows="10"></textarea></p>
        <p><label for="id_amount_allocated">Amount allocated:</label> <input class="form-control" id="id_amount_allocated" name="amount_allocated" step="any" type="number"></p>
        <p><label for="id_Estimated_Budget_GOG">Estimated budget gog:</label> <input class="form-control" id="id_Estimated_Budget_GOG" name="Estimated_Budget_GOG" step="any" type="number"></p>
        <p><label for="id_Estimated_Budget_IGF">Estimated budget igf:</label> <input class="form-control" id="id_Estimated_Budget_IGF" name="Estimated_Budget_IGF" step="any" type="number"></p>
        <p><label for="id_Estimated_Budget_Donor">Estimated budget donor:</label> <input class="form-control" id="id_Estimated_Budget_Donor" name="Estimated_Budget_Donor" step="any" type="number"></p>
        <p><label for="id_Actual_Budget_Spend">Actual budget spend:</label> <input class="form-control" id="id_Actual_Budget_Spend" name="Actual_Budget_Spend" step="any" type="number"></p>
        <p><label for="id_project_contact_person">Project contact person:</label> <input class="form-control" id="id_project_contact_person" name="project_contact_person" type="text"></p>
        <p><label for="id_Contractor">Contractor:</label> <input class="form-control" id="id_Contractor" name="Contractor" type="text"></p>
        <p><label for="id_status" >Status:</label> <select class="form-control"  id="id_status" name="status">
          <option value="" selected="selected">(Nothing)</option>
          <option value="1">ONGOING</option>
          <option value="2">COMPLETED</option>
          <option value="3">HALTED</option>
          <option value="4">DELAYED</option>
          <option value="5">CANCELLED</option>
        </select></p>
        <p><label for="id_Lead_implementation_Agency">Lead implementation agency:</label> <input class="form-control" id="id_Lead_implementation_Agency" name="Lead_implementation_Agency" type="text"></p>
        <p><label for="id_company">Company:</label> <input class="form-control" id="id_company" name="company" type="text"></p>
        <p><label for="id_Collaborating_Implementation_Agencies">Collaborating implementation agencies:</label> <input class="form-control" id="id_Collaborating_Implementation_Agencies" name="Collaborating_Implementation_Agencies" type="text"></p>
        <p><label for="id_start_date_month">Start date:</label><div class="row">
          <div class="col-lg-4">
            <select class="form-control" id="id_start_date_month" name="start_date_month">
              <option value="1">January</option>
              <option value="2">February</option>
              <option value="3">March</option>
              <option value="4">April</option>
              <option value="5">May</option>
              <option value="6">June</option>
              <option value="7">July</option>
              <option value="8">August</option>
              <option value="9">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
            </select>
          </div>
          <div class="col-lg-4">
            <select class="form-control" id="id_start_date_day" name="start_date_day">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
            </select>
          </div>
          <div class="col-lg-4">
            <select class="form-control" id="id_start_date_year" name="start_date_year">
              <option value="2016">2016</option>
              <option value="2017">2017</option>
              <option value="2018">2018</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
              <option value="2021">2021</option>
              <option value="2022">2022</option>
              <option value="2023">2023</option>
              <option value="2024">2024</option>
              <option value="2025">2025</option>
            </select></p>
          </div>
          <label for="id_start_date_month">Start date:</label>
          <div class="col-lg-4">
            <p><select class="form-control" id="id_end_date_month" name="end_date_month">
              <option value="1">January</option>
              <option value="2">February</option>
              <option value="3">March</option>
              <option value="4">April</option>
              <option value="5">May</option>
              <option value="6">June</option>
              <option value="7">July</option>
              <option value="8">August</option>
              <option value="9">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
            </select>
          </div>
          <div class="col-lg-4">
            <select class="form-control" id="id_end_date_day" name="end_date_day">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
            </select>
          </div>
          <div class="col-lg-4">
            <select class="form-control" id="id_end_date_year" name="end_date_year">
              <option value="2016">2016</option>
              <option value="2017">2017</option>
              <option value="2018">2018</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
              <option value="2021">2021</option>
              <option value="2022">2022</option>
              <option value="2023">2023</option>
              <option value="2024">2024</option>
              <option value="2025">2025</option>
            </select></p>
          </div>
        </div>
      </div>
      <p><label for="id_completeness">Completeness:</label> <input class="form-control" id="id_completeness" name="completeness" type="number"></p>
      <p><label for="id_location">Location:</label> <input class="form-control" id="id_location" name="location" type="text"></p>
      <head>
        <style type="text/css">
          #map{ width:700px; height: 500px; }
        </style>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
        <title>Save Marker Example</title>
      </head>
      <body>
        <h3>Select a Project location!</h3>
        <p>Click on a location on the map to select it. Drag the marker to change location.</p>

        <!--map div-->
        <div id="map" ></div>

        <!--our form-->
        <input type="hidden" name="lat" id="lat"  readonly="yes"><br>
        <input type="hidden" name="lng" id="lng" readonly="yes">
        <input type="hidden" name="category_id" value="1">

        <script type="text/javascript" src="map.js"></script>
      </body>
      <p><label for="id_project_img">Project img:</label> <a class="file-input-wrapper btn">Browse<input id="id_project_img" name="project_img" type="file"></a></p>
      <p><label for="id_project_links">Project links:</label> <input class="form-control" id="id_project_links" name="project_links" type="text"></p>
      <p><label for="id_Project_files">Project files:</label> <input class="form-control" id="id_Project_files" name="Project_files" type="text"></p>

      <br> <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</div>
</form>
</div>
<script>//map.js

//Set up some of our variables.
var map; //Will contain map object.
var marker = false; ////Has the user plotted their location marker?

//Function called to initialize / create the map.
//This is called when the page has loaded.
function initMap() {

    //The center location of our map.
    var centerOfMap = new google.maps.LatLng(6.03404207891494, -0.2547454833984375);

    //Map options.
    var options = {
      center: centerOfMap, //Set center.
      zoom: 7 //The zoom value.
    };

    //Create the map object.
    map = new google.maps.Map(document.getElementById('map'), options);

    //Listen for any clicks on the map.
    google.maps.event.addListener(map, 'click', function(event) {
        //Get the location that the user clicked.
        var clickedLocation = event.latLng;
        //If the marker hasn't been added.
        if(marker === false){
            //Create the marker.
            marker = new google.maps.Marker({
              position: clickedLocation,
              map: map,
                draggable: true //make it draggable
              });
            //Listen for drag events!
            google.maps.event.addListener(marker, 'dragend', function(event){
              markerLocation();
            });
          } else{
            //Marker has already been added, so just change its location.
            marker.setPosition(clickedLocation);
          }
        //Get the marker's location.
        markerLocation();
      });
  }

//This function will get the marker's current location and then add the lat/long
//values to our textfields so that we can save the location.
function markerLocation(){
    //Get location.
    var currentLocation = marker.getPosition();
    //Add lat and lng values to a field that we can save.
    document.getElementById('lat').value = currentLocation.lat(); //latitude
    document.getElementById('lng').value = currentLocation.lng(); //longitude
  }


//Load the map when the page has finished loading.
google.maps.event.addDomListener(window, 'load', initMap);</script>
{% endblock %}

