


{% extends "landingPage/base.html" %}

{% load static %}

{% block title %}
All Projects
{% endblock title %}


{% block content %}

<section><h2 class="hidden">WD</h2>
  <div class="container-fluid">
    <div class="row listing-details-main">
      <div class="m1170">
        <div class="about-title extrabold left15 right15 uppercase color333 top80">
          <span class="bgfff wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s"> Project Listings <span class="orange p-right0 p-left10">[1 ]</span></span>
        </div>
        <div class="col-sm-3 listing-details-left top60">
          <nav>
            <div class="left-1-menu nav-right-menu">
              <div id="MainMenu">
                <div class="list-group panel">



                  <a href="#accord-2" class="list-group-item-success" data-wow-delay="0.7s" data-wow-duration="1.5s" data-toggle="collapse" data-parent="#MainMenu">
                    <ul class="top-10 start0 list-style top-menu">
                      <li class="menu-link" tabindex="0"><i class="fa fa-home">&nbsp;</i>Road Projects</li></ul></a>
                      <div class="clearfix"></div>
                      <div class="collapse" id="accord-2">
                        <div class="business-services">
                          <div class="business-services-menu margin0 start0">
                            <a href="04-category-2.html"><ul class="top0"><li class="business-item"><i class="fa fa-angle-right">&nbsp;</i> Maintenance</li></ul></a>
                            <a href="04-category-2.html"><ul class="top0"><li class="business-item"><i class="fa fa-angle-right">&nbsp;</i> New </li></ul></a>
                            <a href="04-category-2.html"><ul class="top0"><li class="business-item"><i class="fa fa-angle-right">&nbsp;</i> Feeder Roads</li></ul></a>
                            <a href="04-category-2.html"><ul class="top0"><li class="business-item active-business-item"><i class="fa fa-angle-right">&nbsp;</i> Urban Roads</li></ul></a>
                            <div class="clearfix"></div>
                          </div></div>
                          <div class="clearfix"></div>
                        </div>


                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </nav>
              </div>

              <div class="col-sm-9 listing-details-right top60">
                <div class="results-container lr-15">
                  <div>

                    <!--load multiple cards here -->
                    {% for project in projects %}
                    <a href="{{project.id}}/edit">

                      {% include 'landingPage/partial_views/cards.html' %}

                    </a>
                    {%endfor%}


                    <div class="clearfix"></div>
                  </div>

                  <a href="04-category-2.html"><div class="grey-gradient-btn readmore-btn b-radius3 color777 uppercase top60 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">load more</div></a>
                </div>
              </div>

            </div>
          </div>

        </div>


      </div>
    </section>

    {% endblock content %}
