{% extends 'project/dashboard_base.html' %}
{% block head_title %}Content Dashboard | {% endblock%}
{% load mathfilters %}
{% load staticfiles %}

{% block content %}

 <div class="contentpanel">

      <div class="row">
        <div class="col-md-9 col-lg-8 dash-left">
         <div class="panel panel-announcement">
            
            <div class="panel-heading">
              <h4 class="panel-title">Welcome {{user.get_full_name}} </h4>
            </div>
            <div class="panel-body">
              <h2>Welcome to TransGov admin dashboard. We manage and monitor developmental projects in the country.</h2>

            </div>
          </div><!-- panel -->
          
          <div class="panel panel-site-traffic">
            <div class="panel-heading">
              <ul class="panel-options">
                <li><a><i class="fa fa-refresh"></i></a></li>
              </ul>
              <h4 class="panel-title text-success">All faults report analysis </h4>
            </div>
            <div class="panel-body">
              <div class="row">

              	<!-- Graph here -->
               <div id="chartContainer" style="height: 370px; width: 100%;"></div>
               	<!-- Graph here -->

              </div><!-- row -->
            </div><!-- panel-body -->
          </div><!-- panel -->

        </div><!-- col-md-9 -->
     
      </div><!-- row -->
    </div><!-- contentpanel -->

<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title:{
		text: "faults reports status"
	},
	axisX:{
		title: "Status",
		minimum: 0.0,
		maximum: 2.0
	},
	axisY:{
		title:"Sales"
	},
	toolTip:{
		shared: true
	},
	data: [{
		type: "stackedArea100",
		name: "Water",
		showInLegend: "true",
		dataPoints: [
			{ y: 42 , label: "Pending" },
			{ y: 3, label: "Being Fixed" },
			{ y: 4, label: "Fixed" }
		]
	},
	{
		type: "stackedArea100",
		name: "ECG",
		showInLegend: "true",
		dataPoints: [
			{ y: 11 , label: "Pending" },
			{ y: 40, label: "Being Fixed" },
			{ y: 10, label: "Fixed" }
		]
	},
	{
		type: "stackedArea100",
		name: "Drainage",
		showInLegend: "true",
		dataPoints: [
			{ y: 110 , label: "Pending" },
			{ y: 5, label: "Being Fixed" },
			{ y: 2, label: "Fixed" }
		]
	}]
});
chart.render();

}	
</script>
<script src="{% static 'dashboard-resources/map-js/canvasjs.min.js' %}"></script>
<!-- <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script> -->

{% endblock%}
