{% extends 'project/dashboard_base.html'%}
{% load staticfiles %}

<html>
<body>
<head>

</head>
{% block content %}

 <style>
#map {
  height: 400px;
  width: 100%;
 }
</style>

<ol class="breadcrumb breadcrumb-quirk">
        <li><a href=""><i class="fa fa-home mr5"></i>Reported Faults</a></li>
        <li><a href="{% url 'viewAllCasesOnDashboard'%}">list of reported faults</a></li>
        <a class="btn btn-primary pull-right" href="{% url 'export_faults_csv' %}">Export data to CSV</a>
       
        <!-- <div class="btn btn-primary pull-right">Export ECG faults to Excel</div>
        <div class="btn btn-primary pull-right">Export Road faults to Excel</div> -->
        <li class="active">all cases</li>
      </ol>
      <h3>Affected areas on the map</h3>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhem4VlZKvPnS-hYmbvWoXk6P3HSNOMl0&callback=initMap"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <div class="panel">
        <div class="panel-heading">
            <div id="map"></div>
            </div>
            </div>

            <script>

              function initMap() {

                var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 6,
                  center: {lat: 7.581071, lng:  -2.556363}
                });

                // Create an array of alphabetical characters used to label the markers.
                var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

                // Add some markers to the map.
                // Note: The code uses the JavaScript Array.prototype.map() method to
                // create an array of markers based on a given "locations" array.
                // The map() method here has nothing to do with the Google Maps API.
                var markers = locations.map(function(location, i) {
                  return new google.maps.Marker({
                    position: location,
                    label: labels[i % labels.length]
                  });
                });

                // Add a marker clusterer to manage the markers.
                var markerCluster = new MarkerClusterer(map, markers,
                    {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
              }

              var locations = [
              {% for all_cases in all_diy_cases %}
                {lat: {{all_cases.latitude}}, lng: {{all_cases.longitude}} },
                {% endfor %}
              ]

            </script>

<div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">List of all Cases reported</h4>
          <p>List of all Cases reported.</p>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped nomargin">
              <thead>
                <tr>
                  
                  <th>Fault number</th>
                  <th>Fault category</th>
                  <th class="text-center">Fault name</th>
                  <th class="text-center">Location</th>
                  <th class="text-right">Fault status</th>
                  <th class="text-right">Reported date</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for all_cases in all_diy_cases.object_list %}
                <tr style="font-size:13px">
                 
                  <td>
                      <a href="{% url 'caseDetailsOnDashboard' pk=all_cases.pk %}">
                      {{all_cases.case_number}}
                      </a>
                  </td>
                  <td>{{all_cases.case_category}}</td>
                  <td class="text-center">{{all_cases.case_name}}</td>
                  <td class="text-center">{{all_cases.suburb}}</td>
                  <td class="text-right">{{all_cases.case_status}}</td>

                  <td class="text-right">{{all_cases.created_date}}</td>
                  <td>
                      <ul class="table-options">
                      <li><a href="{%url 'editProjectCase' pk=all_cases.pk%}"><i class="fa fa-pencil fa-1x"></i></a></li>
                    </ul>
                  </td>
                </tr>
               {% endfor %}

              </tbody>
            </table>
          </div><!-- table-responsive -->
        </div>
      </div><!-- panel -->

    <div class="container">
  <div class="col-md-offset-5">
      <ul class="pagination">
          {% if all_diy_cases.has_previous %}
              <li><a href="?page={{ all_diy_cases.previous_page_number }}">«</a></li>
          {% endif %}
          {% for pg in all_diy_cases.paginator.page_range %}
              {% if all_diy_cases.number == pg %}
                  <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
              {% else %}
                  <li><a href="?page={{ pg }}">{{ pg }}</a></li>
              {% endif %}
          {% endfor %}
          {% if all_diy_cases.has_next %}
              <li><a href="?page={{ all_diy_cases.next_page_number }}">»</a></li>
          {% endif %}
      </ul>
    </div>
  </div>

      {% endblock %}


</body>

</html>

