{% extends 'project/dashboard_base.html'%}
{% load staticfiles %}
<html>
<head>

</head>
<body>
{% block content %}
<style>
       #map {
        height: 400px;
        width: 50%;
       }
       .media-time{
        font-size: 11px;
       }
    </style>
            <div class="panel panel-profile list-view">
              <div class="panel-heading">
                <div class="media">
                  <div class="media-left col-md-12">
                  <div class="col-md-6">
                    <a href="">
                      {% if case_detail.case_image_one %}
                      <!-- <img class="project-details" src="{{ case_detail.case_image_one.url }}" height="250px"> -->
                      <a href="{{ case_detail.case_image_one.url }}" data-lightbox="example-set"><img class="example-image" src="{{ case_detail.case_image_one.url }}" width="200px" alt=""/></a>
                    {% else %}
                <img src="{% static 'images/project_image.png'%}" alt="project image" height="250px"/>
                    {% endif %}

                    <!-- # more project images-->

                        {% if case_detail.case_image_two %}
                    <a href="{{ case_detail.case_image_two.url }}" data-lightbox="example-set"><img class="example-image" src="{{ case_detail.case_image_two.url }}" width="200px" alt=""/></a>
                        {% endif %}
                        {% if case_detail.case_image_three %}
                        <a href="{{ case_detail.case_image_three.url }}" data-lightbox="example-set"><img class="example-image" src="{{ case_detail.case_image_three.url }}" width="200px" alt=""/></a>
                        {% endif %}
                    </div>

                    <!-- # end of more project images-->
                    <!-- Location of the fault on the map -->

                  <div id="map" class="col-md-6"></div>
                  <script>
                    function initMap() {
                      var uluru = {lat: {{ case_detail.latitude }}, lng: {{ case_detail.longitude }}};
                      var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 15,
                        center: uluru
                      });
                      var marker = new google.maps.Marker({
                        position: uluru,
                        map: map
                      });
                    }
                  </script>
                  <script async defer
                  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhem4VlZKvPnS-hYmbvWoXk6P3HSNOMl0&callback=initMap">
                  </script>
                    <!-- End of location of the fault on the map -->
                    </a>
                  </div>
                  </div>
                    <br>
                  <div class="media-body">
                    <h3 class="media-heading">{{ case_detail.case_name }}</h3>

                    <h4>
                    <div readonly style="overflow-y:scroll; width:1000px; height:100px; border:none; background-color: #fffffff; font-weight: normal">
                    {{ case_detail.case_description | safe}}
                    </div>
                    </h4>
                  </div>
                </div><!-- media -->
                <ul class="panel-options">
                  <li><a class="tooltips" href="" data-toggle="tooltip" title="View Options"><i class="glyphicon glyphicon-option-vertical"></i></a></li>
                </ul>
              </div><!-- panel-heading -->
            <div class="panel panel-profile list-view">
              <div class="panel-body people-info">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>Fault number</label>
                      {{ case_detail.case_number }}
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>Fault Category</label>
                      {{ case_detail.case_category }}
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>Fault Name</label>
                      {{ case_detail.case_name }}
                    </div>
                  </div>
                </div><!-- row -->
                  <div class="row">
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>Fault region</label>
                      {{ case_detail.region }}
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>Fault Status</label>
                      {{ case_detail.case_status }}
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>No of votes</label>
                      {{ case_detail.count_gravity }}
                    </div>
                  </div>
                </div><!-- row -->

                <div class="row">
                <div class="col-sm-4">
                    <div class="info-group">
                      <label>Fault suburb</label>
                      {{  case_detail.suburb }}
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>Fault Landmark</label>
                      {{  case_detail.map_land_mark_name }}
                    </div>
                  </div>


                    <div class="col-sm-4">
                      <div class="info-group">
                        <label>Username</label>
                        {{ case_detail.author }}
                      </div>
                    </div>

                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>User suburb</label>
                      {{  case_author_cred.suburb }}
                    </div>
                  </div>

                    <div class="col-sm-4">
                      <div class="info-group">
                        <label>User region</label>
                        {{ case_author_cred.region }}
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="info-group">
                        <label>User phone number</label>
                        {{ case_author_cred.phone_number }}
                      </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                    <div class="info-group">
                      <label>First name</label>
                      {{ case_author_cred.first_name }}
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>Last name</label>
                       {{ case_author_cred.last_name }}
                    </div>
                  </div>
                   <div class="col-sm-4">
                    <div >
                    <a href="{% url 'delete_case' pk=case_detail.pk %}" data-confirm="true" class="confirm-delete btn btn-danger btn-stroke btn-quirk pull-right">Delete</a>
                     <a href="{%url 'editProjectCase' pk=case_detail.pk%}" class="btn btn-success btn-stroke btn-quirk pull-right"><i class="fa fa-pencil fa-1x"></i> Change fault status</a>
                    
                    </div>
                  </div>
                </div>
                   
                </div><!-- row -->
                </div>
              </div>
            </div><!-- panel -->
            <script>
            $('*[data-confirm="true"]').on('click', function() {
                return confirm("Are you sure you want to delete this case?");
            });
            </script>


        <div class="col-md-12">
          <div class="panel">
            <div class="panel-heading">
              <h4 class="panel-title">Assign fault and comment</h4>
              <p>Toggle between the field workers and comments from fault.</p>
            </div>
            <div class="panel-body">

              <!-- Nav tabs -->
              <ul class="nav nav-tabs nav-line nav-justified">
                <li class="active"><a href="#popular12" data-toggle="tab"><strong>Assign Fault to field worker</strong></a></li>
                <li><a href="#recent12" data-toggle="tab"><strong>Comments on Fault ({{count_comment}})</strong></a></li>
                <!-- <li><a href="#comments12" data-toggle="tab"><strong>Comments</strong></a></li> -->
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane active" id="popular12">
                 <div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">Assign this case to any of this field worker</h4>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table id="field_worker_table" class="table table-striped nomargin">
              <thead>
                <tr>
                  <th class="text-left">Full name</th>
                  <th class="text-center">Company</th>
                  <th class="text-center">Suburb</th>
                  <th class="text-right">Phone number</th>
                  <th class="text-right">Profile</th>
                  <th class="text-right">Assign/Unassign</th>

                </tr>
              </thead>
              <tbody>
                <!-- for loop -->
                {% for worker in field_workers %}
                <tr style="font-size:13px">
                  
                  <td>
                      <a href="{% url 'view_field_worker_detail' pk=worker.pk%}">
                      {{worker.full_name}}
                      </a>
                  </td>

                  <td class=" hidden text-center worker_detail">{{worker.id}}</td>
                  <td class="text-center">{{worker.company}}</td>
                  <td class="text-center">{{worker.suburb}}</td>
                  <td class="text-right">{{worker.phone_number}}</td>
                  {% if worker.field_worker_image %}
                  <td class="text-right"> <img src="{{ worker.field_worker_image.url }}" width="30px" alt=""/></td>
                 {% else %}
                  <td class="text-right"> <img src="{% static 'images/empty_company_img.png'%}" width="30px" alt=""/></td>

                  {% endif %}

                  {% if worker.assigned %}
                  <td>
                  <input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
                      <a  href="#" id="btn-unassign{{worker.id}}" class="unassign-fault-btn pull-right btn btn-success btn-quirk btn-stroke"> UnAssign</a>
                  </td>
                  
                  {%else %}
                  <td>
                      <a  href="#" id="btn-assign{{worker.id}}" class="assign-fault-btn pull-right btn btn-success btn-quirk btn-stroke"> Assign</a>
                  </td>
                  
                  {% endif %}
                </tr>
                {% empty %}
                  No field worker
                <!-- end of for loop -->
                {% endfor %}
              </tbody>
            </table>
          </div><!-- table-responsive -->
        </div>
      </div><!-- panel -->

            <!-- end of Field workers list for assignment -->
        </div>
        <div class="tab-pane" id="recent12">
         
        <div class="contentpanel">
        <div class="row">
          <div class="col-sm-8 col-md-9 col-lg-10">
            <div class="timeline-wrapper">

               {% for comment in comments %}
              <div class="panel panel-post-item status">
                <div class="panel-heading">
                  <div class="media">
                    <div class="media-left">
                      <a href="#">
                        <img alt="" src="{% static 'images/user_icon.png' %}" class="media-object img-circle">
                      </a>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">{{comment.user}}</h4>
                      <p class="media-usermeta">
                        <span class="media-time">{{comment.date_commented}}</span>
                      </p>
                    </div>
                  </div><!-- media -->
                 
                </div><!-- panel-heading -->
                <div class="panel-body">
                  {{comment.comment}}
                </div>
                 <div class="panel-body">
                     {% if comment.comment_image %}
                    <a href="{{ comment.comment_image.url }}" data-lightbox="example-set"><img class="example-image" src="{{ comment.comment_image.url }}" width="200px" alt=""/></a>
                    {% endif %}
                </div>
                {% empty %}
                No comment on this fault
              </div><!-- panel panel-post -->
              {% endfor %}
            </div><!-- timeline-wrapper -->
          </div>
          </div>
        </div><!-- row -->
    </div><!-- contentpanel -->
                </div>
               
              </div>

            </div>
          </div><!-- panel -->
        </div><!-- col-md-6 -->
  <script src="{% static 'assign_fault_resources/js/assign_fault.js' %}"></script>

<script type="text/javascript">
  
$(function(){
$('#field_worker_table').on('click', '.unassign-fault-btn', function(e){
  e.preventDefault()
  var button_id = $(this).attr('id');
  var fault_id = {{ case_detail.id }}
  var get_id = ($(this).closest("tr").find('.worker_detail').text());
  $("#"+button_id).text('WAIT...');
  $.ajax({
    url: "/transgov/dashboard/faultassigned/remove/",
    type: "POST", // http method
      data: {
        csrfmiddlewaretoken: csrftoken,
        fault_id: fault_id,
        field_worker_id: get_id 
        
      }, // data sent with the post request
    // handle a successful response
      success: function(data) {
        // alert("successfully unassigned fieldworker to this fault")
        $("#"+button_id).removeClass('unassign-fault-btn').addClass('assign-fault-btn'); 
        $("#"+button_id).text('ASSIGN');

        
      }
  })
  });
});
</script>
{% endblock %}

  
</body>

</html>
