{% extends 'project/dashboard_base.html'%}
{% load staticfiles %}
{% block content %}
<html>
<head>
     <script src="{% static 'dashboard-resources/js/custom_js.js' %}"></script>
</head>
    <body>
<div class="col-md-6">
          <div class="panel">
            <div class="panel-heading">
              <h4 class="panel-title">Edit Project Case</h4>
            </div>
            <div class="panel-body">
                <form enctype='multipart/form-data' method="POST" class="post-form">{% csrf_token %}
                <form enctype='multipart/form-data' method="POST" class="post-form">{% csrf_token %}
                 {{ form.as_p }}
                   <button type="submit" class="save btn btn-success btn-quirk btn-stroke">Update fault status</button>
                 </form>

            </div>
          </div><!-- panel -->
        </div>

 <script>
  $( function() {
    $( "#event_start_datepicker" ).datepicker({ dateFormat: 'dd/mm/yy' });
  } );
  </script>
</body>
</html>

{% endblock %}