{% extends 'project/dashboard_base.html'%}
<html>
<body>

{% block content %}

<ol class="breadcrumb breadcrumb-quirk">
        <li><a href="{% url 'viewAllCasesOnDashboard'%}"><i class="fa fa-home mr5"></i> Reported Faults</a></li>
        <li class="active">Pending Faults</li>
      </ol>
<div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">List of Fixed Cases</h4>
          <p>List of Fixed Cases.</p>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped nomargin">
              <thead>
                <tr>
                  <th>Fault number</th>
                  <th>Fault category</th>
                  <th class="text-center">Fault name</th>
                  <th class="text-center">Location</th>
                  <th class="text-right">Fault status</th>
                  <th class="text-right">Reported date</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for fixed_cases in fixed_cases.object_list %}
                <tr style="font-size:13px">
                  <td>
                      <a href="{% url 'caseDetailsOnDashboard' pk=fixed_cases.pk %}">
                      {{fixed_cases.case_number}}
                      </a>
                  </td>
                  <td>{{fixed_cases.case_category}}</td>
                  <td class="text-center">{{fixed_cases.case_name}}</td>
                  <td class="text-center">{{fixed_cases.location}}</td>
                  <td class="text-right">{{fixed_cases.case_status}}</td>
                  <td class="text-right">{{fixed_cases.created_date}}</td>
                  <td>
                  </td>
                </tr>
               {% endfor %}
              </tbody>
            </table>
          </div><!-- table-responsive -->
        </div>
      </div><!-- panel -->

    <div class="container">
  <div class="col-md-offset-5">
      <ul class="pagination">
          {% if fixed_cases.has_previous %}
              <li><a href="?page={{ fixed_cases.previous_page_number }}">«</a></li>
          {% endif %}
          {% for pg in fixed_cases.paginator.page_range %}
              {% if fixed_cases.number == pg %}
                  <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
              {% else %}
                  <li><a href="?page={{ pg }}">{{ pg }}</a></li>
              {% endif %}
          {% endfor %}
          {% if fixed_cases.has_next %}
              <li><a href="?page={{ fixed_cases.next_page_number }}">»</a></li>
          {% endif %}
      </ul>
    </div>
  </div>
      {% endblock %}
</body>

</html>

