{% extends 'project/dashboard_base.html'%}
{% load staticfiles %}

<html>
<body>
<head>

</head>
{% block content %}

 <style>
#map {
height: 400px;
width: 100%;
}
.fullsearchpanel {
	/*background-color: #3b4354;*/
top: 0px;
left: 64px;
width: 230px;
}
input#q {
	width: 300%
}
.data-found{
	color: red;
}
</style>

<ol class="breadcrumb breadcrumb-quirk">
        <li><a href=""><i class="fa fa-home mr5"></i>Reported Faults</a></li>

        <li><a href="{% url 'viewAllCasesOnDashboard'%}">list of reported faults</a></li>
       
        <li class="active">Search fault</li>
      </ol>
     
    <div class="panel">
    	<div class="panel-heading">
    		<!-- search panel on dashboard -->
	    <div class="fullsearchpanel">
	          <div class="input-group">
	             <input id="q" name="q" placeholder="Search for fault by ID, title, fault status, or by location" autocomplete="off" autocorrect="false" spellcheck="false" class="form-control" type="search" />

				  
				
	          </div>
	            
        </div>

	    </div>
	    
	    </div>

<div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">Search results</h4>
          <div class="" id="hits-stat">
		</div>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
           
			    <table id="hits-table" class="table table-striped nomargin table table-striped hidden">
			      <thead>
			       <tr>
                  
                  <th>Fault number</th>
                  <th class="text-center">Fault name</th>
                  <th class="text-right">Fault status</th>
                  <th class="text-center">Fault location</th>
                  <th class="text-right">Land mark</th>
                  <th></th>
                </tr>
			      </thead>
			      <tbody id="hits">
			      </tbody>
			    </table>
			  </div>
			</div>
			<script src="//cdn.jsdelivr.net/hogan.js/3.0.2/hogan.min.js"></script>
    		<script src="//cdn.jsdelivr.net/g/algoliasearch,algoliasearch.helper"></script>

			{% block javascript %}

			{% verbatim %}
			<script type="text/template" id="hit-template">
			<tr style="font-size:13px">
				
			  <td>
			  	<a href="#">
			  {{{ _highlightResult.case_number.value }}}
			  </a>
			</td>
			
			  <td class="text-center">{{{ _highlightResult.case_name.value }}}</td>
			  <td class="text-center">{{{ _highlightResult.case_status.value }}}</td>
			  <td class="text-center">{{{ _highlightResult.land_mark.value }}}</td>
			  <td class="text-center">{{{ _highlightResult.map_land_mark_name.value }}}</td> 
			  <td>{{{ _highlightResult.created_date.value }}}</td>
			</tr>
			</script>
			{% endverbatim %}
          </div><!-- table-responsive -->
        </div>
      </div><!-- panel -->

    <div class="container">
  <div class="col-md-offset-5">
      <ul class="pagination">
          
      </ul>
    </div>
  </div>
<script>
$(document).ready(function() {
  var $inputField = $('#q');
  var $hits = $('#hits');
  var $hitsTable = $('#hits-table');
  var $noHits = $('#no-hits');
  var $hitsStat = $('#hits-stat');

  var hitTemplate = Hogan.compile($('#hit-template').text());
// local
  // var client = algoliasearch('DGLEAN8QG3', '78d0d17ccae2e707c9809fa8a62658b6');
  // var helper = algoliasearchHelper(client, 'ProjectCase');
// end of local host

// Stage
// var client = algoliasearch('BW042H4PJM', 'c39bba2d290bbf2723d57e8f4e4c541f');
// var helper = algoliasearchHelper(client, 'ProjectCase');
// end of stage

// Production
var client = algoliasearch('BDTOCYO5ND', '6fa35dde94e8e747426e4f85d269858c');
var helper = algoliasearchHelper(client, 'ProjectCase');
// end of production
  $('.search-terms a').click(function(e) {
    $inputField.val($(this).text()).change().focus();
    $inputField.keyup();
  });

  $inputField.on('keyup', function() {
    var query = $inputField.val();
    helper.setQuery(query).search();
  }).focus();

  helper.on('result', function(data) {
    renderHits(data);
  });

  helper.search(); // first search

  function renderHits(content) {
    var hitsHtml = '';

    if (content.hits.length === 0) {
      hitsHtml = '<p class="text-center text-danger lead">We didn\'t find any results for your search.</p>';
      $noHits.html(hitsHtml);
      $noHits.removeClass('hidden');
      $hitsTable.addClass('hidden');
    } else {
      for (var i = 0; i < content.hits.length; ++i) {
        hitsHtml += hitTemplate.render(content.hits[i]);
      }

      $hits.html(hitsHtml);
      $hitsTable.removeClass('hidden');
      $noHits.addClass('hidden');
    }

    $hitsStat.html('<p class="text-left data-found">Found <b>' +
        content.nbHits + '</b> results in <b>' + content.processingTimeMS + '</b>ms, '
    );
  }
});
</script>

      {% endblock %}

{% endblock %}
</body>

</html>

