{% load staticfiles %}

<html>
<head>
     <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,width=device-width,height=device-height,target-densitydpi=device-dpi,user-scalable=yes">

    <title>

    </title>

  <link rel="stylesheet" href="{% static 'user_account_components/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'user_account_components/account.css' %}">

</head>
<body>
<div class="container">

  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>

    <div class="col-md-4">
      <section class="login-form">

<form method="post" action="#" role="login">
          <img src="{%static 'images/signup_logo.png'%}" class="img-responsive" alt="" />
          {% block content %}

            {% endblock %}


        </form>

      </section>
      </div>

      <div class="col-md-4"></div>


  </div>



</div>
  <link rel="javascript" href="{% static 'user_account_components/account.js' %}">

</body>
</html>
