{% load staticfiles %}

{% load i18n %}

{% block head_title %}{% endblock %}


<style type="text/css">
	@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 2% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #2aa083;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background:  #2aa083;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #2c3e50, #2c3e50);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  overflow: hidden;     
}
</style>



<div class="login-page"> 
<img src="{%static 'images/new_signup_logo.png'%}" width="150px" class="img-responsive" alt="" style="margin-left: 25%" />
<br>
  <div class="form">
    
{% block content %}
<h3>{% trans "Sign Up" %} | <a href="{% url 'homePage' %}">Home</a></h3>

<p>{% blocktrans %}Already have an account? <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
 <!--  <div class="sign_up">
  {{ form.as_p }}
    </div> -->
    <div class="form-group">
               <!-- <label>{{ form.oldpassword.label }}</label> -->
                      {{ form.first_name }}
              </div>
         <div class="form-group">
               <!-- <label>{{ form.password1.label }}</label> -->
                      {{ form.last_name }}
              </div>
        <div class="form-group">
               <!-- <label>{{ form.password2.label }}</label> -->
                      {{ form.username }}
              </div>
              <div class="form-group">
               <!-- <label>{{ form.password2.label }}</label> -->
                      {{ form.email }}
              </div>
              <div class="form-group">
               <!-- <label>{{ form.password2.label }}</label> -->
                      {{ form.password1 }}
              </div>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class="btn btn-lg btn-primary btn-block">{% trans "Sign Up" %} &raquo;</button>
</form>


{% endblock %}

</div>
</div>