{% extends 'project/dashboard_base.html'%}
{% load staticfiles %}
<html>
<head>
    <body>
{% block content %}
                 <div class="panel panel-profile list-view">
              <div class="panel-heading">
                <div class="media">
                  <div class="media-left">
                    <a href="">
                      {% if news_details.news_image %}
                      <img class="project-details" src="{{ news_details.news_image.url }}" height="250px">
                    {% else %}
                <img src="{% static 'images/project_image.png'%}" alt="project image" height="250px"/>
            {% endif %}
                    </a>
                  </div>
                    <br>
                  <div class="media-body">
                    <h3 class="media-heading">{{ news_details.title }}</h3>
                    <h4>
                    <div readonly style="overflow-y:scroll; width:1000px; height:300px; border:none; background-color: #fffffff; font-weight: normal">
                    {{ news_details.description | safe}}
                    </div>
                    </h4>
                       <a href="{% url 'edit_news' pk=news_details.pk %}" class="btn btn-success btn-quirk btn-stroke">Edit news</a>
                       <a href="{% url 'delete_news' pk=news_details.pk %}" class="btn btn-danger btn-quirk btn-stroke">Delete</a>
                  </div>
                </div><!-- media -->
                <ul class="panel-options">
                  <li><a class="tooltips" href="" data-toggle="tooltip" title="View Options"><i class="glyphicon glyphicon-option-vertical"></i></a></li>
                </ul>
              </div><!-- panel-heading -->

              <div class="panel-body people-info">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>News written</label>
                      {{ news_details.written_by }}
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>Published Date</label>
                      {{ news_details.published_date }}
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>Published by</label>
                      {{ news_details.author }}
                    </div>
                  </div>
                </div><!-- row -->
              </div>

            </div><!-- panel -->
{% endblock %}

</body>
</head>
</html>
