{% extends 'project/dashboard_base.html'%}
{% load staticfiles %}
{% block content %}
<html>
<head>
     <script src="{% static 'dashboard-resources/js/custom_js.js' %}"></script>

    {{ form.media }}
</head>
    <body>
    <div class="col-md-12">
      <!-- alert messages -->
      {% if messages %}
      <div class="notice notice-info col-sm-4">
      <strong>TransGov</strong> Notification
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      </div>
      {% endif %}
    </div>
<div class="col-md-6">
          <div class="panel">
            <div class="panel-heading">
              <h4 class="panel-title">Edit News</h4>
              <p>This form is used to record news written about transgov</p>
            </div>
            <div class="panel-body">
                <form enctype='multipart/form-data' method="POST" class="post-form">{% csrf_token %}
                 {{ form.as_p }}
                <br>
                   <button type="submit" class="save btn btn-success btn-quirk btn-stroke">Edit news</button>
                 </form>

            </div>
          </div><!-- panel -->
        </div>

 <script>
  $( function() {
    $( "#news_datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
  });
  </script>
  <script src="//cloud.tinymce.com/stable/tinymce.min.js"></script>
  <script>tinymce.init({
  selector:'textarea',
  toolbar: 'fontsizeselect',
  plugins: "link, wordcount, media, fontsizeselect",
  height: '300px',
  fontsize_formats: "8px 10px 12px 13px 14px 15px 18px 24px 36px",
 });</script>
</body>
</html>
{% endblock %}
