{% extends 'project/dashboard_base.html'%}
<!--{% load index %}-->

{% block content %}


<ol class="breadcrumb breadcrumb-quirk">
        <li><a href=""><i class="fa fa-home mr5"></i> News</a></li>
        <li><a href="{% url 'viewProjectsonDashboard'%}">list of news</a></li>
        <li class="active">all news</li>
      </ol>
<div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">List of news</h4>
          <p>List of news from the system.</p>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped nomargin">
              <thead>
                <tr>
                  <th class="text-center">
                    <label class="ckbox ckbox-primary">
                      <input type="checkbox"><span></span>
                    </label>
                  </th>
                  <th>News title</th>
                  <th>Description</th>
                  <th class="text-center">written by</th>
                  <th class="text-right">Publish date</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for news in news_list.object_list %}
                {% autoescape off %}
                <tr>
                  <td class="text-center">
                    <label class="ckbox ckbox-primary">
                      <input type="checkbox"><span></span>
                    </label>
                  </td>
                  <td>
                      <a href="{% url 'dashboard_news_detail' pk=news.pk %}">
                      {{news.title}}
                      </a>
                  </td>

                  <td class="news-description">{{news.description|safe|truncatewords:30}}</td>

                  <td class="text-center">{{news.written_by}}</td>
                  <td class="text-center">{{news.published_date}}</td>
                  <td>
                    <ul class="table-options">
                      <li><a href="{%url 'edit_news' pk=news.pk%}"><i class="fa fa-pencil fa-1x"></i></a></li>
                      <!--<li><a href="basic-tables.html"><i class="fa fa-trash"></i></a></li>-->
                    </ul>
                  </td>
                </tr>
                {% endautoescape %}
               {% endfor %}
              </tbody>
            </table>
          </div><!-- table-responsive -->
        </div>

      </div><!-- panel -->
        <div class="container">
  <div class="col-md-offset-5">
      <ul class="pagination">
          {% if news_list.has_previous %}
              <li><a href="?page={{ news_list.previous_page_number }}">«</a></li>
          {% endif %}
          {% for pg in news_list.paginator.page_range %}
              {% if news_list.number == pg %}
                  <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
              {% else %}
                  <li><a href="?page={{ pg }}">{{ pg }}</a></li>
              {% endif %}
          {% endfor %}
          {% if news_list.has_next %}
              <li><a href="?page={{ news_list.next_page_number }}">»</a></li>
          {% endif %}
      </ul>
    </div>
  </div>

      {% endblock %}

