{% extends 'landingPage/base.html' %}
{% load staticfiles %}

<html>
{% block title %}
News
{% endblock title %}
{% block content %}
  <body>
  <header>
      <div class="row h-third-row">
        <div class="m1170 p-relative h250">
          <div class="col-sm-12 h-page-name p-absolute" data-wow-delay="0.7s" data-wow-duration="1.5s">
            TransGov News
            <div class="h-current-page">
              <a href="{% url 'homePage' %}" ><span class="f-orange">Home</span></a> <span class="f-slash">/</span><a ><span class="f-orange">News</span></a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section><h2 class="hidden">TransGov</h2>
        <div class="row new-details">
          <div class="m1170">
            <div class="col-sm-9 top80">
                            {% if news_list %}
                            {% for news in news_list.object_list %}
              <article><h2 class="hidden">TransGov</h2>
                <div class="first-post">
                  <div class="first-pict wow" data-wow-delay="0.7s" data-wow-duration="1.5s">
                    {% if news.news_image %}
                    <a href="{% url 'news_detail' pk=news.pk %}"> <img src="{{news.news_image.url}}" alt="News image"> </a>
                    {% else %}
                    <img src="{% static 'images/project_image.png'%}" alt="event image" height="250px"/>
                    {% endif %}
                    <div class="pict-data uppercase">{{news.published_date}}</div>
                  </div>
                  <div class="font22 color333 extrabold uppercase top30 wow " data-wow-delay="0.7s" data-wow-duration="1.5s"><a href="{% url 'news_detail' pk=news.pk %}">{{news.title}}</a></div>
                  <div class="f-left p-right20 wow " data-wow-delay="0.7s" data-wow-duration="1.5s">
                    <ul class="list-styles new-first-det start0 f-left top10">
                      <!-- <li><a href=""><i class="fa fa-calendar">&nbsp;</i>{{event.start_date}}</a></li> -->
                    </ul>
                  </div>
                  <div class="f-left wow " data-wow-delay="0.7s" data-wow-duration="1.5s">
                    <ul class="list-styles new-first-det start0 f-left top10">
                      <!-- <li><a href=""><i class="fa fa-location-arrow">&nbsp;</i>{{event.venue |safe}}</a></li> -->
                      <!-- <li><a href=""><i class="fa fa-compass">&nbsp;</i>{{event.sub_metro}}</a></li> -->
                    </ul>
                  </div>
                  <div class="clearfix"></div>
                  <div class="s-row-line margin20 wow " data-wow-delay="0.7s" data-wow-duration="1.5s">
                  </div>
                        {{ news.description | safe |truncatechars:400}} <a href="{% url 'news_detail' pk=news.pk %}">Read more</a>

                </div>
              </article>
                            {% endfor %}
                            {% else %}
                            <p><h3>No News Recorded</h3></p>
                            {% endif %}

              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      <div class="clearfix"></div>
            <!-- PAGINATION SETTINGS-->
            <div class="container">
  <div class="col-md-offset-5">
      <ul class="pagination">
          {% if news_list.has_previous %}
              <li><a href="?page={{ news_list.previous_page_number }}">«</a></li>
          {% endif %}
          {% for pg in news_list.paginator.page_range %}
              {% if news_list.number == pg %}
                  <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
              {% else %}
                  <li><a href="?page={{ pg }}">{{ pg }}</a></li>
              {% endif %}
          {% endfor %}
          {% if news_list.has_next %}
              <li><a href="?page={{ news_list.next_page_number }}">»</a></li>
          {% endif %}
      </ul>
    </div>
  </div>
    </section>
    {% endblock %}

  </body>
</html>
