{% extends "landingPage/base.html" %}
{% load staticfiles %}
{% block title %}
News detail
{% endblock title %}
{% block content %}
<html>
<head>
  <link rel="stylesheet" href="{% static 'css/project-detail-view.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard-resources/lib/ionicons/css/ionicons.css' %}">
  <link rel="stylesheet" href="{% static 'css/morris.css' %}">
  <link rel="stylesheet" href="{% static 'css/modal.css' %}">
</head>
<body>
  <header>
   <div class="row h-third-row">
    <div class="m1170 p-relative h250">
     <div class="col-sm-12 h-page-name p-absolute" data-wow-delay="0.7s" data-wow-duration="1.5s">
      News Details
      <div class="h-current-page">
       <a href="{% url 'homePage' %}" ><span class="f-orange">Home</span></a> <span class="f-slash">/</span><a href="" ><span class="f-orange">News Details</span></a>
     </div>
   </div>
 </div>
</div>
</header>
<section><h2 class="hidden"></h2>
  <div class="row new-details">
   <div class="m1170">
    <div class="col-sm-9 top80">
     <article><h2 class="hidden"></h2>
      <div class="first-post">
       <div class="first-pict wow " data-wow-delay="0.7s" data-wow-duration="1.5s">
        {% if public_news_detail.news_image %}
         <img src="{{ public_news_detail.news_image.url }}" alt="news image">
        {% else %}
        <img src="{% static 'images/project_image.png'%}" alt="news image" height="250px"/>
        {% endif %}
         <div class="pict-data uppercase">{{ public_news_detail.published_date }}</div>
      </div>
      <div class="font22 color333 extrabold uppercase top30 wow" data-wow-delay="0.7s" data-wow-duration="1.5s"> {{public_news_detail.title}}
      </div>
        <div class="f-left p-right20 wow" data-wow-delay="0.7s" data-wow-duration="1.5s">
          <ul class="list-styles new-first-det start0 f-left top10">
           <li><i class="fa fa-user">&nbsp;</i>{{ public_news_detail.written_by }}</li>
           <!-- <li><i class="fa fa-compass">&nbsp;</i>{{ public_event_detail.region }}</li> -->
           <!-- <li><i class="fa fa-location-arrow">&nbsp;</i>{{ public_event_detail.sub_metro }}</li> -->
        </ul>
      </div>
      <div class="f-left wow" data-wow-delay="0.7s" data-wow-duration="1.5s">
        <ul class="list-styles new-first-det start0 f-left top10">
         <li>
           <div class="fb-share-button" data-href="{{request.build_absolute_url}}" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse"></a></div>
         </li>
       </ul>
     </div>
     <div class="clearfix"></div>
     <div class="s-row-line margin20" data-wow-delay="0.7s" data-wow-duration="1.5s">
     </div>
     <div class="color777 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
      <p> News details: </p>
       {{ public_news_detail.description | safe}}
    </div>
  </div>
       <br><br>
  </article>
  <br>
{% if instance.user.get_full_name%}
Author: {{instance.user.get_full_name}}
{% endif %}
<p>
 <div class="fb-like" data-href="{{request.build_absolute_url}}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
</p>
{{instance.content|linebreaks}}
<!-- Facebook commenting-->
<div class="fb-comments" data-href="{{request.build_absolute_url}}" data-numposts="5"></div>
</div>
<div class="col-sm-3 top80">
 <nav>
  <div class="clearfix"></div>
</nav>
</div>
</div>
</div>
</div>
<div class="clearfix"></div>
</section>
</body>
</html>
{% endblock content %}


