{% extends 'project/dashboard_base.html'%}
{% load staticfiles %}
{% block content %}
<html>

<head>
     <script src="{% static 'dashboard-resources/js/custom_js.js' %}"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/alertify.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/themes/default.min.css"/>
<!-- Semantic UI theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/themes/semantic.min.css"/>
<!-- Bootstrap theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/themes/bootstrap.min.css"/>

</head>
    <body>

<div class="panel col-md-6 col-md-offset-3">
            <div class="panel-heading">
              <h4 class="panel-title">Mobile notification</h4>
              <p>Send general notifications to all TrasnGov app users.</p>
              <pre>Note** Please proofread message before sending.</pre>
            </div>
            <div class="panel-body">
            <div class="form-group ">
                <input type="text" id="notification-title" class="form-control" placeholder="Enter title of notification">
              </div>
              <div class="form-group nomargin">
                <textarea id="notification-message" class="form-control" rows="5" placeholder="Enter notification message to send to all devices"></textarea>
              </div>
               <div class="form-group ">
                <input type="hidden" id="fcm-ids" class="form-control" value="{{all_fcm_ids}}" readonly="readonly">
              </div>
              <br>
              <div class="form-group nomargin">
                <button id="fcm-send" class="btn btn-success btn-quirk btn-stroke">Fire notification</button>
              </div>
            </div>
          </div>

</body>

<script type="text/javascript">
  $("#fcm-send").click(function(e) {
    e.preventDefault();
    $("#fcm-send").html("Sending Notification ...")
    var notification_title = $('#notification-title').val();
    var notification_message = $('#notification-message').val();

    var fcm_ids =  $('#fcm-ids').val();
    var registration_ids = fcm_ids.replace(/'/g, '"')
    var cleanedReg =  JSON.parse(registration_ids);
     $.ajax({        
            type : 'POST',
            url : "https://fcm.googleapis.com/fcm/send",
            headers : {
                Authorization : 'key=' + 'AIzaSyDgaBk1cZl6lEMAyBXLiZQfl5lsMuRFjJ4'
            },
            contentType : 'application/json',
            dataType: 'json',
            data: JSON.stringify({
              "notification": {
                "title": notification_title,
                "body": notification_message,
                "icon": "{% static './media/fcm-img/fcm-icon.png' %}"
              },
              "registration_ids":cleanedReg
            }),
            
            success : function(response) {
            alertify.alert("notification sent. " + "Successful " + response.success + ". Failed is " +
            response.failure, function(){
            alertify.success('OK');
            $("#fcm-send").html("Fire notification")
            });

            },
            error : function(xhr, status, error) {
            console.log("there is an error" + xhr.error);
            alert("Oopps! something went wrong"); 
            $("#fcm-send").html("Fire notification")
                
            }
        });
});
</script>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/alertify.min.js"></script>

</html>
{% endblock %}
