{% extends 'project/dashboard_base.html'%}
{% load staticfiles %}

<html>
<body>
<head>

</head>
{% block content %}

 <style>
#map {
  height: 400px;
  width: 100%;
 }
</style>

<ol class="breadcrumb breadcrumb-quirk">
        <li><a href=""><i class="fa fa-home mr5"></i> Community fault reports</a></li>
        
      </ol>
      

<div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">List of faults with status</h4>
          <p>Log status of all the faults reported</p>
          {% for all_status in report_status.object_list %}
          <hr>
          <div>
          <h4>Fault Name:</h4> {{ all_status.case_name }}
          </div>
          <h4>Category: </h4> {{ all_status.case_category }}
          <h4>Location:</h4> {{ all_status.suburb }}</h3>
        </div>

        <div class="panel-body">
          <div class="list-cases">
          

            <div class="table-responsive">
            <table class="table table-striped nomargin">
              <thead>
                <tr>
                  <th class="text-right">Status</th>
                  <th class="text-right">Status change time</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for fault in all_status.reported_case_status.all %}
                 <tr style="font-size:13px">
                  
                  <td class="text-right"> {{fault.report_status}}</td>
                  <td class="text-right">{{fault.status_change_time}}</td>
                  
                  <td>
                      <ul class="table-options">
                      <!--<li><a href="basic-tables.html"><i class="fa fa-trash"></i></a></li>-->
                    </ul>
                  </td>
                </tr>
                {% empty %}
                <tr style="font-size:13px">
                  <td colspan="3" class="text-center"> No fault status </td>
                </tr>
                {% endfor %}
               

              </tbody>
            </table>
          </div><!-- table-responsive -->

          {% endfor %}
          </div>
          
        </div>
      </div><!-- panel -->

    <div class="container">
  <div class="col-md-offset-5">
      <ul class="pagination">
          {% if report_status.has_previous %}
              <li><a href="?page={{ report_status.previous_page_number }}">«</a></li>
          {% endif %}
          {% for pg in report_status.paginator.page_range %}
              {% if report_status.number == pg %}
                  <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
              {% else %}
                  <li><a href="?page={{ pg }}">{{ pg }}</a></li>
              {% endif %}
          {% endfor %}
          {% if report_status.has_next %}
              <li><a href="?page={{ report_status.next_page_number }}">»</a></li>
          {% endif %}
      </ul>
    </div>
  </div>

      {% endblock %}


</body>

</html>

