{% extends 'project/dashboard_base.html'%}
{% load staticfiles %}
{% block content %}
<html>
<head>
     <script src="{% static 'dashboard-resources/js/custom_js.js' %}"></script>

    {{ form.media }}
</head>
    <body>
<!-- alert messages -->
{% if form.errors %}
  <!-- Error messaging -->
  <div id="errors">
    <div class="inner">
      <p>There were some errors in the information you entered. Please correct the following:</p>
      {{ form.non_field_errors }}
      <ul>
        {% for field in form %}
          {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <!-- /Error messaging -->
{% endif %}

<div class="col-md-6 col-md-offset-3">
          <div class="panel">
            <div class="panel-heading">
              <h4 class="panel-title">Add field worker</h4>
              <p>Fill out field worker form to enable them see the assigned faults</p>
            </div>
            <div class="panel-body">
                <form enctype='multipart/form-data' method="POST" class="post-form">{% csrf_token %}
                 {{ form.as_p }}
                <br>
                   <button type="submit" class="save btn btn-success btn-quirk btn-stroke">Add Field worker</button>
                
                 </form>

            </div>
          </div><!-- panel -->
        </div>
</body>

</html>

{% endblock %}
