{{% extends 'project/dashboard_base.html'%}
{% load staticfiles %}
{% block content %}

<html>
<head>
   <link href="{% static 'css/remodal.css' %}" rel="stylesheet">
  <link href="{% static 'css/remodal-default-theme.css' %}" rel="stylesheet">
</head>
<body>
<ol class="breadcrumb breadcrumb-quirk">
        <li><a href=""><i class="fa fa-home mr5"></i> Field workers</a></li>       
      </ol>
<div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">List of field workers</h4>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped nomargin">
              <thead>
                <tr>
                  <th class="text-left">Full name</th>
                  <th class="text-center">Company</th>
                  <th class="text-center">Suburb</th>
                  <th class="text-right">Phone number</th>
                  <th class="text-right">Profile</th>
                  <th class="text-right">Assigned faults</th>
                </tr>
              </thead>
              <tbody>
                {% for workers in field_workers.object_list %}
                <tr style="font-size:13px">
                  
                  <td>
                      <a href="{% url 'view_field_worker_detail' pk=workers.pk %}">
                      {{workers.full_name}}
                      </a>
                  </td>

                  <input type="hidden" class="text-center" name="workerid" value="{{workers}}">
                  <td class="text-center">{{workers.company}}</td>
                  <td class="text-center">{{workers.suburb}}</td>
                  <td class="text-right">{{workers.phone_number}}</td>
                  {% if workers.field_worker_image %}
                  <td class="text-right"> <img src="{{ workers.field_worker_image.url }}" width="30px" alt=""/></td>
                  {% else %}
                  <td class="text-right"> <img src="{% static 'images/user_avatar.png'%}" width="30px" alt=""/></td>
                  {% endif %}
                  <td>
                      <a onclick='modalTrigger({{workers.id}})'  href="#modal" class="btn-success btn-stroke btn-quirk pull-right btn modal-field-worker">View</a>
                     
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div><!-- table-responsive -->
        </div>
      </div><!-- panel -->

    <div class="container">
  <div class="col-md-offset-5">
      <ul class="pagination">
          {% if field_workers.has_previous %}
              <li><a href="?page={{ field_workers.previous_page_number }}">«</a></li>
          {% endif %}
          {% for pg in field_workers.paginator.page_range %}
              {% if field_workers.number == pg %}
                  <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
              {% else %}
                  <li><a href="?page={{ pg }}">{{ pg }}</a></li>
              {% endif %}
          {% endfor %}
          {% if field_workers.has_next %}
              <li><a href="?page={{ field_workers.next_page_number }}">»</a></li>
          {% endif %}
      </ul>
    </div>
  </div>
{% csrf_token %}
<!-- modal for assigned cases-->
     <div class="remodal" data-remodal-id="modal" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc" 
     action="">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <!-- modal  -->
  <br>
  <button data-remodal-action="confirm" class=" btn btn-sucess btn-stroke btn-quirk remodal-confirm">OK</button>
</div>
<!-- End of modal for assigned cases-->


    <!-- ONLINE LINK FOR MODAL -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../libs/jquery/dist/jquery.min.js"><\/script>')</script>
<!-- Events FOR NEW MODAL -->

    <script src="{% static 'dashboard-resources/js/remodal.js' %}"></script>

<script>
  $(document).on('opening', '.remodal', function () {
    // console.log('opening');
  });

  $(document).on('opened', '.remodal', function () {
    // console.log('opened');
  });

  $(document).on('closing', '.remodal', function (e) {
    // console.log('closing' + (e.reason ? ', reason: ' + e.reason : ''));
  });

  $(document).on('closed', '.remodal', function (e) {
    // console.log('closed' + (e.reason ? ', reason: ' + e.reason : ''));
  });

  $(document).on('confirmation', '.remodal', function () {
    console.log('confirmation');
  });

  $(document).on('cancellation', '.remodal', function () {
    console.log('cancellation');
  });

</script>
<!-- <script>  $('.ick').click(); 
console.log('yaayi00'); 
</script> -->
<script type="text/javascript">
  function modalTrigger(e){
    csrftoken = $("input[name=csrfmiddlewaretoken]").val()
    $.ajax({
      url: "/transgov/dashboard/modal-fault-assigned/",
      type: "POST", // http method
      data: {
        csrfmiddlewaretoken: csrftoken,
        field_worker_id: e
        
      }, // data sent with the post request

      // handle a successful response
      success: function(data) {
        
        $(".remodal").html(data);
        $('.ick').click();
        // success function
        
      }
    });
return false;
    }
</script>

 {% endblock %}

 
</body>

</html>
