<div>
 <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
    <h2 id="modal1Title">Assigned Faults</h2>
    <p id="modal1Desc">
     <div class="panel-body">
          <div class="table-responsive">
             <table class="table table-striped nomargin">
              <thead>
                <tr style="font-size:13px">
                  <th>Fault number</th>
                  <th>Fault name</th>
                  <th class="text-center">Location</th>
                  <th class="text-right">Fault status</th>
                  <th class="text-right">Assigned Date</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for workers in field_workers %}

                <tr style="font-size:13px">
                  <td>
                      {{workers.community_fault.case_number}}
                  </td>
                  <td class="text-center">{{workers.community_fault.case_name}}</td>
                  <td class="text-right">{{workers.community_fault.suburb}}</td>
                  <td class="text-right">{{workers.community_fault.case_status}}</td>
                  <td class="text-center">{{workers.date_assigned}}</td>
                 <td>
                   
                 </td>
                </tr>
                {% endfor %}


              </tbody>
            </table>
          </div><!-- table-responsive -->
           <!-- modal  -->
  <br>
  <button data-remodal-action="confirm" class=" btn-sucess btn-stroke btn-quirk remodal-confirm">OK</button>
        </div>
    </p>
</div>