{% extends 'project/dashboard_base.html'%}
{% load staticfiles %}
{% block content %}
<html>
<head>
     <script src="{% static 'dashboard-resources/js/custom_js.js' %}"></script>
</head>
<body>
            <h3 class="panel-title">Field worker profile</h3>
            <br>
              <div class="panel panel-profile list-view">
              <div class="panel-heading">
                <div class="media">
                  {% if profile.field_worker_image %}
                  <div class="media-left">
                      <img class="media-object img-circle" src="{{ profile.field_worker_image.url }}" alt="profile"/>
                  </div>
                  {% else %}
                  <div class="media-left">
                      <img class="media-object img-circle" src="{% static 'images/user_avatar.png'%}" alt="profile"/>
                  </div>
                  {% endif %}
                  <div class="media-body">
                    <h4 class="media-heading">{{profile.full_name}}</h4>
                  </div>
                </div><!-- media -->
                <ul class="panel-options">
                  <li><a class="tooltips" href="people-directory.html" data-toggle="tooltip" title="View Options"><i class="glyphicon glyphicon-option-vertical"></i></a></li>
                </ul>
              </div><!-- panel-heading -->
              <div class="panel-body people-info">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>Company</label>
                      {{profile.company}}
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>Suburb</label>
                      {{profile.suburb}}
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>Phone</label>
                      {{profile.phone_number}}
                    </div>
                  </div>
                </div><!-- row -->
                <div class="row">
                  <div class="col-md-12 col-sm-4">
                    <div class="info-group">
              <a class="btn btn-success btn-quirk btn-stroke" href="{% url 'edit_field_worker_profile' pk=profile.pk %}">Edit Profile</a>
              <a class="btn btn-danger btn-quirk btn-stroke" style="margin-left: 70%" href="{% url 'delete_field_worker' pk=profile.pk%}">Delete field worker</a>
                    </div>
                  </div>
                </div><!-- row -->
              </div>
            </div><!-- panel -->

    <!-- Table for reportes which has been assigned to this Field worker -->
     <div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">List of faults assigned to field worker</h4>
          <p>List of all faults assinged to {{profile.full_name}}</p>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped nomargin">
              <thead>
                <tr>
                  
                  <th>Fault number</th>
                  <th>Fault name</th>
                  <th class="text-center">Location</th>
                  <th class="text-right">Assigned to</th>
                  <th class="text-right">Fault status</th>
                  <th class="text-right">Assigned Date</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for faults in assigned_faults %}
                <tr style="font-size:13px">
                 
                  <td>
                      {{faults.community_fault.case_number}}
                  </td>
                  <td>{{faults.community_fault.case_name}}</td>
                  <td class="text-center">{{faults.community_fault.suburb}}</td>
                  <td class="text-right">{{faults.field_worker}}</td>
                  <td class="text-center">{{faults.community_fault.case_status}}</td>
                  <td class="text-right">{{faults.date_assigned}}</td>
                 <td>
                   
                 </td>
                </tr>
               {% endfor %}

              </tbody>
            </table>
          </div><!-- table-responsive -->
        </div>
      </div><!-- panel -->

    <!-- End of Table for reportes which has been assigned to this Field worker -->

</body>

</html>

{% endblock %}
