{% load staticfiles %}
 <div class="col-sm-4 top60">
    <div class="member-prof " data-wow-delay="0.7s" data-wow-duration="1.5s">
        <div class="memb-photo memb-photo1 featured">
        <!-- project image would go here -->
          <img src="{%static 'projectImages/' %}/{{project.id}}" width="100%" height="50%"/>
                <div class="memb-photo-links">


                </div>
            </div>
        </div>
        <div class="memb-txt">

        <!-- other project details here would go here -->
            <div class="font11 semibold uppercase blue">{category}}</div>
            <div class="font14 color333 uppercase"><b>{{project.name}}</b></div>
            <div class="font12 color777 p-top10">{{project.description}}</div>
        </div>
    </div>
  </div>
 <br>
