{% load staticfiles %}

                <div class="row cat-partners">
                    <div class="m1170">
                        <div class="about-title extrabold uppercase top60">
                            <span class="bgfff font22 color555 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">our partners</span>
                        </div>

                            <div class="partners margin60 f-left">
                            <div class="width20 wow zoomIn" data-wow-delay="0.7s" data-wow-duration="1.5s"><a href="{% url 'partners'%}"><img src="{% static 'images/partners/ushahidi.jpg' %}" alt="Ushahidi"></a></div>
                             <div class="width20 wow zoomIn" data-wow-delay="0.7s" data-wow-duration="1.5s"><a href="{% url 'partners'%}"><img src="{% static 'images/partners/ama-design.png' %}" alt="AMA"></a></div>
                            <div class="width20 wow zoomIn" data-wow-delay="0.7s" data-wow-duration="1.5s"><a href="{% url 'partners'%}"><img src="{% static 'images/partners/odi.png' %}" alt="NITA"></a></div>
                            <div class="width20 wow zoomIn" data-wow-delay="0.7s" data-wow-duration="1.5s"><a href="{% url 'partners'%}"><img src="{% static 'images/partners/godi_home.png' %}" alt="NITA"></a></div>
                           <div class="width20 wow zoomIn" data-wow-delay="0.7s" data-wow-duration="1.5s"><a href="{% url 'partners'%}"><img src="{% static 'images/partners/hivos.png' %}" alt="Hivos"></a></div>
                            <div class="width20 wow zoomIn" data-wow-delay="0.7s" data-wow-duration="1.5s"><a href="{% url 'partners'%}"><img src="{% static 'images/partners/mavc.png' %}" alt="MAVC"></a></div>
                             
                        </div>

                    </div>
                </div>
