{% extends 'project/dashboard_base.html'%}
{% load staticfiles %}
{% block content %}

<html>

<head>
     <script src="{% static 'dashboard-resources/js/custom_js.js' %}"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/alertify.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/themes/default.min.css"/>
<!-- Semantic UI theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/themes/semantic.min.css"/>
<!-- Bootstrap theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/themes/bootstrap.min.css"/>

</head>
    <body>

<div class="panel col-md-6 col-md-offset-3">
            <div class="panel-heading">
              <h4 class="panel-title">Email Invitation.</h4>
              <p>Send email invitation to users to join.</p>
            </div>
            <div class="panel-body">
            <div class="form-group ">
              {% csrf_token %}
                <input type="email" id="email" class="form-control" placeholder="Enter user email" >
              </div>
              <br>
              <div class="form-group nomargin">
                <button type="send" id="send-email" class="btn btn-success btn-quirk btn-stroke">Invite User</button>
              </div>
            </div>
          </div>

</body>

<script type="text/javascript">
  $("#send-email").click(function(e) {
    e.preventDefault();
    $("#send-email").html("Sending Invite ...");
    var email = $('#email').val();
    csrftoken = $("input[name=csrfmiddlewaretoken]").val();
     $.ajax({        
            type : 'POST',
            url : "/transgov/dashboard/invite-users/",
            data: {
              csrfmiddlewaretoken: csrftoken,
              email: email
            },
            success : function(response) {
            alertify.alert("Done! You have Successfully invited " + email + " to access your dashboard", function(){
            alertify.success('OK');
            $("#send-email").html("Invite User")
            var email = $('#email').val('');

            });

            },
            error: function(response) {
              alertify.alert("Invitation failed! Check your internet connection and try again later.")
              alertify.error("Oops check your internet connection.")
              $("#send-email").html("Invite User")
            }
        });
});
</script>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/alertify.min.js"></script>

</html>
{% endblock %}
