{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png" />
  <link rel="icon" type="image/png" href="assets/img/favicon.png" />
  <title>Edit company profile</title>

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

  <!-- CSS Files -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/paper-bootstrap-wizard.css' %}" rel="stylesheet" />

  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="{% static 'assets/css/demo.css' %}" rel="stylesheet" />

  <!-- Fonts and Icons -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
  <link href="{% static 'assets/css/themify-icons.css' %}" rel="stylesheet">
</head>

<body>
  <div class="image-container set-full-height" style="background-image: url('{% static 'assets/img/paper-2.jpeg' %}')">
      <!--   Creative Tim Branding   -->
           <div class="logo-container">
              <div class="logo">
                  <img src="{% static 'assets/img/tg-logo.jpg' %}">
              </div>
              <div class="brand">
                  TransGov Ghana
              </div>
          </div>

      <!--   Big container   -->
      <div class="container">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">

                <!--      Wizard container        -->
                <div class="wizard-container">
                    <div class="card wizard-card" data-color="green" id="wizard">
                    <form enctype='multipart/form-data'  method="POST">{% csrf_token %}
                    {{ form.media }}
                    <!--        You can switch " data-color="green" "  with one of the next bright colors: "blue", "azure", "orange", "red"       -->

                          <div class="wizard-header">
                              <h3 class="wizard-title">Company Profile</h3>
                              <p class="category">We need information about your company to enhance the process</p>
                          </div>
                <div class="wizard-navigation">
                  <div class="progress-with-circle">
                      <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="4" style="width: 15%;"></div>
                  </div>
                  <ul>
                                  <li>
                      <a href="#location" data-toggle="tab">
                        <div class="icon-circle">
                          <i class="ti-info"></i>
                        </div>
                        Basic information
                      </a>
                    </li>
                                  <li>
                      <a href="#type" data-toggle="tab">
                        <div class="icon-circle">
                          <i class="ti-location-pin"></i>
                        </div>
                         Address & contact
                      </a>
                    </li>
                                  <li>
                      <a href="#facilities" data-toggle="tab">
                        <div class="icon-circle">
                          <i class="ti-image"></i>
                        </div>
                         Logo & email
                      </a>
                    </li>
                                  <li>
                      <a href="#description" data-toggle="tab">
                        <div class="icon-circle">
                          <i class="ti-comments"></i>
                        </div>
                       Complete
                      </a>
                    </li>
                              </ul>
                </div>
                            <div class="tab-content">
                                <div class="tab-pane" id="location">
                                  <div class="row">
                                      <div class="col-sm-12">
                                          <h5 class="info-text"> Let's start with the basic details</h5>
                                    </div>
                                      <div class="col-sm-6">
                                          <div class="form-group">
                                               <label>{{ form.company_name.label }}</label>
                                                      {{ form.company_name }}
                                          </div>
                                      </div>
                                       <div class="col-sm-6">
                                           {% for value, text in form.company_interest.field.choices %}
                                                <div class="ui slider checkbox">
                                                  <input id="id_providers_{{ forloop.counter0 }}" name="{{ form.company_interest.name }}" type="checkbox" value="{{ value }}"{% if value in checked_providers %} checked="checked"{% endif %}>
                                                  <label>{{ text }}</label>
                                                </div>
                                              {% endfor %}
                                      </div>
                                      <div class="col-sm-12">
                                          <div class="form-group">
                                                 <label>{{ form.description.label }}</label>
                                                      {{ form.description }}
                                            </div>
                                      </div>

                                  </div>
                                </div>
                                <div class="tab-pane" id="type">
                                    <h5 class="info-text">What type of location do you have? </h5>

                                      <div class="col-sm-12">
                                          <div class="form-group">
                                               <label>{{ form.address.label }}</label>
                                                      {{ form.address }}
                                            </div>
                                      </div>
                                      <div class="col-sm-6">
                                          <div class="form-group">
                                              <label>{{ form.location.label }}</label>
                                                      {{ form.location }}
                                          </div>
                                      </div>
                                       <div class="col-sm-6">
                                          <div class="form-group">
                                              <label>{{ form.phone_number.label }}</label>
                                                      {{ form.phone_number }}
                                          </div>
                                      </div>
                                </div>
                                <div class="tab-pane" id="facilities">
                                    <h5 class="info-text">Tell us more about facilities. </h5>
                                     <div class="col-sm-3">
                                          <div class="form-group">
                                                <label>Company Logo</label><br>
                                                <div class="picture">
                                                {{form.company_logo.label}}
                                                {{form.company_logo}}
                                                <!-- <img src="{% static 'assets/img/default-avatar.jpg' %}" class="picture-src" id="wizardPicturePreview" title="Company profile" alt="Company Profile" />
                                                <input type="file" id="wizard-picture"> -->
                                              </div>
                                            </div>
                                      </div>
                                      <div class="col-sm-12">
                                          <div class="form-group">
                                              <label>{{ form.company_email.label }}</label>
                                                      {{ form.company_email }}
                                          </div>
                                      </div>
                                </div>
                                <div class="tab-pane" id="description">
                                    <div class="row">
                                        <h5 class="info-text"> Congratulations </h5>
                                        <h6 class="info-text"> You have successfully completed the company profile </h6>
                                       <div class="col-sm-6 col-sm-offset-4">
                                         <button href="" type="submit" class="btn btn-primary" > Save and proceed to dashboard</button>
                                       </div>

                                    </div>
                                </div>
                            </div>
                            <div class="wizard-footer">
                                <div class="pull-right">
                                      <input type='button' class='btn btn-next btn-fill btn-success btn-wd' name='next' value='Next' />
                                      <button type='submit' class='btn btn-finish btn-fill btn-success btn-wd' name='finish' value='' />Save and proceed to dashboard</button>
                                  </div>

                                  <div class="pull-left">
                                      <input type='button' class='btn btn-previous btn-default btn-wd' name='previous' value='Previous' />
                                  </div>
                                  <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div> <!-- wizard container -->
            </div>
          </div> <!-- row -->
      </div> <!--  big container -->
  </div>

</body>

  <!--   Core JS Files   -->
  <script src="{% static 'assets/js/jquery-2.2.4.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'assets/js/bootstrap.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'assets/js/jquery.bootstrap.wizard.js' %}" type="text/javascript"></script>

  <!--  Plugin for the Wizard -->
  <script src="{% static 'assets/js/paper-bootstrap-wizard.js' %}" type="text/javascript"></script>

  <!--  More information about jquery.validate here: http://jqueryvalidation.org/  -->
  <script src="{% static 'assets/js/jquery.validate.min.js' %}" type="text/javascript"></script>

</html>
