{% extends 'project/dashboard_base.html'%}
<!--{% load index %}-->

{% block content %}


<ol class="breadcrumb breadcrumb-quirk">
        <li><a href="#"><i class="fa fa-home mr5"></i> list of complaints</a></li>
        
      </ol>
      <div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">List of Companies</h4>
          <p>List of Companies registered with TransGov</p>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped nomargin">
              <thead>
                <tr>
                  <th class="text-center">
                    <label class="ckbox ckbox-primary">
                      <input type="checkbox"><span></span>
                    </label>
                  </th>
                  <th>Company Name</th>
                  <th>Category</th>
                  <th>Location</th>
                  <th class="text-center">Email</th>
                  <th class="text-right">Phone Number</th>
                  <th class="text-right">Edit</th>
                </tr>
              </thead>
              <tbody>
                {% for company in company_list %}
                <tr>
                  <td class="text-center">
                    <label class="ckbox ckbox-primary">
                      <input type="checkbox"><span></span>
                    </label>
                  </td>
                  <td>
                      <a href="#">
                      {{company.company_name}}
                      </a>
                  </td>
                  <td>{{company.company_type}}</td>
                  <td class="text-center">{{company.location}}</td>
                  <td class="text-left">{{company.company_email}}</td>
                  <td class="text-right">{{company.phone_number}}</td>
                  <td>
                    <ul class="table-options">
                      <li><a href="#"><i class="fa fa-pencil fa-1x"></i></a></li>
                      <!--<li><a href="basic-tables.html"><i class="fa fa-trash"></i></a></li>-->
                    </ul>
                  </td>
                </tr>
               {% endfor %}
              </tbody>
            </table>
          </div><!-- table-responsive -->
        </div>

      </div><!-- panel -->

      {% endblock %}

