<!DOCTYPE html>
<html>
<head>
  <title>

  </title>
  <!-- <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'> -->
</head>
{% extends 'project/dashboard_base.html' %}
{% block head_title %}Dashboard - profile | {% endblock%}
{% block content %}

<body>
<h3>Company Profile</h3>
 <div class="panel panel-profile list-view">
              <div class="panel-heading">
                <div class="media">
                  <div class="media-left">
                    <img class="media-object img-circle" src="https://s3.amazonaws.com/transgovgh-production/profile_image/avatar.png" alt="Company logo">

                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">Company name</h4>
                    <p class="media-usermeta"><i class="glyphicon glyphicon-briefcase"></i> nothing much</p>
                  </div>
                </div><!-- media -->

              </div><!-- panel-heading -->

              <div class="panel-body people-info">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>Location</label>
                      ----
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>Email</label>
                      ------</div>
                  </div>
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>Phone</label>
                      -----
                    </div>
                  </div>
                </div><!-- row -->
                <div class="row">
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>Company category</label>
                      --------
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>Address</label>
                     ----------
                    </div>
                  </div>
            <a href="{% url 'create_company_profile' %}" class="btn btn-primary btn-quirk pull-right"><i class="fa fa-pencil fa-1x"></i>Complete your company profile
            </a>
                </div><!-- row -->
              </div>
            </div><!-- panel -->
{% endblock %}
</body>
</html>
