<!DOCTYPE html>
<html>
<head>
  <title>

  </title>
  
</head>
{% extends 'project/dashboard_base.html' %}
{% block head_title %}Dashboard - profile | {% endblock%}
{% block content %}

<body>
<h3>Company Profile</h3>
 <div class="panel panel-profile list-view">
              <div class="panel-heading">
                <div class="media">
                  <div class="media-left">
                      {%if company_profile.company_logo%}
                      <img class="media-object img-circle" src="{{company_profile.company_logo.url}}" alt="Company logo">
                    {% else %}
                    <img class="media-object img-circle" src="https://s3.amazonaws.com/transgovgh-production/profile_image/avatar.png" alt="Company logo">
                    {% endif %}
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">{{company_profile.company_name}}</h4>
                    <p class="media-usermeta"><i class="glyphicon glyphicon-briefcase"></i> {{company_profile.description}}</p>
                  </div>
                </div><!-- media -->

              </div><!-- panel-heading -->

              <div class="panel-body people-info">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>Location</label>
                      {{company_profile.location}}
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>Email</label>
                      {{company_profile.company_email}}</div>
                  </div>
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>Phone</label>
                      {{company_profile.phone_number}}
                    </div>
                  </div>
                </div><!-- row -->
                <div class="row">
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>Company category</label>
                      {{company_profile.company_interest}}
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>Address</label>
                      {{company_profile.address}}
                    </div>
                  </div>

            <a href="{% url 'edit_comp_profile' pk=company_profile.pk %}" class="btn btn-primary btn-quirk btn-stroke pull-right"><i class="fa fa-pencil fa-1x"></i>Edit profile
            </a>
                </div><!-- row -->
              </div>
            </div><!-- panel -->
{% endblock %}
</body>
</html>
