{% extends 'transgovAdmin/base.html'%}
{% load template_attr %}
{% block content %}
<div style="margin-top:10%;margin-right:15%" class="col-sm-12 portlets ui-sortable">
<center>
<div class="widget">
    defualt pass code will be generated
							<div class="widget-header transparent">

							</div>
							<div class="widget-content padding">
								<div id="basic-form">

                                    <div class="row">
                                        <div class="col-lg-12">
    <form method="post" action="">
        {% csrf_token %}

<div class="form-group">

    <p class="required"><label class="required" for="id_firstname">FirstName:</label> <input id="id_firstname" maxlength="30" name="first_name" class="form-control" type="text" /> <span class="helptext"></span></p>
</div>

<div class="form-group">

    <p class="required"><label class="required" for="id_lastname">LastName:</label> <input id="id_lastname" maxlength="30" name="last_name" class="form-control" type="text" /> <span class="helptext"></span></p>
</div>

<div class="form-group">

    <p class="required"><label class="required" for="id_username">Username:</label> <input id="id_username" maxlength="30" name="username" class="form-control" type="text" /> <span class="helptext"></span></p>
</div>

<div class="form-group">

    <p class="required"><label class="required" for="id_email">E-mail:</label> <input id="id_email" class="form-control" name="email" type="email" /></p>
</div>
<div class="form-group">

    <p class="required"><label class="required" for="id_number">Phone Number:</label> <input id="id_number" class="form-control" name="number" type="number" /></p>
</div>
<div class="form-group">
    <select class="form-control"  id="id_type" name="type">
<option value="0" selected="selected">ADMIN</option>
<option value="1">OFFICIAL</option>
<option value="2">OBSERVER</option>
</select></p>
         </div>


        {% if errors %}
           {% for error in errors %}
               {{error}}
           {% endfor %}

        {% endif %}
        <input type="submit" value="Register" />

    </form>
                                            </div></div>
                                    </div></div>
</center>
    </div>
{% endblock %}

