{% extends 'transgovAdmin/base.html'%}
{% load template_attr %}
{% block content %}
<div style="margin-top:10%;margin-right:15%" class="col-sm-12 portlets ui-sortable">
<center>
<div class="widget">
    defualt pass code will be generated
							<div class="widget-header transparent">

							</div>
							<div class="widget-content padding">
								<div id="basic-form">

                                    <div class="row">
                                        <div class="col-lg-12">
    <form method="post" action="">
        {% csrf_token %}

<div class="form-group">

    <p class="required"><label class="required" for="id_firstname">FirstName:</label> <input id="id_firstname" maxlength="30" value="{{user.first_name}}" name="first_name" class="form-control" type="text" /> <span class="helptext"></span></p>
</div>

<div class="form-group">

    <p class="required"><label class="required" for="id_lastname">LastName:</label> <input id="id_lastname" maxlength="30" name="last_name" value="{{user.last_name}}" class="form-control" type="text" /> <span class="helptext"></span></p>
</div>

<div class="form-group">

    <p class="required"><label class="required" for="id_username">Username:</label> <input id="id_username" maxlength="30" value="{{user.username}}" name="username" class="form-control" type="text" /> <span class="helptext"></span></p>
</div>

         <div class="form-group">

    <p class="required"><label class="required" for="id_old_password">Old Password:</label> <input id="id_old_password" maxlength="30" value="" name="old_password" class="form-control" type="password" /> <span class="helptext"></span></p>
</div>
        <div class="form-group">

    <p class="required"><label class="required" for="id_password">Password:</label> <input id="id_password" maxlength="30" value="" name="password" class="form-control" type="password" /> <span class="helptext"></span></p>
</div>

        <div class="form-group">

    <p class="required"><label class="required" for="id_confirm_password">Confirm Password:</label> <input id="id_confirm_password" maxlength="30" value="" name="confirm_password" class="form-control" type="password" /> <span class="helptext"></span></p>
</div>

<div class="form-group">

    <p class="required"><label class="required"  for="id_email">E-mail:</label> <input value="{{profile.email}}" id="id_email" class="form-control" name="email" type="email" /></p>
</div>
<div class="form-group">

    <p class="required"><label class="required"  for="id_number">Phone Number:</label> <input value="{{number}}" id="id_number" class="form-control" name="number" type="number" /></p>
</div>


        {% if error %}
               {{error}}

        {% endif %}
        <input type="submit" value="Update" />

    </form>
                                            </div></div>
                                    </div></div>
</center>
    </div>
{% endblock %}

