{% extends 'transgovAdmin/base.html' %}
{% load index %}

{% block content %}

<form style="margin-top:18%" class="form-horizontal" role="form">
									<div id="datatables-1_wrapper" ><div class="row"><div class="col-xs-6"><div class="dataTables_length" id="datatables-1_length"></div></div><div class="col-xs-6"><div id="datatables-1_filter" class="dataTables_filter"></div></div></div><table id="datatables-1" class="table table-striped table-bordered dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="datatables-1_info" style="width: 100%;">
									        <thead>
									          <tr><th rowspan="1" colspan="1">Username</th><th rowspan="1" colspan="1">First Name</th><th rowspan="1" colspan="1">Last Name</th><th rowspan="1" colspan="1">Email</th><th>Options</th></tr>
									        </thead>

									        <tfoot>
									         <tr><th rowspan="1" colspan="1">Username</th><th rowspan="1" colspan="1">First Name</th><th rowspan="1" colspan="1">Last Name</th><th rowspan="1" colspan="1">Email</th><th>Options</th></tr>
		                                    </tfoot>

									        <tbody>
                                            {% for user in users %}
									       <tr role="row" class="even">
									                <td class="sorting_1">{{user.username}}</td>
									                <td>{{user.first_name}}</td>
									                <td>{{user.last_name}}</td>
									                <td>{{user.email}}</td>

									                <td><a href="{{user.id}}/edit" type="button"
                                                           {% if user.is_active == 1 %}
                                                           class="btn btn-danger"
                                                           {% endif %}
                                                           {% if user.is_active == 0 %}
                                                           class="btn btn-success"
                                                           {% endif %}
                                                    ><i class="fa fa-eye"></i>
                                                       {% if user.is_active == 1 %} Deactivate {% endif %}{% if user.is_active == 0 %} Activate {% endif %}
                                                    </a>&nbsp;<a onclick="destroy({{user.id}})" type="button" class="btn btn-danger"><i class="fa fa-trash"></i>Delete</a></td>
									            </tr>
                                            {% endfor %}
                                            </tbody>
									    </table><div class="row"><div class="col-xs-6"></div><div class="col-xs-6"></div></div></div>
									</form>
<script>
   function destroy(id){
        if (confirm('Are you sure you want to delete this account ')) {
           window.location = id+'/delete';
        } else {
            // Do nothing!
        }

    }

</script>
{% endblock %}
