{% extends 'project/dashboard_base.html'%}
{% load staticfiles %}

<html>
{% block content %}

<!-- <head>
 <script src="{% static 'dashboard-resources/js/custom_js.js' %}"></script>
</head> -->
<body>

<ol class="breadcrumb breadcrumb-quirk">
        <li><a href=""><i class="fa fa-home mr5"></i> Projects</a></li>
        <li><a href="{% url 'addProjectInfo'%}">New project</a></li>
        <li class="active">Add new project</li>
 </ol>
  <h3>Add a new Project</h3>
  <form enctype='multipart/form-data' method="POST" class="post-form">{% csrf_token %}
{{ form.media }}
      <div class="col-md-12 add-project-form">
      <div class="row">
      <div class="col-md-6">
          <div class="panel">
            <div class="panel-heading">
              <h4 class="panel-title">General Information</h4>
            </div>
            <div class="panel-body">
                {{ form.non_field_errors }}
              <div class="form-group">
               <label>{{ form.project_name.label }}</label>
                      {{ form.project_name }}
              </div>

                 <div class="form-group">
               <label>{{ form.project_category.label }}</label>
                      {{ form.project_category }}
              </div>
                   <div class="form-group">
               <label>{{ form.project_image.label }}</label>
                      {{ form.project_image }}
              </div>
              <div class="form-group">
               <label>{{ form.position.label }}</label>
                      {{ form.position }}
              </div>
                   <div class="form-group">
               <label>{{ form.project_contractor.label }}</label>
                      {{ form.project_contractor }}
              </div>
            </div>
          </div><!-- panel -->
        </div><!-- col-sm-6 -->
    <div class="col-md-6">
          <div class="panel">
            <div class="panel-heading">
              <h4 class="panel-title">Financial Information</h4>
            </div>
            <div class="panel-body">
              <div class="form-group">
               <label>{{ form.amount_allocated.label }}</label>
                      {{ form.amount_allocated }}
              </div>
            <div class="form-group">
               <label>{{ form.estimated_budget_GOG.label }}</label>
                      {{ form.estimated_budget_GOG }}
              </div>
                <div class="form-group">
               <label>{{ form.estimated_budget_IGF.label }}</label>
                      {{ form.estimated_budget_IGF }}
              </div>
                 <div class="form-group">
               <label>{{ form.estimated_budget_Donor.label }}</label>
                      {{ form.estimated_budget_Donor }}
              </div>
                 <div class="form-group">
               <label>{{ form.actual_Budget_Spend.label }}</label>
                      {{ form.actual_Budget_Spend }}
              </div>
            </div>
          </div><!-- panel -->
        </div>
          <div class="col-md-6">
          <div class="panel">
            <div class="panel-heading">
              <h4 class="panel-title">Project Status</h4>
            </div>
            <div class="panel-body">
              <div class="form-group">
               <label>{{ form.project_status.label }}</label>
                      {{ form.project_status }}
              </div>
            <div class="form-group">
               <label>{{ form.start_date.label }}</label>
                      {{ form.start_date }}
              </div>
                <div class="form-group">
               <label>{{ form.end_date.label }}</label>
                      {{ form.end_date }}
              </div>
                  <div class="form-group">
               <label>{{ form.project_contact_person.label }}</label>
                      {{ form.project_contact_person }}
              </div>
                <div>
                </div>
            </div>
          </div><!-- panel -->
        </div>
          <div class="col-md-6">
          <div class="panel">
            <div class="panel-heading">
              <h4 class="panel-title">Other Information</h4>
              <!-- <p>Project description.</p> -->
            </div>
            <div class="panel-body">
                  <div class="form-group">
                      {{ form.completeness.errors }}
               <label>{{ form.completeness.label }}</label>
                      {{ form.completeness }}
              </div>
              <div class="form-group">
                  {{ form.project_location.errors }}
               <label>{{ form.project_location.label }}</label>
                      {{ form.project_location }}
              </div>
            <div class="form-group">
               <label>{{ form.source.label }}</label>
                      {{ form.source }}
              </div>
                <div class="form-group">
               <label>{{ form.regions.label }}</label>
                      {{ form.regions }}
              </div>
                <div class="form-group">
               <label>{{ form.sub_metro.label }}</label>
                      {{ form.sub_metro }}
              </div>
            </div>
          </div><!-- panel -->
        </div>
          <div class="col-md-12">
          <div class="panel project-information">
            <div class="panel-heading proj_desp_panel">
              <h4 class="panel-title">Project description</h4>
              <p>Enter the information about the project</p>
            </div>
            <div class="panel-body proj_desp_panel">
                   <div class="form-group project_description">
               <label>{{ form.project_description.label }}</label>
                      {{ form.project_description }}
              </div>
            </div>
          </div><!-- panel -->
        </div>
    </div>
    </div>
   <button type="submit" class="save btn btn-default">Save Project</button>
 </form>


</body>
 <script src="//cloud.tinymce.com/stable/tinymce.min.js"></script>
  <script>tinymce.init({
  selector:'textarea',
  plugins: "link, wordcount, media",
  height: '400px',
  width: '100%' });</script>
{% endblock %}

</html>

