{% extends 'project/dashboard_base.html'%}
{% block content %}
<div class="col-md-6">
    <h3> Project Update | {{ project_details.project_name }}</h3>
          <div class="panel">
            <div class="panel-heading">
              <h4 class="panel-title">Udpate {{ project_details.project_name }} Project</h4>
              <p>Select a project and update it with field visit updates</p>
            </div>
            <div class="panel-body">
                <form enctype='multipart/form-data' method="POST" class="post-form">{% csrf_token %}
                 {{ form.as_p }}
                <br>
                   <button type="submit" class="save btn btn-default">Save Project Update</button>
                 </form>

            </div>
          </div><!-- panel -->
        </div>
{% endblock %}