{% extends 'project/dashboard_base.html'%}
{% load staticfiles %}

{% block content %}
                 <div class="panel panel-profile list-view">
              <div class="panel-heading">
                <div class="media">
                  <div class="media-left">
                    <a href="{{ pro_dash_details.project_image.url }}"  data-lightbox="example-set"><img class="example-image" src="{{ pro_dash_details.project_image.url }}" width="200px">
                      {% if pro_dash_details.project_image %}
                      <!-- <img class="project-details" src="{{ pro_dash_details.project_image.url }}" height="250px"> -->
                    {% else %}
                <img src="{% static 'images/project_image.png'%}" alt="project image" height="250px"/>
            {% endif %}
                    </a>
                  </div>
                    <br>
                  <div class="media-body">
                    <h3 class="media-heading">{{ pro_dash_details.project_name }}</h3>
                    <h4>
                    <div readonly style="overflow-y:scroll; width:1000px; height:300px; border:none; background-color: #fffffff; font-weight: normal">{{ pro_dash_details.project_description | safe}}
                    </div>
                    </h4>
                       <a href="{% url 'editProjectInfo' pk=pro_dash_details.pk %}" class="btn btn-info btn-quirk ">Edit</a>
                       <button class="btn btn-danger btn-quirk pull-right">Delete</button>
                  </div>
                </div><!-- media -->
                <ul class="panel-options">
                  <li><a class="tooltips" href="" data-toggle="tooltip" title="View Options"><i class="glyphicon glyphicon-option-vertical"></i></a></li>
                </ul>
              </div><!-- panel-heading -->

              <div class="panel-body people-info">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>Project Location</label>
                      {{ pro_dash_details.project_location }}
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>Project Status</label>
                      {{ pro_dash_details.project_status }}
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>Project Category</label>
                      {{ pro_dash_details.project_category }}
                    </div>
                  </div>
                </div><!-- row -->
                  <div class="row">
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>Amount Allocated</label>
                      {{ pro_dash_details.amount_allocated }}
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>Estimated Budget GOG</label>
                      {{ pro_dash_details.estimated_budget_GOG }}
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>Estimated Budget IGF</label>
                      {{ pro_dash_details.estimated_budget_IGF }}
                    </div>
                  </div>
                </div><!-- row -->
                <div class="row">
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>Estimated Budget Donor</label>
                      {{ pro_dash_details.estimated_budget_Donor }}
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>Actual Budget Spend</label>
                      {{ pro_dash_details.actual_Budget_Spend }}
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>Sub Metro</label>
                      <div class="social-account-list">
                      {{ pro_dash_details.sub_metro }}
                      </div>
                    </div>
                  </div>
                </div><!-- row -->


                  <div class="row">
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>Project Contact Person</label>
                      {{ pro_dash_details.project_contact_person }}
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>Project Contractor</label>
                      {{ pro_dash_details.project_contractor }}
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>Start Date</label>
                     {{ pro_dash_details.start_date }}
                    </div>
                  </div>
                </div>

                  <div class="row">
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>End Date</label>
                      {{ pro_dash_details.end_date }}
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>Completeness</label>
                      {{ pro_dash_details.completeness }}
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>source</label>
                      {{ pro_dash_details.source }}
                    </div>
                  </div>
                    <!-- <div class="col-sm-4">
                    <div class="info-group">
                      <label>Sub metro</label>
                     {{ pro_dash_details.sub_metro }}
                    </div>
                  </div> -->
                </div>
              </div>

            </div><!-- panel -->

<!-- Case image popout -->
  <script src="{% static 'dashboard-resources/js/lightbox/lightbox-plus-jquery.min.js' %}"></script>
{% endblock %}
