{% extends 'landingPage/base.html' %}
{% load staticfiles %}
{% load get_dic %}
{% block title %}
Projects
{% endblock title %}


    <html>
    <head>

    </head>
    {% block content %}
    <body>
{% csrf_token %}
<section class="sectionPadding"  style="padding-top:4.5rem;">
  <div class="blogContent">
   <div class="container">
    <div class="row">
     <div class="col-sm-12">
      <div class="featuresTitle fadeInUp">
       <h3>List of Projects</h3>
       <p>These are projects from the various sub metros in the Accra metropolis.<br>
        </p>
      </div><!-- end features title -->
    </div><!-- end col-sm-12 -->

    {% for projects in projectList.object_list %}
    <div class="col-sm-4">
      <div class="blogPost ">
      <a href="{% url 'projectDetails' pk=projects.pk %}">
       <div class="image" id="image">
           {% if projects.project_image %}
        <img src="{{ projects.project_image.url }}" alt="project image" height="250px"/>
           {% else %}
        <img src="{% static 'images/project_image.png'%}" alt="project image" height="250px"/>
            {% endif %}
        <div class="imgHover"></div>
      </div>
          </a>
      <div class="blogContent">

        <h3><a href="{% url 'projectDetails' pk=projects.pk %}">{{projects.project_name | truncatechars:25}}
        </a></h3>
        <ul class="clearfix" >
            <div type="text" class="get_project_id" value="{{projects.id}}"></div>
         <li><a ><i class="fa fa-money font_awesome"></i> {{projects.amount_allocated}}</a></li>
         <li><a ><i class="fa fa-calendar-o font_awesome"></i> {{projects.start_date}}</a></li>
         <li><a ><i class="fa fa-book font_awesome"></i> {{projects.completeness}} %</a></li>
        {% if user.is_authenticated %}
            <div class="list-page-like {{after_like}}  col-md-2"  data-value="{{projects.id}}">
                  
            </div>
        {% else %}
        <li><a><i class="fa fa-thumbs-up sign-in-before-like" data-value="{{projects.id}}"></i>{{ projects.count_likes}}</a></li>
        {% endif %}
        </ul>
          <div id="preview-content">
       <p>
           {{projects.project_description|safe|truncatechars:50}}
       </p>
              </div>
       <div class="bottomContent">
         <ul>

         <li>

         </li>
       </ul>
     </div>
   </div><!--end blogContent -->
 </div><!--end blogPost -->
</div><!-- end col-sm-4 -->
{% endfor %}

</div><!-- end row -->
</div><!-- end container -->
</div><!-- end blogContent -->
    <div class="container">
  <div class="col-md-offset-5">
      <ul class="pagination">
          {% if projectList.has_previous %}
              <li><a href="?page={{ projectList.previous_page_number }}">«</a></li>
          {% endif %}
          {% for pg in projectList.paginator.page_range %}
              {% if projectList.number == pg %}
                  <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
              {% else %}
                  <li><a href="?page={{ pg }}">{{ pg }}</a></li>
              {% endif %}
          {% endfor %}
          {% if projectList.has_next %}
              <li><a href="?page={{ projectList.next_page_number }}">»</a></li>
          {% endif %}
      </ul>
    </div>
  </div>
</section>
    </body>
    {% endblock %}
    </html>
