{% load staticfiles %}
{% load google_analytics %}
<html lang="en">
<head>
  {% load mixpanel %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="" content="">
  <!--<link rel="shortcut icon" href="../images/favicon.png" type="image/png">-->

  <title>TransGov Admin</title>
  <link src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="{% static 'dashboard-resources/lib/Hover/hover.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'images/photos/tg-favicon.ico' %}" />
  <link rel="stylesheet" href="{% static 'dashboard-resources/lib/fontawesome/css/font-awesome.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <!-- <link rel="stylesheet" href="{% static 'dashboard-resources/lib/weather-icons/css/weather-icons.css' %}"> -->
  <!-- <link rel="stylesheet" href="{% static 'dashboard-resources/lib/ionicons/css/ionicons.css' %}"> -->
  <link rel="stylesheet" href="{% static 'dashboard-resources/lib/jquery-toggles/toggles-full.css' %}">
  <!-- <link rel="stylesheet" href="{% static 'dashboard-resources/lib/morrisjs/morris.css' %}"> -->

  <link rel="stylesheet" href="{% static 'dashboard-resources/css/quirk.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard-resources/css/custom_css.css' %}">

     <!-- date picker-->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
  <!--<link rel="stylesheet" href="/resources/demos/style.css">-->
  <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

 <!-- case images popout -->
  <link rel="stylesheet" href="{% static 'dashboard-resources/css/lightbox/lightbox.min.css' %}">



  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="{% static 'dashboard-resources/lib/html5shiv/html5shiv.js' %}"></script>
  <script src="{% static 'dashboard-resources/lib/respond/respond.src.js' %}"></script>
  <![endif]-->
  {% google_analytics %}

  {% mixpanel %}
<!-- ######## GOOGLE ANALYTICS JS ########## -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83748632-1', 'auto');
  ga('send', 'pageview');

</script>
<!-- ######## END OF GOOGLE ANALYTICS JS ####### -->
</head>
<body>

  <header>
    <div class="headerpanel">

      <div class="logopanel">
        <img class="dashboard-logo" src="{% static 'images/photos/tg-dashboard-logo.png'%}" alt="">
      </div><!-- logopanel -->

      <div class="headerbar">

        <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
<!-- search panel on dashboard -->
      <div class="searchpanel">
          <div class="input-group">
          
            <span class="input-group-btn">
              <a href="{% url 'search_fault' %}" class="btn btn-default" type="button">Search fault <i class="fa fa-search"></i></a>
            </span>

          </div>
        </div>

        <div class="header-right">
          <ul class="headermenu">
            <li>
              <div class="btn-group">
                <button type="button" class="btn btn-logged" data-toggle="dropdown">
                {% if company_profile.company_logo %}
                  <img src="{{company_profile.company_logo.url}}" alt="profile image" />
                  {% else %}
                  <img src="https://s3.amazonaws.com/transgovgh-production/profile_image/avatar.png"alt="profile image" />
                  {% endif %}
                  {{company_profile.company_name}}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right">
                  <li><a href="{% url 'view_company_profile' %}"><i class="glyphicon glyphicon-user"></i>Company profile</a></li>
                  <li><a href="{% url 'help_page' %}"><i class="glyphicon glyphicon-question-sign"></i> Help</a></li>
                  <li><a href="{%url 'account_logout'%}"><i class="glyphicon glyphicon-log-out"></i> Log Out</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div><!-- header-right -->
      </div><!-- headerbar -->
    </div><!-- header-->
  </header>

  <section>

    <div class="leftpanel">
      <div class="leftpanelinner">

        <!-- ################## LEFT PANEL PROFILE ################## -->

        <div class="media leftpanel-profile">
          <div class="media-left">
            <a href="">
            {% if company_profile.company_logo %}
            <img src="{{company_profile.company_logo.url}}" class="media-object img-circle" alt="profile image" />
            {% else %}
            <img src="https://s3.amazonaws.com/transgovgh-production/profile_image/avatar.png" class="media-object img-circle" alt="profile image" />
            {% endif %}
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><a data-toggle="collapse" data-target="#loguserinfo" class="pull-right"><i class="fa fa-angle-down"></i></a></h4>
            {% if company_profile.company_name %}
            <span>{{company_profile.company_name}}</span>
            {% else %}
            <a href="{% url 'create_company_profile' %}" class="btn btn-primary btn-quirk pull-right" >Complete profile</a>
            {% endif %}


          </div>
        </div><!-- leftpanel-profile -->

        <div class="leftpanel-userinfo collapse" id="loguserinfo">
          <h5 class="sidebar-title">Address</h5>
          <address>
            {{company_profile.address}}
          </address>
          <h5 class="sidebar-title">Contact</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <label class="pull-left">Email</label>
              <span class="pull-right">{{company_profile.company_email}}</span>
            </li>


            <li class="list-group-item">
              <label class="pull-left">Phone number</label>
              <div class="social-icons pull-right">
                {{company_profile.phone_number}}
              </div>
            </li>
          </ul>
        </div><!-- leftpanel-userinfo -->

        <ul class="nav nav-tabs nav-justified nav-sidebar">
          <li class="tooltips active" data-toggle="tooltip" title="Main Menu"><a data-toggle="tab" data-target="#mainmenu"><i class="tooltips fa fa-ellipsis-h"></i></a></li>

          <!--<li class="tooltips" data-toggle="tooltip" title="Settings"><a data-toggle="tab" data-target="#settings"><i class="fa fa-cog"></i></a></li>-->
          <li class="tooltips" data-toggle="tooltip" title="Log Out"><a href=""><i class="fa fa-sign-out"></i></a></li>
        </ul>

        <div class="tab-content">

          <!-- ################# MAIN MENU ################### -->

          <div class="tab-pane active" id="mainmenu">
            <ul class="nav nav-pills nav-stacked nav-quirk">
              <li class="active"><a href="{% url 'transgovDashboard'%}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>

            </ul>

            <h5 class="sidebar-title">Main Menu</h5>
            <ul class="nav nav-pills nav-stacked nav-quirk">
            {% if request.user.is_superuser %}
              <li class="nav-parent">
                <a href="#"><i class="fa fa-building"></i> <span>Projects</span></a>
                <ul class="children">
                  <li><a href="{% url 'addProjectInfo'%}">New Project</a></li>
                  <li><a href="{% url 'viewProjectsonDashboard'%}">List of Projects</a></li>
                  <li><a href="{% url 'clickToAddImages'%}">Add images to Projects</a></li>
                  <li><a href="">Add implementation Agency</a></li>
                  <li><a href="">Pending projects</a></li>
                </ul>
              </li>
              <!-- <li class="nav-parent">
                <a href="#"><i class="fa fa-caret-square-o-up"></i> <span>Project Updates</span></a>
                <ul class="children">
                  <li><a href="{%url 'periodicProjectUpdateList'%}">Periodic Project Updates</a></li>
                </ul>
              </li> -->
              <li class="nav-parent">
                <a href="#"><i class="fa fa-gavel"></i> <span>Law Digest</span></a>
                <ul class="children">
                  <li><a href="{% url 'add_category' %}">Add digest category</a></li>
                  <li><a href="{% url 'category_list' %}">Digest Category List</a></li>
                  <li><a href="{% url 'category_list_to_add_content' %}">Digest content</a></li>

                </ul>
              </li>
              <li class="nav-parent">
                <a href="#"><i class="fa fa-archive"></i> <span>Events</span></a>
                <ul class="children">
                  <li><a href="{% url 'addEvent'%}">New Event</a></li>
                  <li><a href="{% url 'addEventImages'%}">Add Event Images</a></li>
                  <li><a href="{% url 'eventsList'%}">List of Event</a></li>

                </ul>
              </li>
              <li class="nav-parent">
                <a href="#" ><i class="fa fa-newspaper-o"></i> <span>News</span></a>
                <ul class="children">
                  <li><a href="{% url 'add_news' %}">Add News</a></li>
                  <li><a href="{% url 'news_list' %}">News List</a></li>
                </ul>
              </li>
              <li class="nav-parent"><a href=""><i class="fa fa-bullhorn"></i> <span>Broadcast</span></a>
                <ul class="children">
                  <li><a href="{% url 'push_notification' %}">Push Notifications</a></li>
                  <li><a href="{% url 'addBulkSMSNumber' %}">Add Bulk SMS contact</a></li>
                  <li><a href="{% url 'viewBulkSMSContacts'%}">Bulk SMS List</a></li>
                  <li><a href="{% url 'addIVRContact'%}">Add IVR contact</a></li>
                  <li><a href="{% url 'viewIVRContacts'%}">IVR Contacts List</a></li>
                </ul>
              </li>
              
              
              <li class="nav-parent">
                <a href="#"><i class="fa fa-mobile"></i> <span>Community Reports</span></a>
                <ul class="children">
                  <li><a href="{% url 'viewAllCasesOnDashboard' %}">All reports</a></li>
                  <li><a href="{% url 'viewPendingOnDashboard' %}">Pending reports</a></li>
                  <li><a href="{% url 'viewOngoingFixesOnDashboard' %}">Fixing reports</a></li>
                  <li><a href="{% url 'viewFixedOnDashboard' %}">Fixed reports</a></li>
                  <li><a href="{% url 'assigned_faults_list' %}">Assigned fault</a></li>
                </ul>
              </li>
              <li class="nav-parent"><a href="#"><i class="fa fa-cogs"></i> <span>Field worker</span></a>
                <ul class="children">
                  <li><a href="{% url 'add_field_worker' %}">Add field worker</a></li>
                  <li><a href="{% url 'field_workers' %}">List of field workers</a></li>
                  

                </ul>
              </li>

              <li class="nav-parent"><a href="#"><i class="fa fa-sliders"></i> <span>Reports status</span></a>
                <ul class="children">
                  <li><a href="{% url 'all_faults_status' %}">All Reports status</a></li>
                  <li><a href="{% url 'admin_insights' %}">Insights</a></li>

                </ul>
              </li>
              <li class="nav-parent"><a href=""><i class="fa fa-cogs"></i> <span>Our Clients</span></a>
                <ul class="children">
                  <li><a href="{% url 'create_company_profile' %}">Add Client</a></li>
                  <li><a href="{% url 'list_of_companies' %}">View all clients</a></li>

                </ul>
              </li>
              <li class="nav-parent"><a href=""><i class="fa fa-cogs"></i> <span>Account Management</span></a>
                <ul class="children">
                  <li><a href="{% url 'invite_users' %}">Add Users</a></li>
                  <li><a href="{% url 'view_company_profile' %}">Company profile</a></li>
                  <li><a href="{% url 'account_change_password' %}">Change password</a></li>
                  <li><a href="{% url 'account_logout' %}">Logout</a></li>

                </ul>
              </li>
              {% else %}
              <!-- Only visible to utility companies -->
             <li class="nav-parent">
                <a href="#"><i class="fa fa-mobile"></i> <span>Community Reports</span></a>
                <ul class="children">
                  <li><a href="{% url 'viewAllCasesOnDashboard' %}">All reports</a></li>
                  <li><a href="{% url 'viewPendingOnDashboard' %}">Pending reports</a></li>
                  <li><a href="{% url 'viewOngoingFixesOnDashboard' %}">Fixing reports</a></li>
                  <li><a href="{% url 'viewFixedOnDashboard' %}">Fixed reports</a></li>
                  <li><a href="{% url 'assigned_faults_list' %}">Assigned fault</a></li>



                </ul>
              </li>
              <li class="nav-parent"><a href="#"><i class="fa fa-cogs"></i> <span>Field worker</span></a>
                <ul class="children">
                  <li><a href="{% url 'add_field_worker' %}">Add field worker</a></li>
                  <li><a href="{% url 'field_workers' %}">List of field workers</a></li>

                </ul>
              </li>

              <li class="nav-parent"><a href="#"><i class="fa fa-sliders"></i> <span>Reports status</span></a>
                <ul class="children">
                  <li><a href="{% url 'specific_faults_status' %}">Fault Reports status</a></li>
                  <li><a href="#">Analytics</a></li>

                </ul>
              </li>

              <li class="nav-parent"><a href=""><i class="fa fa-cogs"></i> <span>Account Management</span></a>
                <ul class="children">
                  <li><a href="{% url 'invite_users' %}">Add Users</a></li>
                  <li><a href="{% url 'account_set_password' %} ">Change password</a></li>
                  <li><a href="{% url 'account_logout' %}">Logout</a></li>
                  <!-- {%url 'account_logout'%} -->

                </ul>
              </li>
              <!-- End of utility companies url -->
              {% endif %}
            </ul>
          </div><!-- tab-pane -->
        </div><!-- tab-content -->
      </div><!-- leftpanelinner -->
    </div><!-- leftpanel -->

    <div class="mainpanel">



    <div class="contentpanel">
      <div class="row">
        <div class="col-md-12 col-lg-8 dash-left">
          {% block content %}

          {% endblock%}
        </div><!-- contentpanel -->
      </div><!-- mainpanel -->
      </div>
      </div>
    </section>

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>-->
    <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
    <!--<script src="{% static 'dashboard-resources/lib/jquery/jquery.js' %}"></script>-->
    <script src="{% static 'dashboard-resources/lib/jquery-ui/jquery-ui.js' %}"></script>
    <script src="{% static 'dashboard-resources/lib/bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'dashboard-resources/lib/jquery-toggles/toggles.js' %}"></script>
    <!--<script src="{% static 'dashboard-resources/lib/morrisjs/morris.js' %}"></script>-->
    <script src="{% static 'dashboard-resources/lib/raphael/raphael.js' %}"></script>
    <script src="{% static 'dashboard-resources/lib/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'dashboard-resources/lib/flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'dashboard-resources/lib/flot-spline/jquery.flot.spline.js' %}"></script>
    <script src="{% static 'dashboard-resources/lib/jquery-knob/jquery.knob.js' %}"></script>
    <script src="{% static 'dashboard-resources/js/quirk.js' %}"></script>
    <script src="{% static 'dashboard-resources/js/dashboard.js' %}"></script>
    

<!-- Case image popout -->
  <script src="{% static 'dashboard-resources/js/lightbox/lightbox-plus-jquery.min.js' %}"></script>




<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/57cef2833bec6867d93ca7fe/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
  </body>
  </html>
