{% extends 'project/dashboard_base.html' %}
{% block head_title %}Content Dashboard | {% endblock%}
{% load mathfilters %}
{% load staticfiles %}

{% block content %}

 <div class="contentpanel">

      <div class="row">
        <div class="col-md-9 col-lg-8 dash-left">

         <!-- FAULTS REPORTED SUMMARY -->
          <div class="panel panel-announcement">
            <div class="panel-heading">
              <h4 class="panel-title">Community Fault reporting </h4>
            </div>
            <div class="panel-body">
              <h2>Overview of community faults reported in the system.</h2>
            </div>
          </div><!-- panel -->
            <div class="panel panel-site-traffic">
            <div class="panel-heading">
              <ul class="panel-options">
                <li><a><i class="fa fa-refresh"></i></a></li>
              </ul>
              <h4 class="panel-title text-success">Faults reported statistics</h4>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-6 col-sm-4">
                  <div class="pull-left">
                    <div class="icon icon ion-stats-bars"></div>
                  </div>
                  <div class="pull-left">
                    <h4 class="panel-title">Pending faults</h4>
                    <h3>{{count_reports.pending_faults}}</h3>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4">
                  <div class="pull-left">
                    <div class="icon icon ion-stats-bars"></div>
                  </div>
                  <h4 class="panel-title">Being fixed</h4>
                  <h3>{{count_reports.fixing_faults}}</h3>
                </div>
                <div class="col-xs-6 col-sm-4">
                  <div class="pull-left">
                    <div class="icon icon ion-stats-bars"></div>
                  </div>
                  <h4 class="panel-title">Fixed</h4>
                  <h3>{{count_reports.fixed_faults}}</h3>
                </div>
              </div><!-- row -->
            </div><!-- panel-body -->
          </div><!-- panel -->
          <!-- END OF FAULTS REPORTED SUMMARY -->
          <!-- GRAPH AREA JUST FOR DEMO PURPOSES, IT'S MEANT FOR ONLY ADMIN USERS. -->
              <div id="chartContainer" style="height: 370px; width: 100%;"></div>
         <!-- END OF GRAPH AREA -->

        {% if request.user.is_superuser %}
         <!-- GRAPH AREA -->
              <div id="chartContainer" style="height: 370px; width: 100%;"></div>
         <!-- END OF GRAPH AREA -->

         <!-- ANOTHER GRAPH -->
     

         <!-- END OF ANOTHER GRAPH -->
         <br>
         <div class="panel panel-announcement">
            
            <div class="panel-heading">
              <h4 class="panel-title">Welcome {{user.get_full_name}} </h4>
            </div>
            <div class="panel-body">
              <h2>Welcome to TransGov admin dashboard. We manage and monitor developmental projects in the country.</h2>

            </div>
          </div><!-- panel -->
          
          <div class="panel panel-site-traffic">
            <div class="panel-heading">
              <ul class="panel-options">
                <li><a><i class="fa fa-refresh"></i></a></li>
              </ul>
              <h4 class="panel-title text-success">Developmental project Statistics</h4>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-6 col-sm-4">
                  <div class="pull-left">
                    <div class="icon icon ion-stats-bars"></div>
                  </div>
                  <div class="pull-left">
                    <h4 class="panel-title">Completed Projects</h4>
                    <h3>{{count_completed_projects}}</h3>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4">
                  <div class="pull-left">
                    <div class="icon icon ion-stats-bars"></div>
                  </div>
                  <h4 class="panel-title">Ongoing Projects</h4>
                  <h3>{{count_ongoing_projects}}</h3>
                </div>
                <div class="col-xs-6 col-sm-4">
                  <div class="pull-left">
                    <div class="icon icon ion-stats-bars"></div>
                  </div>
                  <h4 class="panel-title">Halted Projects</h4>
                  <h3>{{count_halted_projects}}</h3>
                </div>
              </div><!-- row -->
              <!-- GRAPH AREA -->
              <!--<div class="mb20"></div>-->
              <!--<div id="basicflot" style="height: 263px"></div>-->

            </div><!-- panel-body -->
          </div><!-- panel -->

          <div class="row panel-statistics">
            <div class="col-sm-4">
              <div class="panel panel-updates">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-7 col-lg-8">
                      <h4 class="panel-title text-success">Schools</h4>
                      <h3>{{count_schools}}</h3>
                      <div class="progress">
                        <div style="width: 7%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="75.7" role="progressbar" class="progress-bar progress-bar-success">
                          <span class="sr-only">7</span>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div><!-- panel -->
            </div><!-- col-sm-6 -->

            <div class="col-sm-4">
              <div class="panel roads-panel panel-updates">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-10 col-lg-8">
                      <h4 class="panel-title roads-panel-text">Roads and Highways</h4>
                      <h3 class="roads-panel-text">{{count_road_and_highways}}</h3>
                      <div class="progress">
                        <div style="width: 8%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="39.9" role="progressbar" class="progress-bar progress-bar-warning">
                          <span class="sr-only">8</span>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div><!-- panel -->
            </div><!-- col-sm-6 -->


            <div class="col-sm-4">
              <div class="panel panel-success-full panel-updates">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-10 col-lg-8">
                      <h4 class="panel-title text-success">Hospitals</h4>
                      <h3>{{count_hospitals}}</h3>
                      <div class="progress">
                        <div style="width: 5%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="55.4" role="progressbar" class="progress-bar progress-bar-info">
                          <span class="sr-only">5</span>
                        </div>
                      </div>
                      <!--<p>Sold </p>-->
                    </div>

                  </div>
                </div>
              </div><!-- panel -->
            </div><!-- col-sm-6 -->


            <div class="col-sm-4">
              <div class="panel panel-success-full panel-updates">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-10 col-lg-8">
                      <h4 class="panel-title text-success">Housing</h4>
                      <h3>{{count_housing}}</h3>
                      <div class="progress">
                        <div style="width: 5%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="55.4" role="progressbar" class="progress-bar progress-bar-info">
                          <span class="sr-only">5</span>
                        </div>
                      </div>
                      <!--<p>Sold </p>-->
                    </div>
                  </div>
                </div>
              </div><!-- panel -->
            </div><!-- col-sm-6 -->
            <div class="col-sm-4">
              <div class="panel panel-updates">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-10 col-lg-8">
                      <h4 class="panel-title text-danger">Toilet facilities</h4>
                      <h3>{{count_toilet_facilities}}</h3>
                      <div class="progress">
                        <div style="width: 2%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="2" role="progressbar" class="progress-bar progress-bar-danger">
                          <span class="sr-only">2</span>
                        </div>
                      </div>
                      <!--<p>Returned</p>-->
                    </div>

                  </div>
                </div>
              </div><!-- panel -->
            </div><!-- col-sm-6 -->
            <div class="col-sm-4">
              <div class="panel panel-danger-full panel-updates">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-10 col-lg-8">
                      <h4 class="panel-title text-warning">Borehole</h4>
                      <h3>{{count_borehole}}</h3>
                      <div class="progress">
                        <div style="width: 8%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="39.9" role="progressbar" class="progress-bar progress-bar-warning">
                          <span class="sr-only">8</span>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div><!-- panel -->
            </div><!-- col-sm-6 -->
          </div><!-- row -->
         
          {% endif %}


          

              <!--<div class="mb20"></div>-->
              <!--<div id="basicflot" style="height: 263px"></div>-->
          
        </div><!-- col-md-9 -->
        <div class="col-md-3 col-lg-4 dash-right">
          <div class="row">
            <div class="col-sm-5 col-md-12 col-lg-6">

            </div><!-- col-md-12 -->
            <div class="col-sm-5 col-md-12 col-lg-6">
              <div class="panel panel-primary list-announcement">
                <div class="panel-heading">
                  <h4 class="panel-title">Recent fault reports</h4>
                </div>
                <div class="panel-body">
                  <ul class="list-unstyled mb20">
                  {% for report in recent_report %}
                    <li>
                      <a href="">{{report.case_name}}</a>
                      <small>{{report.created_date}}</small>
                    </li>
                   
                    {% endfor %}
                  </ul>
                </div>
                <div class="panel-footer">
                  <a href="{% url 'viewAllCasesOnDashboard' %}" class="btn btn-primary btn-block">View More Faults <i class="fa fa-arrow-right"></i></a>
                </div>
              </div>
            </div><!-- col-md-12 -->
          </div><!-- row -->
        </div><!-- col-md-3 -->
      </div><!-- row -->
    </div><!-- contentpanel -->
    <script>
window.onload = function() {

var chart = new CanvasJS.Chart("chartContainer", {
  theme: "light2", // "light1", "light2", "dark1", "dark2"
  exportEnabled: true,
  animationEnabled: true,
  title: {
    text: "Incoming faults report analysis"
  },
  data: [{
    type: "pie",
    startAngle: 25,
    toolTipContent: "<b>{label}</b>: {y}%",
    showInLegend: "true",
    legendText: "{label}",
    indexLabelFontSize: 16,
    indexLabel: "{label} - {y}%",
    dataPoints: [
      { y: {{electricity|div:total_faults |mul:100 |floatformat:0 }}, label: "Electricity" },
      { y: {{water|div:total_faults |mul:100 |floatformat:0}}, label: "Water" },
      { y: {{construction|div:total_faults |mul:100 |floatformat:0}}, label: "Construction" },
      { y: {{drainage|div:total_faults |mul:100 |floatformat:0}}, label: "Bad drainage" },
      // { y: 0.07, label: "Waste management" },
      // { y: 0.04, label: "Others" }
    ]
  }]
});
chart.render();

}
</script>

<script src="{% static 'dashboard-resources/map-js/canvasjs.min.js' %}"></script>
<!-- <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script> -->

{% endblock%}
