{% extends 'project/dashboard_base.html'%}
{% load staticfiles %}

<html>
{% block content %}
<body>

<ol class="breadcrumb breadcrumb-quirk">
        <li><a href=""><i class="fa fa-home mr5"></i> Home</a></li>
  
 </ol>

  <h3>Find your way out</h3>
  
{% endblock %}

</html>

