{% extends 'project/dashboard_base.html'%}
<!--{% load index %}-->

{% block content %}

{% for error in errors %}
<font color="red">{{ error }}</font>
{% endfor %}
<ol class="breadcrumb breadcrumb-quirk">
        <li><a href=""><i class="fa fa-home mr5"></i> Projects</a></li>
        <li><a href="{% url 'viewProjectsonDashboard'%}">list of projects</a></li>
        <li class="active">all projects</li>
      </ol>
<div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">List of Projects</h4>
          <p>Select one and update with field information.</p>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped nomargin">
              <thead>
                <tr>
                  <th class="text-center">
                    <label class="ckbox ckbox-primary">
                      <input type="checkbox"><span></span>
                    </label>
                  </th>
                  <th>Project name</th>
                  <th>Location</th>
                  <th>Sub Metro</th>
                  <th class="text-center">Status</th>
                  <th>Complete %</th>
                  <th class="text-right">Start date</th>
                  <th class="text-right">End date</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for projects in project_list %}
                <tr>
                  <td class="text-center">
                    <label class="ckbox ckbox-primary">
                      <input type="checkbox"><span></span>
                    </label>
                  </td>
                  <td>
                      <a href="{% url 'addPeriodicProjectUpdate' pk=projects.pk %}">
                      {{projects.project_name}}
                      </a>
                  </td>
                  <td>{{projects.project_location}}</td>
                  <td>{{projects.sub_metro}}</td>
                  <td class="text-center">{{projects.project_status}}</td>

                  <td class="text-center"><h4>{{projects.completeness}} % </h4></td>
                  <td class="text-right"><h5>{{projects.start_date}}</h5></td>
                  <td class="text-right"><h5>{{projects.end_date}}</h5></td>

                  <td>
                    <ul class="table-options">
                      <li><a href="#"><i class="fa fa-pencil fa-1x"></i></a></li>
                      <!--<li><a href="basic-tables.html"><i class="fa fa-trash"></i></a></li>-->
                    </ul>
                  </td>
                </tr>
               {% endfor %}
              </tbody>
            </table>
          </div><!-- table-responsive -->
        </div>
      </div><!-- panel -->

      {% endblock %}

