{% extends "landingPage/base.html" %}
{% load staticfiles %}
{% load addthis %}
{% load account %}

{% block title %}
Project detail
{% endblock title %}

{% block content %}
<html>
<head>
  <link rel="stylesheet" href="{% static 'css/project-detail-view.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/6.1.0/sweetalert2.min.css">
  <script  src="https://cdn.jsdelivr.net/sweetalert2/6.1.0/sweetalert2.min.js"></script>
  <link rel="stylesheet" href="{% static 'dashboard-resources/lib/ionicons/css/ionicons.css' %}">
  <!-- <link rel="stylesheet" href="{% static 'css/morris.css' %}"> -->
  <link rel="stylesheet" href="{% static 'css/modal.css' %}">
  <!-- Facebook tags to decide what to show when sharing -->
<meta property="og:title" content="{{ project_details.project_name }}" />
<meta property="og:description" content="{{project_details.project_description}}" />
    {% if project_details.project_image %}
<meta property="og:image" content="{{ project_details.project_image.url }}" />
         {% else %}
            <meta property="og:image" content="{% static 'images/project_image.png'%}" />
    {% endif %}
  <script src="{% static 'dashboard-resources/js/custom_js.js' %}"></script>

  <!-- End of facebook tags -->

<!-- case images popout -->
  <link rel="stylesheet" href="{% static 'dashboard-resources/css/lightbox/lightbox.min.css' %}">

<!-- HTML TABS -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/tab-panel.css' %}">
<style>
.city {display:none;}
#map {
  height: 400px;
  width: 100%;
 }
</style>
<!-- HTML TABS  -->


</head>
<body>

<header>
   <div class="row h-third-row">
    <div class="m1170 p-relative h250">
     <div class="col-sm-12 h-page-name p-absolute" data-wow-delay="0.7s" data-wow-duration="1.5s">
      Project Details
      <div class="h-current-page">
       <a href="{% url 'homePage' %}" ><span class="f-orange">Home</span></a> <span class="f-slash">/</span><a href="" ><span class="f-orange">Project Details</span></a>
     </div>
   </div>
 </div>
</div>
</header>
<section><h2 class="hidden"></h2>
  <div class="row new-details">
   <div class="m1170">
    <div class="col-sm-9 top80">
     <article><h2 class="hidden"></h2>
      <div class="first-post">
       <div class="first-pict wow " data-wow-delay="0.7s" data-wow-duration="1.5s">
        {% if project_details.project_image %}
         <img src="{{ project_details.project_image.url }}" alt="project image">
         {% else %}
        <img src="{% static 'images/project_image.png'%}" alt="project image" height="250px"/>
            {% endif %}
         <div class="pict-data uppercase">{{ project_details.project_status }}</div>
      </div>

          <div id="project_name" class="font22 color333 extrabold uppercase top30 wow" data-wow-delay="0.7s" data-wow-duration="1.5s"> {{project_details.project_name}}
              <!-- <i class="fa fa-thumbs-up like-btn {{like_btn_class}}" aria-hidden="true" > {{ project_details.count_likes }}</i> -->
              <!-- <a  href="{{subscription_url}}" onclick='unsubscribe()' id="{{subscribe_btn_id}}" class="pull-right btn  btn-lg subscribe-button btn-modal ">{{subscription_text}}</a> -->
      </div>
        <div class="f-left p-right20 wow" data-wow-delay="0.7s" data-wow-duration="1.5s">
          <ul class="list-styles new-first-det start0 f-left top10">
           <li><i class="fa fa-globe">&nbsp;</i>{{ project_details.regions }}</li>
           <li><i class="fa fa-compass">&nbsp;</i>{{ project_details.sub_metro }}</li>
           <li><i class="fa fa-location-arrow">&nbsp;</i>{{ project_details.project_location }}</li>
           <!--<li><a  class="btn" data-toggle="collapse" data-target="#filter-panel"><i class="fa fa-map-marker">&nbsp;</i>project progress analysis</a></li>-->
        </ul>
      </div>

     {% csrf_token %}
     <div class="clearfix"></div>
     <div class="s-row-line margin20" data-wow-delay="0.7s" data-wow-duration="1.5s">
     </div>
     <div class="color777" data-wow-delay="0.7s" data-wow-duration="1.5s">
      <h4>Project Description:</h4>
       {{ project_details.project_description | safe}}

       <!--###################### ADD THIS SHARING #########################-->
      <div class="social_media_share">
       <!-- Go to www.addthis.com/dashboard to customize your tools -->
      <div class="addthis_inline_share_toolbox" ddthis:url="{{ project_details.project_name }}
      "addthis:title="{{ project_details.project_description}}" addthis:image="{{ project_details.project_image.url }}"></div>
      </div>

      <!--###################### END OF ADD THIS SHARE #########################-->

    </div>
  </div>
       <br><br>
  <!--###################### PROJECT ANALYSIS GRAPH #########################-->
  <div class="panel panel-site-traffic ">
    <div class="panel-heading">
      <!--<ul class="panel-options">-->
      <!--<li><a><i class="fa fa-refresh"></i></a></li>-->
      <!--</ul>-->
      <h4 class="panel-title text-success">Project progress analysis: </h4>
      <!--<p class="nomargin">Past 30 Days — Last Updated July 14, 2015</p>-->
      <p class="nomargin">Coming soon!</p>

    </div>


  </article>
  <br>
  <!--################################## PANEL FOR EXTRA INFORMATION #########################-->
<div class="w3-container">
  <h2>Additional Information</h2>

  <div class="w3-row" id="projTabs">
    <a href="javascript:void(0)" onclick="openCity(event, 'London');">
      <div id="projInfo" class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Project Information</div>
    </a>
    <a href="javascript:void(0)" onclick="openCity(event, 'Paris');">
      <div id="projImages" class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Images</div>
    </a>
    <a href="javascript:void(0)" onclick="openCity(event, 'Tokyo'); initializeMap()">
      <div id="projMap" class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Map</div>
    </a>
  </div>

  <div id="London" class="w3-container city">
    <h4>{{ project_details.project_name }}</h4>
<!-- start   -->
    <div class="well-tab-content">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1">
          <div class="panel panel-profile list-view">
      <div class="panel-heading">
        <div class="media">
          <div class="media-left">
            <a href="people-directory.html#">
              <!--<img class="media-object img-circle" src="../images/photos/user1.png" alt="">-->
            </a>
          </div>
          <div class="media-body">
            <!--<p class="media-usermeta"><i class="glyphicon glyphicon-briefcase"></i> Regional Finance Manager</p>-->
          </div>
        </div><!-- media -->
      </div><!-- panel-heading -->

      <div class="panel-body people-info">
        <div class="row">
          <div class="col-sm-4">
            <div class="info-group">
              <label>Project Status</label>
              {{ project_details.project_status }}
            </div>
          </div>
          <div class="col-sm-4">
            <div class="info-group">
              <label>Project Category</label>
              {{ project_details.project_category }}
            </div>
          </div>
          <div class="col-sm-4">
            <div class="info-group">
              <label>Completeness</label>
              {{ project_details.completeness }} %
            </div>
          </div>
        </div><!-- row -->
        <div class="row">
          <div class="col-sm-4">
            <div class="info-group">
              <label>Amount Allocated</label>
              {% if project_details.amount_allocated%}
              {{ project_details.amount_allocated }}
              {% else %}
              <strong>--</strong>
              {%endif%}
            </div>
          </div>
          <div class="col-sm-4">
            <div class="info-group">
              <label>Estimated Budget GOG</label>
              {% if project_details.estimated_budget_GOG%}
              {{ project_details.estimated_budget_GOG }}
              {% else %}
              <strong>--</strong>
              {%endif%}
            </div>
          </div>
          <div class="col-sm-4">
            <div class="info-group">
              <label>Estimated Budget IGF</label>
              {% if project_details.estimated_budget_IGF%}
              {{ project_details.estimated_budget_IGF }}
              {% else %}
              <strong>--</strong>
              {%endif%}

            </div>
          </div>
        </div><!-- row -->
        <div class="row">
          <div class="col-sm-4">
            <div class="info-group">
              <label>Estimated Budget Donor</label>
              {% if project_details.estimated_budget_Donor%}
              {{ project_details.estimated_budget_Donor }}
              {% else %}
              <strong>--</strong>
              {%endif%}
            </div>
          </div>

          <div class="col-sm-4">
            <div class="info-group">
              <label>Actual Budget Spend</label>
              {% if project_details.actual_Budget_Spend%}
              {{ project_details.actual_Budget_Spend }}
              {% else %}
              <strong>--</strong>
              {%endif%}
            </div>
          </div>
          <div class="col-sm-4">
            <div class="info-group">
              <label>Sub Metro</label>
              {{ project_details.sub_metro }}
            </div>
          </div>

        </div><!-- row -->


        <div class="row">
          <div class="col-sm-4">
            <div class="info-group">
              <label>Project Contact Person</label>
              {{ project_details.project_contact_person }}
            </div>
          </div>
          <div class="col-sm-4">
            <div class="info-group">
              <label>Project Contractor</label>
              {{ project_details.project_contractor }}
            </div>
          </div>
          <div class="col-sm-4">
            <div class="info-group">
              <label>Start Date</label>
              {{ project_details.start_date }}
            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-sm-4">
            <div class="info-group">
              <label>End Date</label>
              {{ project_details.end_date }}
            </div>
          </div>
          <div class="col-sm-4">
            <div class="info-group">
              <label>Project Location</label>
              {{ project_details.project_location }}
            </div>
          </div>
          <div class="col-sm-4">
            <div class="info-group">
              <label>Source of Information</label>
              {{ project_details.source }}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</div>
  </div>
  <!--  end -->

  <div id="Paris" class="w3-container city">
    <h5>{{ project_details.project_name }} images</h5>
    <!--##########################image gallery template##########################-->
       {% for projectImages in project_details.projectImages.all %}
      <a href="{{ projectImages.additional_project_images.url }}" data-lightbox="example-set"><img class="example-image" src="{{ projectImages.additional_project_images.url }}" width="200px" alt=""/></a>
      {% endfor %}

  </div>

  <div id="Tokyo" class="w3-container city" onclick="initializeMap()">
    <h2>Map</h2>
    <p>Direction to {{ project_details.project_name }}</p>
    <!-- ########################## GOOGLE MAP URLS####################-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhem4VlZKvPnS-hYmbvWoXk6P3HSNOMl0&callback=initializeMap"></script>
            <div id="map_canvas"></div>
    <script>

      function initializeMap() {
                  var map = new google.maps.Map(document.getElementById("map_canvas"));
                  var bounds = new google.maps.LatLngBounds();
                  function addMarker(lat, lng, title) {
                    var position = new google.maps.LatLng(lat, lng);
                    var marker = new google.maps.Marker({
                      position: position,
                      map: map,
                      title: title
                    });
                    bounds.extend(position);
                  }
                  addMarker({{project_details.position}});
                  map.fitBounds(bounds);
                }
                // google.maps.event.addDomListener(window, 'load', initializeMap);
                window.onload = initializeMap;
    </script>
    </script>
              <!-- ########################## END OF GOOGLE MAP URL####################-->

  </div>
</div>

<!--################################## END OF PANEL FOR EXTRA INFORMATION #########################-->

<!-- ########################### SPOT.IM COMMENTING ENGINE ############################# -->
<div class="spot-im-frame-inpage" data-post-id="{{project_details.id}}"></div>
<!-- ########################### END OF SPOT.IM COMMENTING ENGINE ############################# -->

</div>

<div class="col-sm-3 top80">
 <nav>

  <div class="clearfix"></div>
</nav>


</div>
<p>

</p>
</div>
</div>
</div>
</div>
<div class="clearfix"></div>
</section>
<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>



<script src="{% static 'js/modal.js' %}"></script>
<script src="{% static 'js/jquery-2.1.4.js' %}"></script>
    <!-- ONLINE LINK FOR MODAL -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../libs/jquery/dist/jquery.min.js"><\/script>')</script>
<!-- Events FOR NEW MODAL -->
<script>
  $(document).on('opening', '.remodal', function () {
    console.log('opening');
  });

  $(document).on('opened', '.remodal', function () {
    console.log('opened');
  });

  $(document).on('closing', '.remodal', function (e) {
    console.log('closing' + (e.reason ? ', reason: ' + e.reason : ''));
  });

  $(document).on('closed', '.remodal', function (e) {
    console.log('closed' + (e.reason ? ', reason: ' + e.reason : ''));
  });
</script>
<!--SOCIAL MEDIA SHARE WITH ADDTHIS -->
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57eec4057e564362"></script>
<!-- ################Hidden fields for project subscription ########################## -->
<input type="hidden" class="" id="get_user_id" value="{{user.id}}">
<input type="hidden" class="" id="get_user_email" value="{{user.email}}">
<input type="hidden" class="" id="get_user_username" value="{{user.username}}">
<input type="hidden" class="" id="get_user_fullname" value="{{user.get_full_name}}">
<input type="hidden" class="" id="get_project_id" value="{{project_details.id}}">
<input type="hidden" class="" id="get_project_name" value="{{project_details.project_name}}">
<!-- ################Hidden fields for project subscription ########################## -->
</body>
</html>

<!-- ###################################### MODALS ############################## -->
<!-- Modal for non login or registered users to subscribe-->
        <div class="remodal" data-remodal-id="subscribe_to_project" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
    <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
          <div>
      <h2 id="modal1Title">Project Subscription</h2>
      <p id="modal1Desc">
       <h4>subscribe to project </h4>
      <form enctype='multipart/form-data' method="POST" class="post-form">{% csrf_token %}
        {{ form.media }}
              <div class="form-group subscribe_form">
               <label class="subscribe_form_label">
                 {{ form.phone_number.label }}
               </label>
                      {{ form.phone_number }}
              </div>
       <br>
       <button type="submit" id="subscribe_btn" class="save btn btn-default subscribe_to_project">Subscribe</button>
       </form>
    </div>
    <br>
    <!--<button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>-->
    <!--<button data-remodal-action="confirm" class="remodal-confirm">OK</button>-->
  </div>
<!-- End of modal for login or registration -->



<!-- Modal for displaying project update -->
        <div class="remodal" data-remodal-id="show_project_update" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
    <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
          <div>
      <h3 id="modal1Title">Project updates</h3>
      <p id="modal1Desc">
      <h5></h5>
      {% for updates in project_updates %}
      {{updates.field_visit_date}}
      {% endfor %}
    </div>
    <br>
    <!--<button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>-->
    <!--<button data-remodal-action="confirm" class="remodal-confirm">OK</button>-->
  </div>
        <!-- End of modal for displaying project Updates -->

<!-- ###################################### END OF MODALS ############################## -->


<!-- #################### API FUNCTION FOR UNSUBSCRIBE ##################### -->
<script>
  function unsubscribe() {
    gimix = function(res) {
      //gimix go here
      if(res.status == 0){
      subscribe_btn_id = "#unsubscribe-btn"
      $(subscribe_btn_id).text('Subscribe')
      $(subscribe_btn_id).attr("href", "#subscribe_to_project")
      swal("Info!", "You just unsubscribed to this project!",
          "warning")
    } else {

    }

    }
    //project-detials/31/inapi/subscription/unsub
    apiHandler.requestProcessor('/inapi{{request.get_full_path}}/subscription/unsub', 'GET', {}, gimix);
  }
</script>
<!-- #################### END OF API FUNCTION FOR UNSUBSCRIBE ##################### -->

<!-- Case image popout -->
  <script src="{% static 'dashboard-resources/js/lightbox/lightbox-plus-jquery.min.js' %}"></script>

<!-- New Tab  -->
<script>
function openCity(evt, cityName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
     tablinks[i].className = tablinks[i].className.replace(" w3-border-red", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.firstElementChild.className += " w3-border-red";
}
</script>
<script type="text/javascript">
  window.onload = initializeMap();
</script>
<!-- end of Tabs -->
{% endblock content %}
