{% extends 'project/dashboard_base.html'%}
{% load staticfiles %}
{% block content %}
<html>
<head>
  </style>
     <script src="{% static 'dashboard-resources/js/custom_js.js' %}"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/alertify.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/themes/default.min.css"/>
<!-- Semantic UI theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/themes/semantic.min.css"/>
<!-- Bootstrap theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/themes/bootstrap.min.css"/>

</head>
    <body>

<div class="panel col-md-6 col-md-offset-3">
            <div class="panel-heading">
              <h4 class="panel-title">Digest Topic</h4>
              <p>Enter topics for the digest</p>
            </div>
            <div class="panel-body">
            <div class="form-group ">
            

            <form enctype='multipart/form-data' method="POST" class="post-form">{% csrf_token %}
           {{ form.as_p }}
                <br>
                   <button type="submit" class="save btn btn-default">Add Topic</button>
                 </form>
            </div>
          </div>
          


</script>
</body>

{% endblock %}

</html>