{% extends 'project/dashboard_base.html'%}
{% load staticfiles %}
{% block content %}
<html>
<head>
  <style>
.topic-panel {
margin-left: -8%
}
.chat-panel {
  margin-left: 3%
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 70%;
}

/*CHAT FEATURE CSS*/
 </style>
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard-resources/css/chat.css' %}">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"> -->
<!-- END OF CHAT FEATURE CSS-->

     <script src="{% static 'dashboard-resources/js/custom_js.js' %}"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/alertify.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/themes/default.min.css"/>
<!-- Semantic UI theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/themes/semantic.min.css"/>
<!-- Bootstrap theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/themes/bootstrap.min.css"/>
 
</head>
    <body>
      <ol class="breadcrumb breadcrumb-quirk">
        <li><a href="{% url 'category_list_to_add_content' %}"><i class="fa fa-home mr5"></i> Category</a></li>
        <li class="active">{{category.name}}</li>
      </ol>
<div class="container">
      <div class="panel topic-panel col-md-7">

      <div class="panel-heading">
        <h4 class="panel-title ">Category: {{category.name}} </h4>
      </div>
      <div class="panel-body">
      <div class="form-group ">
      You are entering content for  <code>{{category.name}}</code>

      </div>
    </div>
</div>
</div>

<!-- PANEL FOR CONTENT UPLAOD -->
<div class="panel col-md-6">
      <div class="panel-heading">
        <h4 class="panel-title">Digest Content Area</h4>
      </div>
      <div class="panel-body">
      <div class="form-group">
      <form enctype='multipart/form-data' method="POST" class="post-form">{% csrf_token %}
          <div class="form-group">
              {{ form.as_p }}

          </div>
        <br>
           <button type="submit" class="save btn btn-default btn-quirk btn-stroke">Add Content</button>
        </form>
      </div>
    </div>
</div>
<!-- END OF PANEL FOR CONTENT UPLOAD -->


<!-- PANEL FOR CHAT FEATURE -->
<div class="panel chat-panel col-md-5">

      <div class="panel-heading">
        <h4 class="panel-title">Open chat</h4>
      </div>
      <div class="panel-body">
        <div class="round hollow text-center">
        <a href="#" id="addClass">view in chat <i class="fa fa-commenting-o" aria-hidden="true"></i></a>
        </div>
      
<div class="popup-box chat-popup" id="qnimate">
          <div class="popup-head">
        <div class="popup-head-left pull-left"><img src="https://transgovgh-stage.s3.amazonaws.com/company_profile_logo/fb-dashboard-logo.jpg" alt="TransGov"> {{category.name}}
        </div>
          <button data-widget="remove" id="removeClass" class="chat-header-button pull-right" type="button"><i class="glyphicon glyphicon-off"></i></button>
        </div>
      <div class="popup-messages">
      <div class="direct-chat-messages">
          <div class="chat-box-single-line">
                <abbr class="timestamp">Today's date</abbr>
          </div>
          <!-- Message. Default to the left -->
                    <div class="direct-chat-msg doted-border">
                      <div class="direct-chat-info clearfix">
                        <span class="direct-chat-name pull-left">chat</span>
                      </div>

                    {% for content in category.content_category.all|dictsort:"id" %}
                      <div class="direct-chat-text">
                       {{content.content}}
                      </div>
                      {% if content.content_image %}
                      <div class="direct-chat-text">
                       <img class="example-image" src="{{ content.content_image.url }}" width="200px" alt=""/>
                      </div>
                      {% endif %}
                      <div style="color:#ffffff; margin-left: 41px ">
                       {{content.url}}
                      </div>
                      
                       <div class="direct-chat-info clearfix">
                        <span class="direct-chat-timestamp pull-right">{{content.created_date}}</span>
                      </div>
                      {% endfor %}
            <div class="direct-chat-info clearfix">
            <span class="direct-chat-img-reply-small pull-left">
              
            </span>
            </div>
                    </div>      
                  </div>
      </div>
    </div>
    </div>
</div>
<!-- END OF PANEL FOR CHAT -->

<!-- SCRIPT FOR CHAT -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
<script src="{% static 'dashboard-resources/js/chat.js' %}"></script>
<!-- END OF STYLE FOR CHAT -->


<!-- show image on upload -->
 <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
<script type="text/javascript">
  $(document).ready( function() {
    
      $(document).on('change', '.btn-file :file', function() {
    var input = $(this),
      label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [label]);
    });

    $('.btn-file :file').on('fileselect', function(event, label) {
        
        var input = $(this).parents('.input-group').find(':text'),
            log = label;
        
        if( input.length ) {
            input.val(log);
        } else {
            if( log ) alert(log);
        }
      
    });
    
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#img-upload').attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#id_category_image").change(function(){
        readURL(this);
    });
    
    $("#clear").click(function(e){
      e.preventDefault()
        $('#img-upload').attr('src','');
        $('#urlname').val('');
    });
  });
</script>
</body>

{% endblock %}

</html>