{% extends 'project/dashboard_base.html'%}
<!--{% load index %}-->
<html>
<head>
    <body>
{% block content %}

{% for error in errors %}
<font color="red">{{ error }}</font>
{% endfor %}
<div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">List of Categories</h4>
          <p>List of digest categories.</p>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped nomargin" >
              <thead>
                <tr>
                  <th>Category name</th>
                  <th>Description</th>
                  <th>Content available</th>
                  <th class="text-right">Edit</th>
                  <th class="text-center">Del</th>

                </tr>
              </thead>
              <tbody>
             

                  {% for category in categories %}
                <tr style="font-size:13px">
                  <td class="text-left">{{category.name}}</td>
                  <td class="text-left">{{category.description}}</td>
                 <td class="text-center">{{category.content_category.count}}</td>
                  <td class="text-center  btn-quirk btn-stroke" style="margin-left:12px"><a href="{% url 'edit_digest_category' pk=category.pk %}">Edit <i class="fa fa-edit fa-1x" aria-hidden="true"></i></a></td>
                <td class="text-center btn-quirk btn-stroke" style="margin-left:12px"><a class="confirm-delete" data-confirm="true" style="color: #cc0000" href="{% url 'delete_digest_category' pk=category.pk %}">Del <i class="fa fa-trash fa-1x" aria-hidden="true"></i></a></td>
                </tr>
                 
               {% endfor %}
              </tbody>
            </table>
          </div><!-- table-responsive -->
        </div>
      </div><!-- panel -->
      <script>
            $('*[data-confirm="true"]').on('click', function() {
                return confirm("Confirm to delete this category?");
            });
            </script>
      {% endblock %}

      
</body>
</head>
</html>
