{% extends 'project/dashboard_base.html'%}
{% load staticfiles %}
{% block content %}
<html>
<head>
  <style>
.topic-panel {
margin-left: -8%
}
.chat-panel {
  margin-left: 3%
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 70%;
}

/*CHAT FEATURE CSS*/
 </style>
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard-resources/css/chat.css' %}">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"> -->
<!-- END OF CHAT FEATURE CSS-->

     <script src="{% static 'dashboard-resources/js/custom_js.js' %}"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/alertify.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/themes/default.min.css"/>
<!-- Semantic UI theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/themes/semantic.min.css"/>
<!-- Bootstrap theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/themes/bootstrap.min.css"/>
 
</head>
    <body>
      <ol class="breadcrumb breadcrumb-quirk">
        <li><a href="{% url 'category_list_to_add_content' %}"><i class="fa fa-home mr5"></i> Category</a></li>
        <li class="active">{{category}}</li>
      </ol>
<div class="container">
      <div class="panel topic-panel col-md-7">

      <div class="panel-heading">
        <h4 class="panel-title ">Category: {{category}} </h4>
      </div>
      <div class="panel-body">
      <div class="form-group ">
      You are entering content for  <code>{{category}}</code>

      </div>
    </div>
</div>
</div>

<!-- PANEL FOR CONTENT UPLAOD -->
<div class="panel col-md-6">
      <div class="panel-heading">
        <h4 class="panel-title">Digest Content Area</h4>
      </div>
      <div class="panel-body">
      <div class="form-group">
      <form enctype='multipart/form-data' method="POST" class="post-form">{% csrf_token %}
          <div class="form-group">
              {{ form.as_p }}

          </div>
        <br>
           <button type="submit" class="save btn btn-default btn-quirk btn-stroke">Edit Content</button>
        </form>
      </div>
    </div>
</div>
<!-- END OF PANEL FOR CONTENT UPLOAD -->



<!-- show image on upload -->
 <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
<script type="text/javascript">
  $(document).ready( function() {
    
      $(document).on('change', '.btn-file :file', function() {
    var input = $(this),
      label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [label]);
    });

    $('.btn-file :file').on('fileselect', function(event, label) {
        
        var input = $(this).parents('.input-group').find(':text'),
            log = label;
        
        if( input.length ) {
            input.val(log);
        } else {
            if( log ) alert(log);
        }
      
    });
    
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#img-upload').attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#id_category_image").change(function(){
        readURL(this);
    });
    
    $("#clear").click(function(e){
      e.preventDefault()
        $('#img-upload').attr('src','');
        $('#urlname').val('');
    });
  });
</script>
</body>

{% endblock %}

</html>