{% extends 'project/dashboard_base.html'%}
{% load staticfiles %}

<html>
<body>
<head>
<style>
.delete {
  color: red;
}
</style>
</head>
{% block content %}


<ol class="breadcrumb breadcrumb-quirk">
        <li><a href="#"><i class="fa fa-home mr5"></i>Digest categories</a></li>
        <li><a href="#">list of Digest categories</a></li>
      </ol>
<div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">Take action on a particular category</h4>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped nomargin">
              <thead>
                <tr>
                  <th class="text-left">Digest category</th>
                  <th class="text-left">Digest</th>
                  <th class="text-left">Content Available</th>
                  <th class="text-center">Add content</th>
                  <th class="text-center">View content</th>
                 
                </tr>
              </thead>
              <tbody>
                {% for category in categories %}
                <tr style="font-size:13px">
                  <td class="text-left">{{category.name}}</td>
                  <td class="text-left">{{category.description}}</td>
                  <td class="text-center">{{category.content_category.count}}</td>
                  <td class="text-center btn-quirk btn-stroke" style="margin-left:12px"><a href="{% url 'add_digest_content' pk=category.pk %}">Add <i class="fa fa-plus-square fa-1x" aria-hidden="true"></i></a></td>
                  

                  <td class="text-center  btn-quirk btn-stroke" style="margin-left:12px"><a href="{% url 'view_content' pk=category.pk%}">View <i class="fa fa-eye fa-1x" aria-hidden="true"></i></a></td>

                 
                </tr>
               {% endfor %}

              </tbody>
            </table>
          </div><!-- table-responsive -->
        </div>
      </div><!-- panel -->


      {% endblock %}


</body>

</html>

