{% extends 'project/dashboard_base.html'%}
{% load staticfiles %}

<html>
<body>
<head>

</head>
{% block content %}


<ol class="breadcrumb breadcrumb-quirk">
        <li><a href="#"><i class="fa fa-home mr5"></i>Digest Topics</a></li>
        <li><a href="#">list of Digest Topics</a></li>
      </ol>
<div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">List of Digest topic</h4>
          <p>List of all digest topic</p>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped nomargin">
              <thead>
                <tr>
                  <th class="text-left">Topic category</th>
                  <th class="text-left">Topic</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for topic in topics %}
                <tr style="font-size:13px">
                  <td class="text-left">{{topic.topic_category}}</td>
                  <td class="text-left">{{topic.topic}}</td>
                  <td class="text-left">Edit</td>
                </tr>
               {% endfor %}

              </tbody>
            </table>
          </div><!-- table-responsive -->
        </div>
      </div><!-- panel -->


      {% endblock %}


</body>

</html>

