{% extends 'project/dashboard_base.html'%}
<!--{% load index %}-->
<html>
<head>
    <body>
{% block content %}

{% for error in errors %}
<font color="red">{{ error }}</font>
{% endfor %}
<div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">List of content for {{category.name}}</h4>
          <p>List of digest content under {{category.name}}.</p>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped nomargin" >
              <thead>
                <tr>
                  <th>Content Id</th>
                  <th>Content</th>
                  <th>Content url</th>
                  <th>Content Image</th>
                  <th class="text-right">Edit</th>
                  <th class="text-center">Del</th>

                </tr>
              </thead>
              <tbody>
                  {% for content in content %}
                <tr style="font-size:13px">
                  <td class="text-left">{{content.id}}</td>
                  <td class="text-left">{{content.content}}</td>
                  <td class="text-left">{{content.url}}</td>
                 {% if content.content_image %}
                  <td class="text-right"> <img src="{{content.content_image.url}}" width="30px" alt=""/></td>
                 {% else %}
                  <td class="text-right">No image</td>
                  {% endif %}
                  <td class="text-center  btn-quirk btn-stroke" style="margin-left:12px"><a href="{% url 'edit_content' pk=content.pk %}">Edit <i class="fa fa-edit fa-1x" aria-hidden="true"></i></a></td>
                <td class="text-center btn-quirk btn-stroke" style="margin-left:12px"><a class="confirm-delete" data-confirm="true" style="color: #cc0000" href="{% url 'delete_content' pk=content.pk %}">Del <i class="fa fa-trash fa-1x" aria-hidden="true"></i></a></td>
                </tr>
                 
               {% endfor %}
              </tbody>
            </table>
          </div><!-- table-responsive -->
        </div>
      </div><!-- panel -->
      <script>
            $('*[data-confirm="true"]').on('click', function() {
                return confirm("Confirm to delete this content?");
            });
            </script>
      {% endblock %}

      
</body>
</head>
</html>
