/*------------------------------------------------------------------
-------------------------------------------------------------------*/

/* section {
	color: #777;
} */
/* header */

.h-first-row {
	background: #eeeeee;
	color: #333333;
}

.h-login a, .h-menu li a{
	color: #333333;
}

.h-curr a{
	color: #777777;
}


li.h-submit-listing a{
	color: #fff;
}



.h-page-name, .h-page-name a{
	color: #fff;
}

/*end of header */

/* article */

.faet-tooltip1:hover {
	color: #333333;
}

.blockquote1 {
	color: #eeeeee;
}
/* end of article */

.universal-title {
	color: #777777;
}

h1, h2, h3, h4, h5, h6 {
	color: #333;
}



.txt-bg-black {
	color: #fff;
	background: #222533;
	padding: 0.5em;
}

.txt-bg-blue {
	color: #fff;
	padding: 0.5em;
}

.txt-bg-orange {
	color: #fff;
	padding: 0.5em;
	border: 1px dotted #6e4b00;
}

.rectangle-dropcap:first-letter, .round-dropcap:first-letter, .button-orange {
	color: #fff;
}

.square-dropcap:first-letter, .blue-circle, .button-blue {
	color: #fff;
}

.blockquote-style-2 .blockquote1 {
	background: #fff;
}

.blockquote-style-2 {
	background: #f3f3f3;
}

.black {
	color: #000;
}

.black333 {
	color: #333333;
}

/* .color777 {
	color: #777;
} */

.color313131 {
	color: #313131;
}

.colorfff {
	color: #fff;
}

.border333 {
	border-color: #333333;
}

.border777 {
	border-color: #777777;
}

.borderccc {
	border-color: #cccccc;
}

.borderddd {
	border-color: #dddddd;
}

.button-black {
	color: #fff;
	background: #333333;
}

.button-white {
	color: #333333;
	border-color: #ccc;
}

.normal-message, .normal-message a {
	background: #eff5f7;
	color: #959595;
}

.warning-message, .warning-message a {
	background: #ffcec3;
	color: #ff391f;
}

.information-message, .information-message a {
	background: #ffe8b6;
	color: #e99b00;
}

.success-message, .success-message a {
	background: #cbf5af;
	color: #6db74c;
}

.useful-message, .useful-message a {
	background: #c3e7ff;
	color: #21c2f8;
}

.normal-message-2, .normal-message-2 a {
	background: #decfdf;
	color: #af75b3;
}

.big-message {
	color: #000;
}

.message-white {
	border: 1px solid #ccc;
	color: #333;
}

.message-white .fa{
	color: #666666;
}

.message-red {
	background: #ffcec3;
}

.message-red h6, .message-red .fa {
	color: #df3c22;
}

.message-green {
	background: #cbf5af;
}

.message-green h6, .message-green .fa {
	color: #649d01;
}

.message-orange {
	background: #ffe8b6;
}

.message-orange h6, .message-orange .fa {
	color: #d99b07;
}

.form-1-style3:focus {
	border: 1px solid;
	background-color: #fff;
}

.form-1-style3, .bgf7 {
	background-color: #f7f7f7;
}

.form-1-style2:focus {
	border: 1px solid #ccc;
	background-color: #fff;
}

.el-form-2 .form-1-style2:focus {
	border: 1px solid #c3e7ff;
	background-color: #fff;
}

.form-1-style2{
	color: #777777;
	background-color: #f7f7f7;
}

.borderf7 {
	border-color: #f7f7f7;
}

input[type="checkbox"].checkbox-style5 + span {
	background: url(../images/style-check-5.jpg) no-repeat;
}

input.button-white {
	color: #333333;
	border: 1px;
	border-style: solid;
	border-color: #ccc;
	background: #fff;
}

.dropdown-btn1 {
	background-color: #fff;
	background-image: url(../media/buttons/drop-down1.jpg);
	background-repeat: no-repeat;
	background-position: top right;
}

.dropdown-btn2 {
	background-color: #fff;
	background-image: url(../media/buttons/drop-down2.jpg);
	background-repeat: no-repeat;
	background-position: top right;
}

.dropdown-btn3{
	background-color: #fff;
	background-image: url(../media/buttons/drop-up-down.jpg);
	background-repeat: no-repeat;
	background-position: top right;
}

.newsletter-bg1 {
	background-repeat: no-repeat;
}

.newsletter-bg:before {
	content: '';
	position: absolute;
	left: -100px;
	border: 50px solid transparent;
	border-right: 50px solid;
}

.f-newsletter-l {
	color: #fff;
}
.newsletter-inpup-field {
	background: #fff;
}
.newsletter-signup {
	background: #333333;
	color: #fff;
}

.footer {
	background: #222  center bottom no-repeat;
}
.footer2, .footer-relative {
	background: #181818;
}
.left-footer2, .left-footer2 a {
	color: #999999;
}
.footer h5 {
	background: url(../images/foot-title-bg.png) center repeat-x;
}
.footer h5 b.footer-title{
	background: #222222;
	padding-right: 15px;
}

.footer-logo22 div {
	/*background: url(../img/footer-logo.png) center repeat-x;*/
}

.footer .o-circle {
	/*background-image: url(../img/logo_hands.png);*/
}

.coloraaa {
	color: #aaaaaa;
}

.footer .f-2td i{
	color: #fff;
}

.footer .f-2td a{
	color: #aaa;
}


.color555 {
	color: #555555;
}

.color333 {
	color: #333;
}

.error-blue{
	text-shadow: -4px 4px 5px #ccc;
}

.error-orange {
	text-shadow: -4px 4px 5px #ccc;
}

.error404list i {
	color: #999999;
}

.error404list li:hover i {
	color: #333333;
}

.error404list a{
	color: #333333;
}

.main-content-404 .button-white {
	color: #777777;
}

.search-button i{
	color: #333;
}

.about-title {
	/*background: url(../img/grey-line.png) center repeat-x;*/
}

.memb-photo1:hover .memb-photo-hover1, .memb-photo2:hover .memb-photo-hover2, .memb-photo3:hover .memb-photo-hover3, .memb-photo4:hover .memb-photo-hover4 {
	background-color: rgba(0, 0, 0, 0.5);
}

.memb-txt {
	background: #fff;
}

.about-nav {
	background: #333333;
}

.about-nav-left a{
	color: #fff;
}

.about-nav-left {
	background-position: right;
	background-repeat: no-repeat;
}

.about-nav-left:before {
	content: '';
	position: absolute;
	top: 0px;
	right: -85px;
	border: 55px solid transparent;
	z-index: 999;
	border-left: 30px solid;
}

.nav-right-cont a h6{
	color: #fff;
}

.bgfff {
	background: #fff;
}

.memb .member1 {
	/*border: 1px solid #e5e5e5;*/
}

.memb .member2 {
	border: 1px solid #e5e5e5;
	background: #f7f7f7;
}

.tbl-contact-txt .td1 {
	color: #333333;
}

.tbl-contact-txt tr{
	border-bottom: 1px solid #eeeeee;
}

.tbl-contact-txt .td2 i{
	color: #cccccc;
}

.tbl-contact-txt .td2 a:hover i{
	color: #333333;
}

.pricing-main-block .main-block {
	color: #fff;
}

.pricing-main-block .left-block, .pricing-main-block .right-block {
	background: #f3f3f3;
	color: #808080;
}

.price-tbl {
	background: #f3f3f3;
	border: 1px solid #dadada;
	color: #303030;
}

.price-tbl:after {
	border-color: rgba(243, 243, 243, 0);
	border-top-color: #f3f3f3;
}
.price-tbl:before {
	border-color: rgba(218, 218, 218, 0);
	border-top-color: #dadada;
}
.main-block .price-tbl {
	border: 1px solid #d7d7d7;
}
.main-block .price-tbl:after {
	border-color: rgba(243, 243, 243, 0);
}
.main-block .price-tbl:before {
	border-color: rgba(218, 218, 218, 0);
	border-top-color: #d7d7d7;
}

.per-month {
	border-bottom: 1px solid #cccccc;
}

.main-block .per-month {
	border-bottom: 1px solid #fff;
}
.main-block .price-tbl {
	color: #fff;
}
.partners img:hover {
	box-shadow: 1px 1px 5px #ccc;
}

.price-tbl:after, .price-tbl:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.price-tbl:after {
	border-color: rgba(243, 243, 243, 0);
	border-top-color: #f3f3f3;
	border-width: 12px;
	margin-left: -12px;
}
.price-tbl:before {
	border-color: rgba(218, 218, 218, 0);
	border-top-color: #dadada;
	border-width: 13px;
	margin-left: -13px;
}
.main-block .price-tbl {
	position: relative;
	border: 1px solid #d7d7d7;
}
.main-block .price-tbl:after, .main-block .price-tbl:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.main-block .price-tbl:after {
	border-color: rgba(243, 243, 243, 0);
	border-width: 12px;
	margin-left: -12px;
}
.main-block .price-tbl:before {
	border-color: rgba(218, 218, 218, 0);
	border-top-color: #d7d7d7;
	border-width: 13px;
	margin-left: -13px;
}
.search-input {
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.search-button {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.pict-data {
	color: #222222;
	background: #eacf00;
}
.pict-data2 {
	color: #222222;
	background: #eacf00;
}

.new-first-det a {
	color: #777777;
}
.new-details .form-1-style2 {
	background: #fff;
}
.blog-news-nav .blog-nav-el:hover {
	color: #fff;
}
.fffimp {
	background: #fff!important;
}
.right-title {
	color: #fff;
}
.nav-right-menu li{
	border: 1px solid #e5e5e5;
	background: #fcfcfc;
	background: linear-gradient(to top, #efefef, #f5f5f5);
}
.nav-right-menu a, .nav-right-menu li{
	color: #333333;
	text-decoration: none;
}
.nav-right-menu li:hover, .nav-right-menu li:hover a{
	border: 1px solid #666666;
}
.coupon-img .off{
	color: #fff;
	background: rgba(0, 0, 0, 0.6);
}
.blog div.readmore-btn:hover, .grey-gradient-btn:hover{
	background: #e5e5e5;
	background: linear-gradient(to top, #e5e5e5, #fff);
}
.readmore-btn {
	border: 1px solid #ccc;
}
.readmore-btn fa{
	color: #d6d6d6;
}
.blog-pagination .pag-element {
	color: #333333;
	border-left: none;
	border: 1px solid #eeeeee;
}
.blog-pagination .angl-left {
	border-left: 1px solid #eeeeee;
}
.blog-pagination .pag-element:hover {
	color: #fff;
}
.list-det-ico img{
	border: 2px solid #fff;
}
.list-det-left, .list-det-left a{
	color: #fff;
}
.write-review {
	border: 1px solid #fff;
}
.write-review {
	color: #fff;
}
.write-review:hover{
	background: rgba(255, 255, 255, 0.3);
}

.make-reservation .about-title, .related-listings-row .about-title, .blue-title .about-title{
	/*background: url(../img/blue-line.png) center repeat-x;*/
}
.make-reservation .about-title span, .related-listings-row .about-title span{
	color: #fff;
}
.find-btn, .find-btn a{
	color: #fff;
}
a .find-btn:hover{
	text-shadow: 1px 1px 1px #000;
}
.reservation-dropdowns .dropdown-btn1 {
	background-image: none;
	border-right: 1px solid #ebebeb;
}
.reservation-dropdowns .fa{
	color: #dddddd;
}
.listing-details-left .left-1-menu a{
	color: #333333;
}

.listing-details-left .left-1-menu .menu-link:hover, .listing-details-left .left-1-menu .menu-link:hover .fa{
	color: #fff;
	border: 1px solid;
}
.listing-details-left .left-1-menu .menu-link:focus, .listing-details-left .left-1-menu .menu-link:focus  i{
	color: #fff!important;
	outline: none;
	border: 1px solid;
	border-radius: 3px 3px 0 0;
}

.opening-hours .td1 {
	color: #333333;
}
.opening-hours .td2 {
	color: #777777;
}
.opening-hours tr {
	border-bottom: 1px solid #eeeeee;
}
.sidebar-orange, .sidebar-orange .fa {
	color: #fff;
}
.listing-owner .soc-icons img:hover {
	opacity: 1;
}
.cal-container .datepicker table tr td.day:hover {
	color: #fff;
	cursor: pointer;
}
.cal-container .datepicker-switch {
	color: #333333;
}
.cal-container .datepicker .dow {
	color: #777777;
	background: #f3f3f3;
	border: 1px solid #f3f3f3;
}
.datepicker table tr td.day{
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
}
.cal-container .datepicker .table-condensed tbody{
	border-left: 1px solid #eeeeee;
	border-top: 1px solid #eeeeee;
}
.calendar .select-time {
	border-bottom: 1px solid #eeeeee;
}
.select-time-list a{
	color: #777777;
}
.select-time-list a:hover, .select-time-list a:hover div, .select-time-list a:focus div{
	color: #fff;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.total-cost {
	background: #f3f3f3;
}
.b-color-eee{
	border-color: #eeeeee;
}

.blog-reviews .carousel-indicators li {
	background-color: #e6e6e6;
}
.blog-reviews .carousel-indicators .active {
	background-color: #999999;
}
.calendar, .raiting-review-sort .dropdown-btn1, .raiting-review {
	border: 1px solid #eeeeee;
}
.blog-det-comment {
	border-bottom: 1px solid #ccc;
}
.raiting-review-sort .blog-det-comments .blog-det-comment {
	border-color: #eee;
}

.raiting-review-sort .el-form-1 .form-1-style2 {
	background: #fff;
	border-color: #dddddd;
	color: #777777;
}
.write-comment-raiting div .fa{
	color: #d8d8d8;
}

.related-listings {
	color: #fff;
}
.additional-filter {
	background: #f3f3f3;
}
.filter-slider .slider-handle {
	background: #fff;
	border: 2px solid;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.update-listings-btn, .update-listings-btn a {
	border: 1px solid #dadada;
	background: #fff;
	color: #777777;
}
.update-listings-btn:hover {
	color: #fff;
}
.listing-details-left .sidebar-orange i.fa{
	color: #fff;
}
.business-services-menu {
	border-bottom: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	border-left: 4px solid #dddddd;
}
.listing-details-left .business-services .business-services-menu li, .listing-details-left .business-services .business-services-menu .fa{
	color: #333333;
	background: #fff;
	background: linear-gradient(to top, #fff, #fff);
}
.listing-details-left .business-services .active-business-item, .listing-details-left .business-services .business-services-menu li:hover {
	outline: 1px solid #dddddd!important;
}
.sorts-by-results {
	border: 1px solid #eeeeee;
}
.sorts-by-results .dropdown-btn-list {
	border: 1px solid #eeeeee;
}
.sorts-by-results .disp-style{
	border: 1px solid #eeeeee;
	border-left: 0;
}
.sorts-by-results .disp-style{
	color: #cccccc;
}
.sorts-by-results .disp-style:focus .fa, .sorts-by-results .disp-style:focus{
	color: #555555;
	outline: none;
	background: linear-gradient(to top, #f1f1f1, #fff);
}
.bs-item, .results-container .memb-txt {
	border: 1px solid #eeeeee;
}
.bs-element-container {
	border: 1px solid #eeeeee;
}
.phone-features {
	background: url(../media/backgrounds/iphone-bg.jpg) top center;
	background-attachment: fixed;
	background-size: cover!important;
}

.phone-features-icon .fa{
	color: #fff;
}
.featured:after {
	background: #eacf00;
	color: #222222;
}
/*.store-btns div {
	box-shadow: 1px 1px 5px #000;
}*/
.store-btns div:hover {
	box-shadow: 1px 1px 3px #000;
}
.txt-shadow {
	text-shadow: 1px 1px 2px #333;
}
.featured-collection {
	background: #f3f3f3;
}
.bgf3 {
	background: #f3f3f3;
}
.row-pricing-details .pricing-main-block .left-block, .row-pricing-details .pricing-main-block .right-block {
	background: #fff;
	color: #808080;
}
.home2 .featured-collection {
	background: #fff;
}
.home2-header {
	background: url(../media/backgrounds/home2-bg.jpg) center center no-repeat;
	color: #fff;
}

.home2-header .make-reservation {
	background: none;
}
.home2-header .make-reservation, .home2-header-container input.dropdown-btn-list.dropdown-btn1.dropdown-btn1-1.btn.btn-lg.dropdown-toggle {
	color: #777777;
}


.home2-header-container input.dropdown-btn-list.dropdown-btn1.dropdown-btn1-1.btn.btn-lg.dropdown-toggle::-webkit-input-placeholder {color:#777777;}
.home2-header-container input.dropdown-btn-list.dropdown-btn1.dropdown-btn1-1.btn.btn-lg.dropdown-toggle::-moz-placeholder          {color:#777777;}/* Firefox 19+ */
.home2-header-container input.dropdown-btn-list.dropdown-btn1.dropdown-btn1-1.btn.btn-lg.dropdown-toggle:-moz-placeholder           {color:#777777;}/* Firefox 18- */
.home2-header-container input.dropdown-btn-list.dropdown-btn1.dropdown-btn1-1.btn.btn-lg.dropdown-toggle:-ms-input-placeholder      {color:#777777;}
.cat-header {
	color: #333333;
	border-bottom: 1px solid #e5e5e5;
}
.table-categories {
	color: #777777;
	background: #f7f7f7;
	border: 1px solid #e5e5e5;
}

.table-categories a, .row-browse-categories .table-categories .fa{
	color: #777777;
}

.row-browse-categories .table-cat-bgf {
	background: #fff;
}
.row-we-help {
	background: url(../images/value_prop-bg.png) center center no-repeat;
	background-size: cover!important;
}
.home-1-reserv {

}

.img-icons {
	color: #fff;
	border: 2px solid #fff;
}
.img-icons:hover {
	color: #A0A0A0;
	border: 2px solid #A0A0A0;
}
.img-icons-2 {
	color: #ccc;
	border: 1px solid #444444;
}
.img-icons-2:hover {
	color: #A0A0A0;
	border: 1px solid #A0A0A0;
}

.radio1 input[type=radio]:checked + label:before {
	color: #fff;
}

.radio2 label:before {
	background-color: #fff;
	border: 1px solid #ccc!important;
}

.radio3 label:before {
	background-color: #fff;
	border: 1px solid #ccc!important;
}
.radio3 input[type=radio]:checked + label:after {
	background-color: #757575;
}

.radio4 label:before {
	background-color: #fff;
	border: 1px solid #ccc!important;
}

.checkbox-1 input[type=checkbox]:checked + label:before {
	color: #757575;
}
.checkbox-1 label:before {
	background: #fff;
	border: 1px solid #ccc;
}
.results-container .memb-photo-hover .img-icons .fa, .related-listings .memb-photo-hover .img-icons .fa {
	color: #fff;
}
