/* Modal */
.btn-modal {
  padding: 13px 30px;
  background: white;
  color: #66AD4C;
  border-radius: 60px;
  border: 2px solid #66AD4C;
  cursor: pointer;
  font-size: 12px;
  display: block;
  text-transform: uppercase;
  transition: all 0.2s;
  text-align: center;
  /*width: 200px;*/
  /*position: relative;*/
  top: 150px;
  text-align: center;
  margin: 0 auto;
}

.content-button-close {
  padding: 13px 30px;
  background: white;
  color: #66AD4C;
  border-radius: 60px;
  border: 2px solid #66AD4C;
  cursor: pointer;
  font-size: 0.7em;
  display: block;
  text-transform: uppercase;
  transition: all 0.2s;
  text-align: center;
  width: 140px;
  margin: 51px auto 0 auto;
}

.btn-modal:hover,
.content-button-close:hover {
  background: #66AD4C;
  color: white;
}

.close {
  position: absolute;
  top: 15px;
  right: -15px;
  width: 30px;
  height: 30px;
  background: red;
  font-weight: 900;
  color: white;
  cursor: pointer;
  border: 0;
  border-radius: 50px;
  -webkit-box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.46);
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 50;
  visibility: hidden;
  opacity: 0;
  transition: 0.7s;
}
.login_mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 50;
  visibility: hidden;
  opacity: 0;
  transition: 0.7s;
}
.login_close {
  position: absolute;
  top: 15px;
  right: -15px;
  width: 30px;
  height: 30px;
  background: red;
  font-weight: 900;
  color: white;
  cursor: pointer;
  border: 0;
  border-radius: 50px;
  -webkit-box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.46);
}
.login_content-button-close {
  padding: 13px 30px;
  background: white;
  color: #66AD4C;
  border-radius: 60px;
  border: 2px solid #66AD4C;
  cursor: pointer;
  font-size: 0.7em;
  display: block;
  text-transform: uppercase;
  transition: all 0.2s;
  text-align: center;
  width: 140px;
  margin: 51px auto 0 auto;
}
.elegant-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 450px;
  margin-left: -300px;
  margin-top: -240px;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-out;
  transform: translateY(45px);
  background-color: #FFFFFF;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.46);
}

.active {
  visibility: visible;
  opacity: 1;
  transition: all .2s;
}

.active + .elegant-modal {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.elegant-modal h1.title-modal {
  margin: 40px 0 20px 0;
  padding: 0 15px;
}

.elegant-modal hr.line-modal {
  border: 1px solid #F2F2F2;
}

.elegant-modal p.paragraph-modal {
  font-size: 18px;
  margin-top: 20px;
  padding: 0 45px;
  color: #B7B7B7;
}
