#map_canvas {
    width:780px;
    height:400px;
  }
  .panel-profile .people-info .info-group {
    padding: 15px;
    background-color: #f9fafb;
    margin-left: 1px;
}
  .panel-profile .people-info .row {
  margin: 0;
}
.panel-profile .people-info .row + .row {
  margin-top: 1px;
}
.panel-profile .people-info .col-sm-4 {
  padding: 0;
}
.panel-profile .people-info .col-sm-4:first-child > .info-group {
  margin-left: 0;
}
.panel-profile .people-info .social-account-list > i {
  font-size: 28px;
}
.panel-profile .people-info h4 {
  margin: 9px 0 8px;
  font-weight: 500;
  color: #259dab;
}
.panel-profile .people-info .fa,
.panel-profile .people-info .glyphicon {
  margin-right: 5px;
  vertical-align: baseline;
  font-size: 14px;
  color: #3b4354;
}
.panel-profile .people-info .info-group {
  padding: 15px;
  background-color: #f9fafb;
  margin-left: 1px;
}
.panel-profile .people-info .info-group label {
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: .5px;
  color: #3b4354;
}
.panel-profile .people-info .info-group .social-account-list {
  padding-top: 2px;
}
.panel-profile .people-info .info-group .social-account-list > i {
  font-size: 28px;
  margin: 4px 2px 0;
  line-height: 17px;
}
.panel-profile .people-info .info-group .social-account-list > i.fa-facebook-official {
  color: #3A5795;
}
.panel-profile .people-info .info-group .social-account-list > i.fa-twitter {
  color: #55ACEE;
}
.panel-profile .people-info .info-group .social-account-list > i.fa-dribbble {
  color: #EA4C89;
}
.panel-profile .people-info .info-group .social-account-list > i.fa-github {
  color: #4078C0;
}
.panel-profile .people-info .info-group .social-account-list > i.fa-linkedin {
  color: #0073B2;
}
.panel-profile .people-info .info-group .social-account-list > i.fa-skype {
  color: #4BB4FF;
}
    .well-tab-content{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
    .toggle-header{
    padding:10px 0;
    margin:10px 0;
    background-color:black;
    color:white;
}
.container{
    margin-top:30px;
}

.filter-col{
    padding-left:10px;
    padding-right:10px;
}


/***** PANEL TRAFFIC *****/
.panel-site-traffic .panel-body .panel-title {
  color: #818da7;
  font-size: 11px;
  margin: 3px 0 0;
}
@media (max-width: 480px) {
  .panel-site-traffic .panel-body .row > div {
    width: 100%;
    float: none;
  }
  .panel-site-traffic .panel-body .row > div:before,
  .panel-site-traffic .panel-body .row > div:after {
    content: " ";
    display: table;
  }
  .panel-site-traffic .panel-body .row > div:after {
    clear: both;
  }
  .panel-site-traffic .panel-body .row > div:before,
  .panel-site-traffic .panel-body .row > div:after {
    content: " ";
    display: table;
  }
  .panel-site-traffic .panel-body .row > div:after {
    clear: both;
  }
  .panel-site-traffic .panel-body .row > div + div {
    margin-top: 15px;
  }
}
.panel-site-traffic .panel-body h3 {
  margin: 0 0 3px;
  font-size: 32px;
}
.panel-site-traffic .panel-body .icon {
  font-size: 48px;
  color: #fff;
  margin-right: 20px;
  border-radius: 2px;
  width: 70px;
  line-height: 54px;
}
.panel-site-traffic .panel-body .ion-stats-bars {
  background-color: #2574ab;
  padding: 7px 18px;
}
.panel-site-traffic .panel-body .ion-eye {
  background-color: #5bc0de;
  padding: 7px 15px;
}
.panel-site-traffic .panel-body .ion-clock {
  background-color: #259dab;
  padding: 7px 14px;
}
.panel-site-traffic .panel-body h5 {
  margin: 0;
  font-weight: 300;
}

/***** GRAPHS & CHARTS *****/
.tooltipflot {
  background-color: rgba(0, 0, 0, 0.75);
  font-size: 11px;
  color: #fff;
  padding: 3px 10px;
  border-radius: 2px;
}
.jqstooltip {
  min-height: 25px;
  border: 0;
  min-width: 30px;
  height: auto !important;
  width: auto !important;
}
.panel-morris .body-chart {
  height: 300px;
}
.panel-morris .body-chart > svg {
  width: 100% !important;
}
.tinystat {
  display: inline-block;
}
.tinystat .chart {
  margin-right: 5px;
}
.tinystat .chart,
.tinystat .datainfo {
  display: inline-block;
  vertical-align: middle;
}
.tinystat .text-muted {
  text-transform: uppercase;
  font-size: 10px;
}
.tinystat h4 {
  margin: 0;
  color: #262b36;
  font-weight: bold;
  line-height: normal;
  font-size: 16px;
}

.extra-information {
  margin-top: 10%;
}