@CHARSET "UTF-8";
/*
over-ride "Weak" message, show font in dark grey
*/

.progress-bar {
    color: #333;
}

/*
Reference:
http://www.bootstrapzen.com/item/135/simple-login-form-logo/
*/

* {
    -webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	outline: none;
}

    .form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

body {
	/*background: url() no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #2aa083;
}

.login-form {
	margin-top: 60px;
    width: 110%;
    margin-left: -50px;
}

form[role=login] {
	color: #5d5d5d;
	background: #f2f2f2;
	padding: 26px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    width: 120%;
}
	form[role=login] img {
		display: block;
		margin: 0 auto;
		margin-bottom: 35px;
	}
	form[role=login] input,
	form[role=login] button {
		font-size: 18px;
		margin: 16px 0;
	}
	form[role=login] > div {
		text-align: center;
	}

.form-links {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 50px;
}
	.form-links a {
		color: #fff;
	}

    /*
    CUSTOM CSS
    */
#id_password1, #id_password2, #id_email, #id_username,
#id_last_name, #id_first_name, #id_login, #id_password{
    /*display:block;*/
    width:70%;
    height:34px;
    padding:6px 12px;
    font-size:14px;
    line-height:1.42857;
    color:rgba(22,24,27,.87);
    background-color:#fff;
    background-image:none;
    border:1px solid rgba(22,24,27,.12);
    border-radius:2px;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}

#id_email{
    margin-left: 25px;
}

#id_password1 {
    margin-left: 0px;
}

.form-control{
    display:block;
    width:100%;
    height:34px;
    padding:6px 12px;
    font-size:14px;
    line-height:1.42857;
    color:rgba(22,24,27,.87);
    background-color:#fff;
    background-image:none;
    border:1px solid rgba(22,24,27,.12);
    border-radius:2px;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
#id_login{

}