{% extends 'project/dashboard_base.html'%}
{% load staticfiles %}

<html>
<body>
<head>

</head>
{% block content %}

 <style>
#map {
  height: 400px;
  width: 100%;
 }
</style>

<ol class="breadcrumb breadcrumb-quirk">

        <li><a href=""><i class="fa fa-home mr5"></i> Fault reporting</a></li>
        <li><a href="{% url 'viewAllCasesOnDashboard'%}">list of Faults</a></li>
        <li class="active">all faults assigned</li>
      </ol>
     

<div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">List of Assigned faults</h4>
          <p>List of all assigned faults.</p>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped nomargin">
              <thead>
                <tr>
                  
                  <th>Fault number</th>
                  <th>Fault name</th>
                  <th class="text-center">Location</th>
                  <th class="text-right">Assigned to</th>
                  <th class="text-right">Fault status</th>
                  <th class="text-right">Assigned Date</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for faults in assigned_faults.object_list %}
                <tr style="font-size:13px">
                  <td>
                

                      {{faults.community_fault.case_number}}
                  </td>
                  <td>{{faults.community_fault.case_name}}</td>
                  
                  <td class="text-center">{{faults.community_fault.suburb}}</td>
                  <td class="text-right">{{faults.field_worker}}</td>
                  <td class="text-center">{{faults.community_fault.case_status}}</td>

                  <td class="text-right">{{faults.date_assigned}}</td>
                 <td>
                   
                 </td>
                </tr>
               {% endfor %}

              </tbody>
            </table>
          </div><!-- table-responsive -->
        </div>
      </div><!-- panel -->

    <div class="container">
  <div class="col-md-offset-5">
      <ul class="pagination">
          {% if assigned_faults.has_previous %}
              <li><a href="?page={{ assigned_faults.previous_page_number }}">«</a></li>
          {% endif %}
          {% for pg in assigned_faults.paginator.page_range %}
              {% if assigned_faults.number == pg %}
                  <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
              {% else %}
                  <li><a href="?page={{ pg }}">{{ pg }}</a></li>
              {% endif %}
          {% endfor %}
          {% if assigned_faults.has_next %}
              <li><a href="?page={{ assigned_faults.next_page_number }}">»</a></li>
          {% endif %}
      </ul>
    </div>
  </div>

      {% endblock %}


</body>

</html>

