{% load staticfiles %}
<!DOCTYPE html>
<html>
<div style="font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;">
    <table style="width: 100%;">
      <tr>
        <td></td>
        <td bgcolor="#FFFFFF ">
          <div style="padding: 15px; max-width: 600px;margin: 0 auto;display: block; border-radius: 0px;padding: 0px; border: 1px solid lightseagreen;">
            <table style="width: 100%;background: #00b6e2 ;">
              <tr>
                <td></td>
                <td>
                  <div>
                    <table width="100%">
                      <tr>
                        <td rowspan="2" style="text-align:center;padding:10px;">
              <img style="float:left; "  src="https://s3.amazonaws.com/transgovgh-production/new_signup_logo.png" /> 
              
              <span style="color:white;float:right;font-size: 13px;font-style: italic;margin-top: 20px; padding:10px; font-size: 14px; font-weight:normal;">
              "Fostering open governance."<span></span></span></td>
                      </tr>
                    </table>
                  </div>
                </td>
                <td></td>
              </tr>
            </table>
            <table style="padding: 10px;font-size:14px; width:100%;">
              <tr>
                <td style="padding:10px;font-size:14px; width:100%;">
                    <p>Hi {{email}},</p>
                    <p><br /> You have been invited to view {{company_name}} Dashboard. Follow this link to Signup/Signin</p>
                    <p><a href="http://localhost/sdo-web-v3/public/password/reset/c5c52274fdc00ba7db13da3da13e1c89be5c3ca2c88d1cc53def29d619a93c10?email=haneefamsit%40gmail.com" style="color:blue;font-size:12px;">http://localhost/sdo-web-v3/public/password/reset/c5c52274fdc00ba7db13da3da13e1c89be5c3ca2c88d1cc53def29d619a93c10?email=haneefamsit%40gmail.com</a></p>
                    <p>Profile token<br/> Please copy and paste this token after signup to grant you access. Contact contact@transgovgh.org if you have any difficulty.</p>
                    <p> </p>
                    <p>Thanks for joining TransGov,</p>
                    <p>TransGov Team.</p>
                  <!-- /Callout Panel -->
                  <!-- FOOTER -->
                 </td>
              </tr>
        <tr>
        <td>
         <div align="center" style="font-size:12px; margin-top:20px; padding:5px; width:100%; background:#eee;">
                    © 2017 <a href="http://transgovgh.org" target="_blank" style="color:#333; text-decoration: none;">transgovgh.org</a>
                  </div>
                </td>
        </tr>
            </table>
          </div>
</body>
</html>
