{% load staticfiles %}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <!-- NOTE: external links are for testing only -->
  <link href="//cdn.muicss.com/mui-0.1.2/email/mui-email-styletag.css" rel="stylesheet" />
  <link href="//cdn.muicss.com/mui-0.1.2/email/mui-email-inline.css" rel="stylesheet" />
  <style>
  </style>
</head>
<body>
  <table class="mui-body" cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td  style="padding:50px;" class="mui-panel">
        <center>
          <table><tr><td class="mui-container-fixed" style="background-color: floralwhite">
          <div style="text-align:center;" class="mui-container">
            <div class="mui-divider-bottom">
              <img style="width:300px" src="https://s3.amazonaws.com/transgovgh-production/email_message_logo/transgov_email_logo.png">
              <h3 style="margin-top: -5px!important; margin-bottom: 16px!important; color: grey!important;">Fostering Open Governance</h3>
              <div class="mui-divider-bottom"></div>
              <p style="margin-left: -18px; padding:20px; text-align:left;">
                Hello, <strong>TransGov</strong><br>
                A user with the username: {{username}}, full name: {{full_name}}
                and phone number: {{phone_number}} just subscribed to {{project_name}}.</p>
              Follow this link to view the project --> {{ current_url}}
            </div>


            </div>
                  <a style="margin-top: 20px; background-color: #fd7014; border-color: #fd7014;" target='_blank' href="http://bit.ly/litelearn" class="mui-btn mui-btn-primary mui-btn-lg">Submit Your Review</a>
                </div>
              </div>
              </td></tr></table>
            </center>
          </td>
        </tr>
      </table>
    </body>
</html>