{% extends 'project/dashboard_base.html'%}
{% load staticfiles %}
{% block content %}
<html>
<head>
    <script src="{% static 'dashboard-resources/js/custom_js.js' %}"></script>
</head>
<body>
<!-- alert messages -->
{% if messages %}
    {% for message in messages %}
  <div id="flash_msg" class="modal fade col-md-offset-3" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="width:250px;height:3%;">
            <div class="modal-body text-center " style="color: #fff; background-color: {{color}};">
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
                </li>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
<div class="col-md-6">
          <div class="panel">
            <div class="panel-heading">
              <h4 class="panel-title">Add images to Event</h4>
              <p>Select an event and add its related images</p>
            </div>
            <div class="panel-body">
                <form enctype='multipart/form-data' method="POST" class="post-form">{% csrf_token %}
                 {{ form.as_p }}
                <br>
                   <button type="submit" class="save btn btn-default">Save Image</button>
                 </form>

            </div>
          </div><!-- panel -->
        </div>
</body>
</html>

{% endblock %}