{% extends 'project/dashboard_base.html'%}
{% load staticfiles %}
{% block content %}
<html>
<head>
     <script src="{% static 'dashboard-resources/js/custom_js.js' %}"></script>
</head>
    <body>
<div class="col-md-6">
          <div class="panel">
            <div class="panel-heading">
              <h4 class="panel-title">Edit Event</h4>
              <p>This form is used to edit specific Event</p>
            </div>
            <div class="panel-body">
                <form enctype='multipart/form-data' method="POST" class="post-form">{% csrf_token %}
                 {{ form.media }}
                    {{ form.as_p }}
                <br>
                   <button type="submit" class="save btn btn-default">Update Event</button>
                 </form>

            </div>
          </div><!-- panel -->
        </div>

 <script>
  $( function() {
    $( "#event_start_datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
  } );
  </script>
   <script src="//cloud.tinymce.com/stable/tinymce.min.js"></script>
  <script>tinymce.init({
  selector:'textarea',
  plugins: "link, wordcount, media",
  height: '300px', });</script>
</body>
</html>

{% endblock %}
