{% extends 'project/dashboard_base.html'%}
{% load staticfiles %}
<html>
<head>
    <body>
{% block content %}
                 <div class="panel panel-profile list-view">
              <div class="panel-heading">
                <div class="media">
                  <div class="media-left">
                    <a href="">
                      {% if dashboard_event_detail.event_image %}
                      <img class="project-details" src="{{ dashboard_event_detail.event_image.url }}" height="250px">
                    {% else %}
                <img src="{% static 'images/project_image.png'%}" alt="project image" height="250px"/>
            {% endif %}
                    </a>
                  </div>
                    <br>
                  <div class="media-body">
                    <h3 class="media-heading">{{ dashboard_event_detail.event_name }}</h3>
                    <h4>
                    <div readonly style="overflow-y:scroll; width:1000px; height:300px; border:none; background-color: #fffffff; font-weight: normal">
                    {{ dashboard_event_detail.event_description | safe}}
                    </div>
                    </h4>
                       <a href="{% url 'editEvent' pk=dashboard_event_detail.pk %}" class="btn btn-success btn-quirk btn-stroke">Edit Event</a>
                       <a  href="{% url 'delete_event' pk=dashboard_event_detail.pk %}" class="btn btn-danger btn-quirk btn-stroke pull-right">Delete</a>
                  </div>
                </div><!-- media -->
                <ul class="panel-options">
                  <li><a class="tooltips" href="" data-toggle="tooltip" title="View Options"><i class="glyphicon glyphicon-option-vertical"></i></a></li>
                </ul>
              </div><!-- panel-heading -->

              <div class="panel-body people-info">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>Location</label>
                      {{ dashboard_event_detail.venue }}
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>Region</label>
                      {{ dashboard_event_detail.region }}
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>Sub metro</label>
                      {{ dashboard_event_detail.sub_metro }}
                    </div>
                  </div>
                </div><!-- row -->
                  <div class="row">
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>Start Date</label>
                      {{ dashboard_event_detail.start_date }}
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="info-group">
                      <label>Event time</label>
                      {{ dashboard_event_detail.event_time }}
                    </div>
                  </div>

                </div><!-- row -->

              </div>
            </div><!-- panel -->
{% endblock %}

</body>
</head>
</html>
