{% extends 'project/dashboard_base.html'%}
<!--{% load index %}-->
<html>
<head>
    <body>


{% block content %}

{% for error in errors %}
<font color="red">{{ error }}</font>
{% endfor %}
<div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">List of Events</h4>
          <p>List of Events attended.</p>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped nomargin">
              <thead>
                <tr>
                  <th class="text-center">
                    <label class="ckbox ckbox-primary">
                      <input type="checkbox"><span></span>
                    </label>
                  </th>
                  <th>Event name</th>
                  <th>Location</th>

                  <th class="text-right">Start date</th>
                  <th class="text-right">Event time</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for event in list_of_events %}
                <tr>
                  <td class="text-center">
                    <label class="ckbox ckbox-primary">
                      <input type="checkbox"><span></span>
                    </label>
                  </td>
                  <td>
                      <a href="{% url 'eventDetail' pk=event.pk %}">
                      {{event.event_name}}
                      </a>
                  </td>
                  <td>{{event.venue | safe}}</td>
                  <td class="text-right">{{event.start_date}}</td>
                  <td class="text-right">{{event.event_time}}</td>
                  <td>
                    <ul class="table-options">
                      <li><a href="{% url 'editEvent' pk=event.pk %}">Edit <i class="fa fa-pencil fa-1x"></i></a></li>
                      <!--<li><a href="basic-tables.html"><i class="fa fa-trash"></i></a></li>-->
                    </ul>
                  </td>
                </tr>
               {% endfor %}
              </tbody>
            </table>
          </div><!-- table-responsive -->
        </div>
      </div><!-- panel -->

      {% endblock %}

</body>
</head>
</html>
