{% extends 'landingPage/base.html' %}
{% load staticfiles %}

<html>
{% block title %}
Events
{% endblock title %}
{% block content %}
	<body>
	<header>
			<div class="row h-third-row">
				<div class="m1170 p-relative h250">
					<div class="col-sm-12 h-page-name p-absolute" data-wow-delay="0.7s" data-wow-duration="1.5s">
						TransGov Events
						<div class="h-current-page">
							<a href="{% url 'homePage' %}" ><span class="f-orange">Home</span></a> <span class="f-slash">/</span><a ><span class="f-orange">Events</span></a>
						</div>
					</div>
				</div>
			</div>
		</header>
		<section><h2 class="hidden">TransGov</h2>
				<div class="row new-details">
					<div class="m1170">
						<div class="col-sm-9 top80">
                            {% if public_events %}
                            {% for event in public_events.object_list %}
							<article><h2 class="hidden">TransGov</h2>
								<div class="first-post">
									<div class="first-pict wow" data-wow-delay="0.7s" data-wow-duration="1.5s">
                    {% if event.event_image %}
										<a href="{% url 'publicEventDetail' pk=event.pk %}"> <img src="{{event.event_image.url}}" alt="Event"> </a>
                    {% else %}
                    <img src="{% static 'images/project_image.png'%}" alt="event image" height="250px"/>
                    {% endif %}
										<div class="pict-data uppercase">{{event.start_date}}</div>
									</div>
									<div class="font22 color333 extrabold uppercase top30 wow " data-wow-delay="0.7s" data-wow-duration="1.5s"><a href="{% url 'publicEventDetail' pk=event.pk %}">{{event.event_name}}</a></div>
									<div class="f-left p-right20 wow " data-wow-delay="0.7s" data-wow-duration="1.5s">
										<ul class="list-styles new-first-det start0 f-left top10">
											<li><a href=""><i class="fa fa-calendar">&nbsp;</i>{{event.start_date}}</a></li>
										</ul>
									</div>
									<div class="f-left wow " data-wow-delay="0.7s" data-wow-duration="1.5s">
										<ul class="list-styles new-first-det start0 f-left top10">
											<li><a href=""><i class="fa fa-location-arrow">&nbsp;</i>{{event.venue |safe}}</a></li>
											<li><a href=""><i class="fa fa-compass">&nbsp;</i>{{event.sub_metro}}</a></li>
										</ul>
									</div>
									<div class="clearfix"></div>
									<div class="s-row-line margin20 wow " data-wow-delay="0.7s" data-wow-duration="1.5s">
									</div>
                        {{ event.event_description | safe |truncatechars:400}} <a href="{% url 'publicEventDetail' pk=event.pk %}">Read more</a>

								</div>
							</article>
                            {% endfor %}
                            {% else %}
                            <p><h3>No Event Recorded</h3></p>
                            {% endif %}

							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			<div class="clearfix"></div>
            <!-- PAGINATION SETTINGS-->
            <div class="container">
  <div class="col-md-offset-5">
      <ul class="pagination">
          {% if public_events.has_previous %}
              <li><a href="?page={{ public_events.previous_page_number }}">«</a></li>
          {% endif %}
          {% for pg in public_events.paginator.page_range %}
              {% if public_events.number == pg %}
                  <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
              {% else %}
                  <li><a href="?page={{ pg }}">{{ pg }}</a></li>
              {% endif %}
          {% endfor %}
          {% if public_events.has_next %}
              <li><a href="?page={{ public_events.next_page_number }}">»</a></li>
          {% endif %}
      </ul>
    </div>
  </div>
		</section>
		{% endblock %}

	</body>
</html>
