{% extends "landingPage/base.html" %}

{% load staticfiles %}

{% block title %}
Event detail
{% endblock title %}
{% block content %}
<html>
<head>
  <link rel="stylesheet" href="{% static 'css/project-detail-view.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard-resources/lib/ionicons/css/ionicons.css' %}">
  <link rel="stylesheet" href="{% static 'css/morris.css' %}">
  <link rel="stylesheet" href="{% static 'css/modal.css' %}">


</head>
<body>
	<header>
   <div class="row h-third-row">
    <div class="m1170 p-relative h250">
     <div class="col-sm-12 h-page-name p-absolute" data-wow-delay="0.7s" data-wow-duration="1.5s">
      Event Details
      <div class="h-current-page">
       <a href="{% url 'homePage' %}" ><span class="f-orange">Home</span></a> <span class="f-slash">/</span><a href="" ><span class="f-orange">Event Details</span></a>
     </div>
   </div>
 </div>
</div>

</header>
<section><h2 class="hidden"></h2>
  <div class="row new-details">
   <div class="m1170">
    <div class="col-sm-9 top80">
     <article><h2 class="hidden"></h2>
      <div class="first-post">
       <div class="first-pict wow " data-wow-delay="0.7s" data-wow-duration="1.5s">
        {% if public_event_detail.event_image %}
         <img src="{{ public_event_detail.event_image.url }}" alt="event image">
        {% else %}
        <img src="{% static 'images/project_image.png'%}" alt="event image" height="250px"/>
        {% endif %}
         <div class="pict-data uppercase">{{ public_event_detail.start_date }}</div>
      </div>
      <div class="font22 color333 extrabold uppercase top30 wow" data-wow-delay="0.7s" data-wow-duration="1.5s"> {{public_event_detail.event_name}}
      </div>



        <div class="f-left p-right20 wow" data-wow-delay="0.7s" data-wow-duration="1.5s">
          <ul class="list-styles new-first-det start0 f-left top10">
           <li><i class="fa fa-globe">&nbsp;</i>{{ public_event_detail.venue }}</li>
           <li><i class="fa fa-compass">&nbsp;</i>{{ public_event_detail.region }}</li>
           <li><i class="fa fa-location-arrow">&nbsp;</i>{{ public_event_detail.sub_metro }}</li>
        </ul>
      </div>

      <div class="f-left wow" data-wow-delay="0.7s" data-wow-duration="1.5s">
        <ul class="list-styles new-first-det start0 f-left top10">
         <li>
           <div class="fb-share-button" data-href="{{request.build_absolute_url}}" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse"></a></div>
         </li>
       </ul>
     </div>


     <div class="clearfix"></div>
     <div class="s-row-line margin20" data-wow-delay="0.7s" data-wow-duration="1.5s">
     </div>
     <div class="color777 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
      <p> About Event</p>
       {{ public_event_detail.event_description | safe}}


    </div>
  </div>
       <br><br>

  </article>
  <br>
  <!--################################## PANEL FOR EXTRA INFORMATION #########################-->
  <div class="col-md-12 extra-information">
    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
          <div class="hidden-xs">Event Location</div>
        </button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
          <div class="hidden-xs">Event Images</div>
        </button>
      </div>
      <!--<div class="btn-group" role="group">-->
        <!--<button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>-->
          <!--<div class="hidden-xs">Project Information</div>-->
        <!--</button>-->
      <!--</div>-->
    </div>

    <div class="well-tab-content">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1">
          <!-- ########################## GOOGLE MAP URLS####################-->
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
          <script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyBjecI-6imH_4J_BNjUZtnSc-ggoFLh8yI"></script>

          <div id="map_canvas"></div>
          <script type="text/javascript">
            function initialize() {
              var map = new google.maps.Map(document.getElementById("map_canvas"));
              var bounds = new google.maps.LatLngBounds();
              function addMarker(lat, lng, title) {
                var position = new google.maps.LatLng(lat, lng);
                var marker = new google.maps.Marker({
                  position: position,
                  map: map,
                  title: title
                });
                bounds.extend(position);
              }

              addMarker({{public_event_detail.position}});

              map.fitBounds(bounds);
            }
            google.maps.event.addDomListener(window, 'load', initialize);

          </script>
          <!-- ########################## END OF GOOGLE MAP URL####################-->

        </div>
        <div class="tab-pane fade in" id="tab2">

          <!--##########################image gallery template##########################-->
          <div class="carousel slide article-slide" id="article-photo-carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner cont-slider">
             {% for images in public_event_detail.event_images.all %}

             <div class="item{% if forloop.first %} active{% endif %}">
              <img alt="" title="" src="{{ images.event_image.url }}">
            </div>
            {% endfor %}

          </div>
          <!-- Indicators -->
          <ol class="carousel-indicators">
           {% for images in public_event_detail.event_images.all %}
           <li class="active" data-slide-to="{{forloop.counter0}}" data-target="#article-photo-carousel">
            <img alt="project images" src="{{ images.event_image.url }}">
          </li>
          {% endfor %}
        </ol>
      </div>
    </div>
    <div class="tab-pane fade in" id="tab3">




     <!-- 3rd content-->

  </div>
</div>
</div>

</div>

<!--################################## END OF PANEL FOR EXTRA INFORMATION #########################-->

{% if instance.user.get_full_name%}
Author: {{instance.user.get_full_name}}
{% endif %}
<p>
 <div class="fb-like" data-href="{{request.build_absolute_url}}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
</p>
{{instance.content|linebreaks}}
<!-- Facebook commenting-->
<div class="fb-comments" data-href="{{request.build_absolute_url}}" data-numposts="5"></div>
</div>

<div class="col-sm-3 top80">
 <nav>

  <div class="clearfix"></div>
</nav>





</div>



</div>

</div>
</div>
<div class="clearfix"></div>


</section>

</body>

</html>


{% endblock content %}


