{% load staticfiles %}
<html>
<head>
  <!-- Base Css Files -->
       <link  rel="stylesheet" href="{% static 'libs/jqueryui/ui-lightness/jquery-ui-1.10.4.custom.min.css' %}" />
       <link  rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}" />
       <link  rel="stylesheet" href="{% static 'libs/font-awesome/css/font-awesome.min.css' %}" />
       <link  rel="stylesheet" href="{% static 'libs/fontello/css/fontello.css' %}" />
       <link  rel="stylesheet" href="{% static 'libs/animate-css/animate.min.css' %}" />
       <link  rel="stylesheet" href="{% static 'libs/nifty-modal/css/component.css' %}" />
       <link  rel="stylesheet" href="{% static 'libs/magnific-popup/magnific-popup.css' %}" />
       <link  rel="stylesheet" href="{% static 'libs/ios7-switch/ios7-switch.css' %}" />
       <link  rel="stylesheet" href="{% static 'libs/pace/pace.css' %}" />
       <link  rel="stylesheet" href="{% static 'libs/sortable/sortable-theme-bootstrap.css' %}" />
       <link rel="stylesheet" href="{% static 'libs/bootstrap-datepicker/css/datepicker.css' %}" />
       <link rel="stylesheet" href="{% static 'libs/jquery-icheck/skins/all.css' %}" />
       <!-- Code Highlighter for Demo -->
       <link rel="stylesheet" href="{% static 'libs/prettify/github.css' %}" />

               <!-- Extra CSS Libraries Start -->
               <link rel="stylesheet" href="{% static 'libs/rickshaw/rickshaw.min.css' %}" />
               <link rel="stylesheet" href="{% static 'libs/morrischart/morris.css' %}" />
               <link rel="stylesheet" href="{% static 'libs/jquery-jvectormap/css/jquery-jvectormap-1.2.2.css' %}" />
               <link rel="stylesheet" href="{% static 'libs/jquery-clock/clock.css' %}" />
               <link rel="stylesheet" href="{% static 'libs/bootstrap-calendar/css/bic_calendar.css' %}" />
               <link rel="stylesheet" href="{% static 'libs/sortable/sortable-theme-bootstrap.css' %}" />
               <link rel="stylesheet" href="{% static 'libs/jquery-weather/simpleweather.css' %}" />
               <link rel="stylesheet" href="{% static 'libs/bootstrap-xeditable/css/bootstrap-editable.css' %}" />
               <link rel="stylesheet" href="{% static 'css/style.css' %}" />
               <!-- Extra CSS Libraries End -->
               <link href="{% static 'css/style-responsive.css" rel="stylesheet' %}" />

    </head>

{% block content%}{% endblock %}
 </script>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="{% static 'libs/jquery/jquery-1.11.1.min.js' %} "></script>
  <script src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'libs/jqueryui/jquery-ui-1.10.4.custom.min.js' %}"></script>
  <script src="{% static 'libs/jquery-ui-touch/jquery.ui.touch-punch.min.js' %}"></script>
  <script src="{% static 'libs/jquery-detectmobile/detect.js' %}"></script>
  <script src="{% static 'libs/jquery-animate-numbers/jquery.animateNumbers.js' %}"></script>
  <script src="{% static 'libs/ios7-switch/ios7.switch.js' %}"></script>
  <script src="{% static 'libs/fastclick/fastclick.js' %}"></script>
  <script src="{% static 'libs/jquery-blockui/jquery.blockUI.js' %}"></script>
  <script src="{% static 'libs/bootstrap-bootbox/bootbox.min.js' %}"></script>
  <script src="{% static 'libs/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
  <script src="{% static 'libs/jquery-sparkline/jquery-sparkline.js' %}"></script>
  <script src="{% static 'libs/nifty-modal/js/classie.js' %}"></script>
  <script src="{% static 'libs/nifty-modal/js/modalEffects.js' %}"></script>
  <script src="{% static 'libs/sortable/sortable.min.js"></script>
  <script src="{% static 'libs/bootstrap-fileinput/bootstrap.file-input.js' %}"></script>
  <script src="{% static 'libs/bootstrap-select/bootstrap-select.min.js' %}"></script>
  <script src="{% static 'libs/bootstrap-select2/select2.min.js' %}"></script>
  <script src="{% static 'libs/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'libs/pace/pace.min.js' %}"></script>
  <script src="{% static 'libs/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
  <script src="{% static 'libs/jquery-icheck/icheck.min.js' %}"></script>

  <!-- Demo Specific JS Libraries -->
  <script src="{% static 'libs/prettify/prettify.js' %}"></script>

  <script src="{% static 'js/init.js' %}"></script>
  <!-- Page Specific JS Libraries -->
  <script src="{% static 'libs/d3/d3.v3.js' %}"></script>
  <script src="{% static 'libs/rickshaw/rickshaw.min.js' %}"></script>
  <script src="{% static 'libs/raphael/raphael-min.js' %}"></script>
  <script src="{% static 'libs/morrischart/morris.min.js' %}"></script>
  <script src="{% static 'libs/jquery-knob/jquery.knob.js' %}"></script>
  <script src="{% static 'libs/jquery-jvectormap/js/jquery-jvectormap-1.2.2.min.js' %}"></script>
  <script src="{% static 'libs/jquery-jvectormap/js/jquery-jvectormap-us-aea-en.js' %}"></script>
  <script src="{% static 'libs/jquery-clock/clock.js' %}"></script>
  <script src="{% static 'libs/jquery-easypiechart/jquery.easypiechart.min.js' %}"></script>
  <script src="{% static 'libs/jquery-weather/jquery.simpleWeather-2.6.min.js' %}"></script>

