{% extends "base.html" %}
{% load template_attr %}
{% block content %}
<div style="margin-top:10%;margin-left:30%;" class="col-sm-6 portlets ui-sortable">
<center>
<div class="widget">
							<div class="widget-header transparent">

							</div>
							<div class="widget-content padding">
								<div id="basic-form">

                                    <div class="row">
                                        <div class="col-lg-12">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
<div class="form-group">
        <label>{{ form.username.label }}</label>

        {{ form.username |htmlattributes:"class : form-control, id: username" }}
</div>
        <div class="form-group">
        <label>{{ form.password.label }}</label>
        {{ form.password  |htmlattributes:"class : form-control, id: password"}}
</div>
        {% if form.errors %}
            <div class="form-error">
                <span>Your username and password didn't match. Please try again.</span>
            </div>
        {% endif %}
        <input type="hidden" name="next" value="{% url 'view' %}" />
        <input type="submit" value="login" />
        <p>Dont have an account? Get one <a href="{% url 'register'%} ">register</a> Or go <a href="/project">home</a></p>

    </form>

                                            </div></div>
                                    </div></div>
</center>
    </div>
{% endblock %}
