{% extends 'project/dashboard_base.html'%}
{% load staticfiles %}
{% block content %}
<head>
        <script src="{% static 'dashboard-resources/js/custom_js.js' %}"></script>
</head>
<body>
Project details page for images.
<h1>{{ project_info_details.project_name }}</h1>


<!-- alert messages -->
{% if messages %}
    {% for message in messages %}
  <div id="flash_msg" class="modal fade col-md-offset-3" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="width:250px;height:3%;">
            <div class="modal-body text-center " style="color: #fff; background-color: {{color}};">
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
                </li>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
<div class="col-md-6">
          <div class="panel">
            <div class="panel-heading">
              <h4 class="panel-title">Add images to project</h4>
              <p>Add more images to project</p>
            </div>
            <div class="panel-body">
                <form enctype='multipart/form-data' method="POST" class="post-form">{% csrf_token %}
                  {% csrf_token %}

                {{ formset.management_form }}
                {% for form in formset %}
                    {{ form.as_p }}
                {% endfor %}

                <br>
                   <button type="submit" class="save btn btn-default">Save Images</button>
                 </form>

            </div>
          </div><!-- panel -->
        </div>

</body>
</html>
{% endblock %}
