{% extends 'project/dashboard_base.html'%}
<!--{% load index %}-->

{% block content %}


<ol class="breadcrumb breadcrumb-quirk">
        <li><a href=""><i class="fa fa-home mr5"></i> Projects</a></li>
        <li><a href="{% url 'viewProjectsonDashboard'%}">list of projects</a></li>
        <li class="active">all projects</li>
      </ol>
<div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">Click on project to add images</h4>
          <p>List of projects. Click on project name to add images to that project</p>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped nomargin">
              <thead>
                <tr>
                  <th class="text-center">
                    <label class="ckbox ckbox-primary">
                      <input type="checkbox"><span></span>
                    </label>
                  </th>
                  <th>Project name</th>
                  <th>Location</th>
                  <th class="text-center">Status</th>
                  <th>Complete %</th>
                  <th class="text-right">Start date</th>
                  <th class="text-right">End date</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for projects in project_list %}
                <tr>
                  <td class="text-center">
                    <label class="ckbox ckbox-primary">
                      <input type="checkbox"><span></span>
                    </label>
                  </td>
                  <td>
                      <a href="{% url 'addImagesToProject' pk=projects.pk %}">
                      {{projects.project_name}}
                      </a>
                  </td>
                  <td>{{projects.project_location}}</td>
                  <td class="text-center">{{projects.project_status}}</td>
                  <td class="text-center">{{projects.completeness}} %</td>
                  <td class="text-right">{{projects.start_date}}</td>
                  <td class="text-right">{{projects.end_date}}</td>
                  <td>
                    <ul class="table-options">
                      <li><a href="{%url 'editProjectInfo' pk=projects.pk%}"><i class="fa fa-pencil fa-1x"></i></a></li>
                      <!--<li><a href="basic-tables.html"><i class="fa fa-trash"></i></a></li>-->
                    </ul>
                  </td>
                </tr>
               {% endfor %}
              </tbody>
            </table>
          </div><!-- table-responsive -->
        </div>

      </div><!-- panel -->

      {% endblock %}

